# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# Family & Device:    iCE40HX4K

# Package:            TQ144

# ##############################################################################

###IOSet List 4

# FPGA
set_io ICE_SYSCLK 93

# Debug
set_io DEBUG_5 81
set_io DEBUG_6 82
set_io DEBUG_0 83
set_io DEBUG_1 84
set_io DEBUG_2 85
set_io DEBUG_3 87
# NetTP8
set_io DEBUG_8 63
# NetTP9
set_io DEBUG_9 64

# FT2232H UART
set_io DCD 73
set_io DSR 74
set_io DTR 75
set_io CTS 76
set_io RST 78
set_io UART_TX 79
set_io UART_RX 80

# SPI
set_io SEN 141
set_io SCK 144
set_io SOUT 139
set_io SDAT 143

# Bluejay Control
# Control Signals
set_io UPDATE 88
set_io RESET 142
set_io SLM_CLK 95
set_io INVERT 91
set_io SYNC 90
set_io VALID 94

# Data
set_io DATA31 137 
set_io DATA0  138 
set_io DATA30 136 
set_io DATA29 135
set_io DATA1  134
set_io DATA28 130
set_io DATA27 129
set_io DATA2  128
set_io DATA26 125
set_io DATA25 124
set_io DATA3  122
set_io DATA24 121
set_io DATA23 120
set_io DATA4  119
set_io DATA22 118
set_io DATA21 117
set_io DATA5  116
set_io DATA20 115
set_io DATA19 114
set_io DATA6  113
set_io DATA18 112
set_io DATA17 110
set_io DATA7  107
set_io DATA16 106
set_io DATA15 105
set_io DATA8  104
set_io DATA14 102
set_io DATA13 101
set_io DATA9  99
set_io DATA12 98
set_io DATA11 97
set_io DATA10 96

# FT601
# Bank 3 Pins
set_io FT_OE 2
set_io FT_RD 3
set_io FT_WR 4
set_io FT_SIWU 7
set_io FR_RXF 8
set_io FT_TXE 9
set_io FIFO_BE3 10
set_io FIFO_BE2 11
set_io FIFO_BE1 12
set_io FIFO_BE0 15
set_io FIFO_D31 16
set_io FIFO_D30 17
set_io FIFO_D29 18
set_io FIFO_D28 19
set_io FIFO_D27 20
set_io FIFO_CLK 21
set_io FIFO_D26 22
set_io FIFO_D25 23
set_io FIFO_D24 24
set_io FIFO_D23 25
set_io FIFO_D22 26
set_io FIFO_D21 28
set_io FIFO_D20 29
set_io FIFO_D19 31
set_io FIFO_D18 32
set_io FIFO_D17 33
set_io FIFO_D16 34
# Bank 2 Pins
set_io FIFO_D15 37
set_io FIFO_D14 38
set_io FIFO_D13 39
set_io FIFO_D12 41
set_io FIFO_D11 42
set_io FIFO_D10 43
set_io FIFO_D9  44
set_io FIFO_D8  45
set_io FIFO_D7  47
set_io FIFO_D6  48
set_io FIFO_D5  49
set_io FIFO_D4  55
set_io FIFO_D3  56
set_io FIFO_D2  60
set_io FIFO_D1  61
set_io FIFO_D0  62

# Programming
set_io ICE_CLK 52
set_io ICE_CDONE 65
set_io ICE_CREST 66
#set_io ICE_MISO 67
#set_io ICE_MOSI 68
#set_io ICE_SCK  70
#set_io ICE_SS_B 71

# Unused




