set_location i1016_2_lut 22 10 0 # SB_LUT4 (LogicCell: even_byte_flag_214_LC_0)
set_location even_byte_flag_214 22 10 0 # SB_DFF (LogicCell: even_byte_flag_214_LC_0)
set_location i1027_2_lut_3_lut_4_lut 11 11 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r__i0_LC_1)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i0 11 11 4 # SB_DFFSR (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r__i0_LC_1)
set_location i1028_2_lut_3_lut_4_lut 11 11 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_r__i0_LC_2)
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i0 11 11 3 # SB_DFFSR (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_r__i0_LC_2)
set_location i13_3_lut_4_lut 19 9 6 # SB_LUT4 (LogicCell: i13_3_lut_4_lut_LC_3)
set_location i1576_3_lut 16 14 0 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i0_LC_4)
set_location tx_data_byte_r_i0_i0 16 14 0 # SB_DFF (LogicCell: tx_data_byte_r_i0_i0_LC_4)
set_location i1577_3_lut 14 14 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i155_156_LC_5)
set_location tx_fifo.lscc_fifo_inst.i155_156 14 14 4 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i155_156_LC_5)
set_location i1580_4_lut 10 15 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i3_LC_6)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i3 10 15 0 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i3_LC_6)
set_location i1582_3_lut 10 13 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i152_153_LC_7)
set_location tx_fifo.lscc_fifo_inst.i152_153 10 13 3 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i152_153_LC_7)
set_location i1585_4_lut_4_lut_4_lut 15 12 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_r__i1_LC_8)
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i1 15 12 7 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_r__i1_LC_8)
set_location i1586_3_lut 13 12 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i149_150_LC_9)
set_location tx_fifo.lscc_fifo_inst.i149_150 13 12 5 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i149_150_LC_9)
set_location i1589_4_lut 10 15 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i4_LC_10)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i4 10 15 4 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i4_LC_10)
set_location i1591_3_lut 13 15 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i146_147_LC_11)
set_location tx_fifo.lscc_fifo_inst.i146_147 13 15 6 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i146_147_LC_11)
set_location i1592_3_lut 13 15 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i143_144_LC_12)
set_location tx_fifo.lscc_fifo_inst.i143_144 13 15 4 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i143_144_LC_12)
set_location i1595_4_lut_4_lut 15 11 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_r__i2_LC_13)
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i2 15 11 6 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_r__i2_LC_13)
set_location i1596_4_lut_4_lut 11 10 4 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Active_46_LC_14)
set_location pc_tx.r_Tx_Active_46 11 10 4 # SB_DFF (LogicCell: pc_tx.r_Tx_Active_46_LC_14)
set_location i1597_3_lut 10 13 7 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i0_LC_15)
set_location pc_tx.r_Tx_Data_i0 10 13 7 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i0_LC_15)
set_location i1598_3_lut 13 14 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i140_141_LC_16)
set_location tx_fifo.lscc_fifo_inst.i140_141 13 14 7 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i140_141_LC_16)
set_location i1601_3_lut 13 12 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i137_138_LC_17)
set_location tx_fifo.lscc_fifo_inst.i137_138 13 12 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i137_138_LC_17)
set_location i1603_3_lut 16 16 1 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i0_LC_18)
set_location spi0.Rx_Lower_Byte_i0 16 16 1 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i0_LC_18)
set_location i1604_3_lut 11 14 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i134_135_LC_19)
set_location tx_fifo.lscc_fifo_inst.i134_135 11 14 1 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i134_135_LC_19)
set_location i1608_3_lut 14 14 2 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i0_LC_20)
set_location tx_addr_byte_r_i0_i0 14 14 2 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i0_LC_20)
set_location i1609_4_lut 20 13 7 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i1_LC_21)
set_location pc_rx.r_Rx_Byte_i1 20 13 7 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i1_LC_21)
set_location i1610_4_lut 20 11 2 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i2_LC_22)
set_location pc_rx.r_Rx_Byte_i2 20 11 2 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i2_LC_22)
set_location i1612_4_lut 19 13 3 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i3_LC_23)
set_location pc_rx.r_Rx_Byte_i3 19 13 3 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i3_LC_23)
set_location i1615_4_lut 9 14 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i5_LC_24)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i5 9 14 4 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i5_LC_24)
set_location i1618_4_lut 10 15 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i6_LC_25)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i6 10 15 6 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i6_LC_25)
set_location i1619_4_lut 20 12 4 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i4_LC_26)
set_location pc_rx.r_Rx_Byte_i4 20 12 4 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i4_LC_26)
set_location i1620_4_lut 20 13 3 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i5_LC_27)
set_location pc_rx.r_Rx_Byte_i5 20 13 3 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i5_LC_27)
set_location i1621_4_lut 19 13 1 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i6_LC_28)
set_location pc_rx.r_Rx_Byte_i6 19 13 1 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i6_LC_28)
set_location i1622_4_lut 19 13 6 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i7_LC_29)
set_location pc_rx.r_Rx_Byte_i7 19 13 6 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i7_LC_29)
set_location i1625_4_lut_4_lut 12 13 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r__i1_LC_30)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i1 12 13 0 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r__i1_LC_30)
set_location i1628_4_lut_4_lut 13 11 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r__i2_LC_31)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i2 13 11 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r__i2_LC_31)
set_location i1629_2_lut 22 9 3 # SB_LUT4 (LogicCell: debug_check_211_LC_32)
set_location debug_check_211 22 9 3 # SB_DFF (LogicCell: debug_check_211_LC_32)
set_location i1630_2_lut_3_lut 11 14 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86_LC_33)
set_location tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86 11 14 3 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86_LC_33)
set_location i1637_2_lut 16 12 5 # SB_LUT4 (LogicCell: spi_busy_falling_edge_202_LC_34)
set_location spi_busy_falling_edge_202 16 12 5 # SB_DFF (LogicCell: spi_busy_falling_edge_202_LC_34)
set_location i1638_2_lut 15 12 0 # SB_LUT4 (LogicCell: fifo_write_cmd_204_LC_35)
set_location fifo_write_cmd_204 15 12 0 # SB_DFF (LogicCell: fifo_write_cmd_204_LC_35)
set_location i1641_4_lut 11 14 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i7_LC_36)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i7 11 14 6 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i7_LC_36)
set_location i1642_3_lut 19 15 0 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i7_LC_37)
set_location tx_data_byte_r_i0_i7 19 15 0 # SB_DFF (LogicCell: tx_data_byte_r_i0_i7_LC_37)
set_location i1643_3_lut 17 13 2 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i6_LC_38)
set_location tx_data_byte_r_i0_i6 17 13 2 # SB_DFF (LogicCell: tx_data_byte_r_i0_i6_LC_38)
set_location i1644_3_lut 18 14 5 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i5_LC_39)
set_location tx_data_byte_r_i0_i5 18 14 5 # SB_DFF (LogicCell: tx_data_byte_r_i0_i5_LC_39)
set_location i1645_3_lut 17 12 0 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i4_LC_40)
set_location tx_data_byte_r_i0_i4 17 12 0 # SB_DFF (LogicCell: tx_data_byte_r_i0_i4_LC_40)
set_location i1646_3_lut 13 15 3 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i7_LC_41)
set_location tx_addr_byte_r_i0_i7 13 15 3 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i7_LC_41)
set_location i1647_3_lut 15 13 0 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i6_LC_42)
set_location tx_addr_byte_r_i0_i6 15 13 0 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i6_LC_42)
set_location i1648_3_lut 16 14 2 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i5_LC_43)
set_location tx_addr_byte_r_i0_i5 16 14 2 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i5_LC_43)
set_location i1649_3_lut 13 14 0 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i4_LC_44)
set_location tx_addr_byte_r_i0_i4 13 14 0 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i4_LC_44)
set_location i1650_3_lut 13 15 5 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i3_LC_45)
set_location tx_addr_byte_r_i0_i3 13 15 5 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i3_LC_45)
set_location i1651_3_lut 18 16 0 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i2_LC_46)
set_location tx_addr_byte_r_i0_i2 18 16 0 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i2_LC_46)
set_location i1652_3_lut 17 15 4 # SB_LUT4 (LogicCell: tx_addr_byte_r_i0_i1_LC_47)
set_location tx_addr_byte_r_i0_i1 17 15 4 # SB_DFF (LogicCell: tx_addr_byte_r_i0_i1_LC_47)
set_location i1656_4_lut_4_lut 10 13 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i0_LC_48)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i0 10 13 4 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i0_LC_48)
set_location i1657_3_lut_4_lut 11 10 6 # SB_LUT4 (LogicCell: start_tx_206_LC_49)
set_location start_tx_206 11 10 6 # SB_DFF (LogicCell: start_tx_206_LC_49)
set_location i1660_3_lut 10 10 2 # SB_LUT4 (LogicCell: pc_tx.r_Bit_Index_i0_LC_50)
set_location pc_tx.r_Bit_Index_i0 10 10 2 # SB_DFF (LogicCell: pc_tx.r_Bit_Index_i0_LC_50)
set_location i1663_4_lut 20 11 6 # SB_LUT4 (LogicCell: pc_rx.r_Bit_Index_i0_LC_51)
set_location pc_rx.r_Bit_Index_i0 20 11 6 # SB_DFF (LogicCell: pc_rx.r_Bit_Index_i0_LC_51)
set_location i1672_3_lut 17 16 2 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i7_LC_52)
set_location spi0.Rx_Lower_Byte_i7 17 16 2 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i7_LC_52)
set_location i1676_3_lut 16 16 4 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i6_LC_53)
set_location spi0.Rx_Lower_Byte_i6 16 16 4 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i6_LC_53)
set_location i1677_3_lut 17 16 5 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i5_LC_54)
set_location spi0.Rx_Lower_Byte_i5 17 16 5 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i5_LC_54)
set_location i1678_3_lut 17 16 3 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i4_LC_55)
set_location spi0.Rx_Lower_Byte_i4 17 16 3 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i4_LC_55)
set_location i1679_3_lut 16 16 5 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i3_LC_56)
set_location spi0.Rx_Lower_Byte_i3 16 16 5 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i3_LC_56)
set_location i1680_3_lut 17 16 4 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i2_LC_57)
set_location spi0.Rx_Lower_Byte_i2 17 16 4 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i2_LC_57)
set_location i1681_3_lut 16 16 2 # SB_LUT4 (LogicCell: spi0.Rx_Lower_Byte_i1_LC_58)
set_location spi0.Rx_Lower_Byte_i1 16 16 2 # SB_DFF (LogicCell: spi0.Rx_Lower_Byte_i1_LC_58)
set_location i1682_4_lut 20 13 1 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Byte_i0_LC_59)
set_location pc_rx.r_Rx_Byte_i0 20 13 1 # SB_DFF (LogicCell: pc_rx.r_Rx_Byte_i0_LC_59)
set_location i1683_4_lut 14 15 1 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i14_LC_60)
set_location spi0.tx_shift_reg_i14 14 15 1 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i14_LC_60)
set_location i1684_4_lut 14 15 7 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i13_LC_61)
set_location spi0.tx_shift_reg_i13 14 15 7 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i13_LC_61)
set_location i1685_4_lut 13 16 1 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i12_LC_62)
set_location spi0.tx_shift_reg_i12 13 16 1 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i12_LC_62)
set_location i1686_4_lut 13 16 6 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i11_LC_63)
set_location spi0.tx_shift_reg_i11 13 16 6 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i11_LC_63)
set_location i1687_4_lut 13 16 7 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i10_LC_64)
set_location spi0.tx_shift_reg_i10 13 16 7 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i10_LC_64)
set_location i1688_4_lut 14 16 7 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i9_LC_65)
set_location spi0.tx_shift_reg_i9 14 16 7 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i9_LC_65)
set_location i1689_4_lut 14 16 5 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i8_LC_66)
set_location spi0.tx_shift_reg_i8 14 16 5 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i8_LC_66)
set_location i1690_4_lut 14 16 6 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i7_LC_67)
set_location spi0.tx_shift_reg_i7 14 16 6 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i7_LC_67)
set_location i1691_3_lut 14 11 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i326_327_LC_68)
set_location tx_fifo.lscc_fifo_inst.i326_327 14 11 1 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i326_327_LC_68)
set_location i1692_3_lut 12 12 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i329_330_LC_69)
set_location tx_fifo.lscc_fifo_inst.i329_330 12 12 6 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i329_330_LC_69)
set_location i1693_3_lut 12 14 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i332_333_LC_70)
set_location tx_fifo.lscc_fifo_inst.i332_333 12 14 5 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i332_333_LC_70)
set_location i1694_3_lut 13 14 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i335_336_LC_71)
set_location tx_fifo.lscc_fifo_inst.i335_336 13 14 3 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i335_336_LC_71)
set_location i1695_3_lut 12 11 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i338_339_LC_72)
set_location tx_fifo.lscc_fifo_inst.i338_339 12 11 4 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i338_339_LC_72)
set_location i1696_3_lut 12 13 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i341_342_LC_73)
set_location tx_fifo.lscc_fifo_inst.i341_342 12 13 3 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i341_342_LC_73)
set_location i1697_3_lut 13 13 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i344_345_LC_74)
set_location tx_fifo.lscc_fifo_inst.i344_345 13 13 5 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i344_345_LC_74)
set_location i1698_3_lut 12 13 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i347_348_LC_75)
set_location tx_fifo.lscc_fifo_inst.i347_348 12 13 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i347_348_LC_75)
set_location i1699_4_lut 14 16 0 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i6_LC_76)
set_location spi0.tx_shift_reg_i6 14 16 0 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i6_LC_76)
set_location i1700_4_lut 14 16 4 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i5_LC_77)
set_location spi0.tx_shift_reg_i5 14 16 4 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i5_LC_77)
set_location i1701_4_lut 14 16 1 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i4_LC_78)
set_location spi0.tx_shift_reg_i4 14 16 1 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i4_LC_78)
set_location i1702_4_lut 13 16 5 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i3_LC_79)
set_location spi0.tx_shift_reg_i3 13 16 5 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i3_LC_79)
set_location i1703_3_lut 13 13 3 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i3_LC_80)
set_location tx_data_byte_r_i0_i3 13 13 3 # SB_DFF (LogicCell: tx_data_byte_r_i0_i3_LC_80)
set_location i1704_4_lut 14 16 2 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i2_LC_81)
set_location spi0.tx_shift_reg_i2 14 16 2 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i2_LC_81)
set_location i1705_3_lut 18 16 2 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i2_LC_82)
set_location tx_data_byte_r_i0_i2 18 16 2 # SB_DFF (LogicCell: tx_data_byte_r_i0_i2_LC_82)
set_location i1706_4_lut 14 15 6 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i1_LC_83)
set_location spi0.tx_shift_reg_i1 14 15 6 # SB_DFFN (LogicCell: spi0.tx_shift_reg_i1_LC_83)
set_location i1707_3_lut 12 10 3 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i7_LC_84)
set_location pc_tx.r_Tx_Data_i7 12 10 3 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i7_LC_84)
set_location i1708_3_lut 12 14 1 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i6_LC_85)
set_location pc_tx.r_Tx_Data_i6 12 14 1 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i6_LC_85)
set_location i1709_3_lut 10 15 5 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i5_LC_86)
set_location pc_tx.r_Tx_Data_i5 10 15 5 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i5_LC_86)
set_location i1711_3_lut 10 15 2 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i4_LC_87)
set_location pc_tx.r_Tx_Data_i4 10 15 2 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i4_LC_87)
set_location i1712_3_lut 9 13 7 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i3_LC_88)
set_location pc_tx.r_Tx_Data_i3 9 13 7 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i3_LC_88)
set_location i1713_3_lut 9 14 3 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i2_LC_89)
set_location pc_tx.r_Tx_Data_i2 9 14 3 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i2_LC_89)
set_location i1714_3_lut 11 13 4 # SB_LUT4 (LogicCell: pc_tx.r_Tx_Data_i1_LC_90)
set_location pc_tx.r_Tx_Data_i1 11 13 4 # SB_DFF (LogicCell: pc_tx.r_Tx_Data_i1_LC_90)
set_location i1715_3_lut 17 15 0 # SB_LUT4 (LogicCell: tx_data_byte_r_i0_i1_LC_91)
set_location tx_data_byte_r_i0_i1 17 15 0 # SB_DFF (LogicCell: tx_data_byte_r_i0_i1_LC_91)
set_location i1720_4_lut_4_lut 13 13 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1_LC_92)
set_location tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1 13 13 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1_LC_92)
set_location i1723_4_lut_4_lut 9 14 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i2_LC_93)
set_location tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i2 9 14 7 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i2_LC_93)
set_location i1_2_lut 17 17 6 # SB_LUT4 (LogicCell: spi0.rx__5_i7_LC_94)
set_location spi0.rx__5_i7 17 17 6 # SB_DFF (LogicCell: spi0.rx__5_i7_LC_94)
set_location i1_2_lut_3_lut 10 18 1 # SB_LUT4 (LogicCell: reset_clk_counter_i3_582__i1_LC_95)
set_location reset_clk_counter_i3_582__i1 10 18 1 # SB_DFF (LogicCell: reset_clk_counter_i3_582__i1_LC_95)
set_location i1_2_lut_3_lut_4_lut 10 18 3 # SB_LUT4 (LogicCell: reset_clk_counter_i3_582__i2_LC_96)
set_location reset_clk_counter_i3_582__i2 10 18 3 # SB_DFF (LogicCell: reset_clk_counter_i3_582__i2_LC_96)
set_location i1_2_lut_3_lut_4_lut_adj_28 11 14 5 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_4_lut_adj_28_LC_97)
set_location i1_2_lut_4_lut 19 11 1 # SB_LUT4 (LogicCell: pc_rx.r_SM_Main_i2_LC_98)
set_location pc_rx.r_SM_Main_i2 19 11 1 # SB_DFF (LogicCell: pc_rx.r_SM_Main_i2_LC_98)
set_location i1_2_lut_adj_18 17 17 1 # SB_LUT4 (LogicCell: spi0.rx__5_i8_LC_99)
set_location spi0.rx__5_i8 17 17 1 # SB_DFF (LogicCell: spi0.rx__5_i8_LC_99)
set_location i1_2_lut_adj_19 10 18 6 # SB_LUT4 (LogicCell: reset_clk_counter_i3_582__i0_LC_100)
set_location reset_clk_counter_i3_582__i0 10 18 6 # SB_DFF (LogicCell: reset_clk_counter_i3_582__i0_LC_100)
set_location i1_2_lut_adj_20 14 17 5 # SB_LUT4 (LogicCell: spi0.rx__5_i1_LC_101)
set_location spi0.rx__5_i1 14 17 5 # SB_DFF (LogicCell: spi0.rx__5_i1_LC_101)
set_location i1_2_lut_adj_21 14 17 0 # SB_LUT4 (LogicCell: spi0.rx__5_i2_LC_102)
set_location spi0.rx__5_i2 14 17 0 # SB_DFF (LogicCell: spi0.rx__5_i2_LC_102)
set_location i1_2_lut_adj_23 14 17 6 # SB_LUT4 (LogicCell: spi0.rx__5_i3_LC_103)
set_location spi0.rx__5_i3 14 17 6 # SB_DFF (LogicCell: spi0.rx__5_i3_LC_103)
set_location i1_2_lut_adj_24 17 16 0 # SB_LUT4 (LogicCell: spi0.rx__5_i4_LC_104)
set_location spi0.rx__5_i4 17 16 0 # SB_DFF (LogicCell: spi0.rx__5_i4_LC_104)
set_location i1_2_lut_adj_25 17 16 6 # SB_LUT4 (LogicCell: spi0.rx__5_i5_LC_105)
set_location spi0.rx__5_i5 17 16 6 # SB_DFF (LogicCell: spi0.rx__5_i5_LC_105)
set_location i1_2_lut_adj_26 17 17 4 # SB_LUT4 (LogicCell: spi0.rx__5_i9_LC_106)
set_location spi0.rx__5_i9 17 17 4 # SB_DFF (LogicCell: spi0.rx__5_i9_LC_106)
set_location i1_2_lut_adj_27 17 16 7 # SB_LUT4 (LogicCell: spi0.rx__5_i6_LC_107)
set_location spi0.rx__5_i6 17 16 7 # SB_DFF (LogicCell: spi0.rx__5_i6_LC_107)
set_location i1_3_lut 12 11 2 # SB_LUT4 (LogicCell: i1_3_lut_LC_108)
set_location i1_3_lut_4_lut 12 11 7 # SB_LUT4 (LogicCell: i1_3_lut_4_lut_LC_109)
set_location i1_3_lut_4_lut_adj_29 10 18 5 # SB_LUT4 (LogicCell: reset_clk_counter_i3_582__i3_LC_110)
set_location reset_clk_counter_i3_582__i3 10 18 5 # SB_DFF (LogicCell: reset_clk_counter_i3_582__i3_LC_110)
set_location i1_4_lut 15 12 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.full_r_84_LC_111)
set_location tx_fifo.lscc_fifo_inst.full_r_84 15 12 4 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.full_r_84_LC_111)
set_location i1_4_lut_4_lut 15 12 3 # SB_LUT4 (LogicCell: i1_4_lut_4_lut_LC_112)
set_location i1_4_lut_adj_22 17 13 7 # SB_LUT4 (LogicCell: spi0.start_transfer_edge_73_LC_113)
set_location spi0.start_transfer_edge_73 17 13 7 # SB_DFF (LogicCell: spi0.start_transfer_edge_73_LC_113)
set_location i1_4_lut_adj_30 12 11 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.empty_r_85_LC_114)
set_location tx_fifo.lscc_fifo_inst.empty_r_85 12 11 3 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.empty_r_85_LC_114)
set_location i1_4_lut_adj_31 12 11 1 # SB_LUT4 (LogicCell: i1_4_lut_adj_31_LC_115)
set_location i2550_2_lut 10 18 4 # SB_LUT4 (LogicCell: i2550_2_lut_LC_116)
set_location i2889_4_lut 15 12 2 # SB_LUT4 (LogicCell: i2889_4_lut_LC_117)
set_location i2902_4_lut 13 11 6 # SB_LUT4 (LogicCell: i2902_4_lut_LC_118)
set_location i2974_2_lut 11 9 1 # SB_LUT4 (LogicCell: fifo_read_cmd_205_LC_119)
set_location fifo_read_cmd_205 11 9 1 # SB_DFF (LogicCell: fifo_read_cmd_205_LC_119)
set_location i3_4_lut 10 18 0 # SB_LUT4 (LogicCell: i3_4_lut_LC_120)
set_location i3_4_lut_4_lut 11 10 0 # SB_LUT4 (LogicCell: pc_tx.r_SM_Main_i2_LC_121)
set_location pc_tx.r_SM_Main_i2 11 10 0 # SB_DFF (LogicCell: pc_tx.r_SM_Main_i2_LC_121)
set_location i529_4_lut 15 16 0 # SB_LUT4 (LogicCell: i529_4_lut_LC_122)
set_location led_counter_581_788_add_4_10_lut 24 7 0 # SB_LUT4 (LogicCell: led_counter_581_788__i8_LC_123)
set_location led_counter_581_788__i8 24 7 0 # SB_DFF (LogicCell: led_counter_581_788__i8_LC_123)
set_location led_counter_581_788_add_4_10 24 7 0 # SB_CARRY (LogicCell: led_counter_581_788__i8_LC_123)
set_location led_counter_581_788_add_4_11_lut 24 7 1 # SB_LUT4 (LogicCell: led_counter_581_788__i9_LC_124)
set_location led_counter_581_788__i9 24 7 1 # SB_DFF (LogicCell: led_counter_581_788__i9_LC_124)
set_location led_counter_581_788_add_4_11 24 7 1 # SB_CARRY (LogicCell: led_counter_581_788__i9_LC_124)
set_location led_counter_581_788_add_4_12_lut 24 7 2 # SB_LUT4 (LogicCell: led_counter_581_788__i10_LC_125)
set_location led_counter_581_788__i10 24 7 2 # SB_DFF (LogicCell: led_counter_581_788__i10_LC_125)
set_location led_counter_581_788_add_4_12 24 7 2 # SB_CARRY (LogicCell: led_counter_581_788__i10_LC_125)
set_location led_counter_581_788_add_4_13_lut 24 7 3 # SB_LUT4 (LogicCell: led_counter_581_788__i11_LC_126)
set_location led_counter_581_788__i11 24 7 3 # SB_DFF (LogicCell: led_counter_581_788__i11_LC_126)
set_location led_counter_581_788_add_4_13 24 7 3 # SB_CARRY (LogicCell: led_counter_581_788__i11_LC_126)
set_location led_counter_581_788_add_4_14_lut 24 7 4 # SB_LUT4 (LogicCell: led_counter_581_788__i12_LC_127)
set_location led_counter_581_788__i12 24 7 4 # SB_DFF (LogicCell: led_counter_581_788__i12_LC_127)
set_location led_counter_581_788_add_4_14 24 7 4 # SB_CARRY (LogicCell: led_counter_581_788__i12_LC_127)
set_location led_counter_581_788_add_4_15_lut 24 7 5 # SB_LUT4 (LogicCell: led_counter_581_788__i13_LC_128)
set_location led_counter_581_788__i13 24 7 5 # SB_DFF (LogicCell: led_counter_581_788__i13_LC_128)
set_location led_counter_581_788_add_4_15 24 7 5 # SB_CARRY (LogicCell: led_counter_581_788__i13_LC_128)
set_location led_counter_581_788_add_4_16_lut 24 7 6 # SB_LUT4 (LogicCell: led_counter_581_788__i14_LC_129)
set_location led_counter_581_788__i14 24 7 6 # SB_DFF (LogicCell: led_counter_581_788__i14_LC_129)
set_location led_counter_581_788_add_4_16 24 7 6 # SB_CARRY (LogicCell: led_counter_581_788__i14_LC_129)
set_location led_counter_581_788_add_4_17_lut 24 7 7 # SB_LUT4 (LogicCell: led_counter_581_788__i15_LC_130)
set_location led_counter_581_788__i15 24 7 7 # SB_DFF (LogicCell: led_counter_581_788__i15_LC_130)
set_location led_counter_581_788_add_4_17 24 7 7 # SB_CARRY (LogicCell: led_counter_581_788__i15_LC_130)
set_location led_counter_581_788_add_4_18_lut 24 8 0 # SB_LUT4 (LogicCell: led_counter_581_788__i16_LC_131)
set_location led_counter_581_788__i16 24 8 0 # SB_DFF (LogicCell: led_counter_581_788__i16_LC_131)
set_location led_counter_581_788_add_4_18 24 8 0 # SB_CARRY (LogicCell: led_counter_581_788__i16_LC_131)
set_location led_counter_581_788_add_4_19_lut 24 8 1 # SB_LUT4 (LogicCell: led_counter_581_788__i17_LC_132)
set_location led_counter_581_788__i17 24 8 1 # SB_DFF (LogicCell: led_counter_581_788__i17_LC_132)
set_location led_counter_581_788_add_4_19 24 8 1 # SB_CARRY (LogicCell: led_counter_581_788__i17_LC_132)
set_location led_counter_581_788_add_4_20_lut 24 8 2 # SB_LUT4 (LogicCell: led_counter_581_788__i18_LC_133)
set_location led_counter_581_788__i18 24 8 2 # SB_DFF (LogicCell: led_counter_581_788__i18_LC_133)
set_location led_counter_581_788_add_4_20 24 8 2 # SB_CARRY (LogicCell: led_counter_581_788__i18_LC_133)
set_location led_counter_581_788_add_4_21_lut 24 8 3 # SB_LUT4 (LogicCell: led_counter_581_788__i19_LC_134)
set_location led_counter_581_788__i19 24 8 3 # SB_DFF (LogicCell: led_counter_581_788__i19_LC_134)
set_location led_counter_581_788_add_4_21 24 8 3 # SB_CARRY (LogicCell: led_counter_581_788__i19_LC_134)
set_location led_counter_581_788_add_4_22_lut 24 8 4 # SB_LUT4 (LogicCell: led_counter_581_788__i20_LC_135)
set_location led_counter_581_788__i20 24 8 4 # SB_DFF (LogicCell: led_counter_581_788__i20_LC_135)
set_location led_counter_581_788_add_4_22 24 8 4 # SB_CARRY (LogicCell: led_counter_581_788__i20_LC_135)
set_location led_counter_581_788_add_4_23_lut 24 8 5 # SB_LUT4 (LogicCell: led_counter_581_788__i21_LC_136)
set_location led_counter_581_788__i21 24 8 5 # SB_DFF (LogicCell: led_counter_581_788__i21_LC_136)
set_location led_counter_581_788_add_4_23 24 8 5 # SB_CARRY (LogicCell: led_counter_581_788__i21_LC_136)
set_location led_counter_581_788_add_4_24_lut 24 8 6 # SB_LUT4 (LogicCell: led_counter_581_788__i22_LC_137)
set_location led_counter_581_788__i22 24 8 6 # SB_DFF (LogicCell: led_counter_581_788__i22_LC_137)
set_location led_counter_581_788_add_4_24 24 8 6 # SB_CARRY (LogicCell: led_counter_581_788__i22_LC_137)
set_location led_counter_581_788_add_4_25_lut 24 8 7 # SB_LUT4 (LogicCell: led_counter_581_788__i23_LC_138)
set_location led_counter_581_788__i23 24 8 7 # SB_DFF (LogicCell: led_counter_581_788__i23_LC_138)
set_location led_counter_581_788_add_4_25 24 8 7 # SB_CARRY (LogicCell: led_counter_581_788__i23_LC_138)
set_location led_counter_581_788_add_4_26_lut 24 9 0 # SB_LUT4 (LogicCell: led_counter_581_788__i24_LC_139)
set_location led_counter_581_788__i24 24 9 0 # SB_DFF (LogicCell: led_counter_581_788__i24_LC_139)
set_location led_counter_581_788_add_4_2_lut 24 6 0 # SB_LUT4 (LogicCell: led_counter_581_788__i0_LC_140)
set_location led_counter_581_788__i0 24 6 0 # SB_DFF (LogicCell: led_counter_581_788__i0_LC_140)
set_location led_counter_581_788_add_4_2 24 6 0 # SB_CARRY (LogicCell: led_counter_581_788__i0_LC_140)
set_location led_counter_581_788_add_4_3_lut 24 6 1 # SB_LUT4 (LogicCell: led_counter_581_788__i1_LC_141)
set_location led_counter_581_788__i1 24 6 1 # SB_DFF (LogicCell: led_counter_581_788__i1_LC_141)
set_location led_counter_581_788_add_4_3 24 6 1 # SB_CARRY (LogicCell: led_counter_581_788__i1_LC_141)
set_location led_counter_581_788_add_4_4_lut 24 6 2 # SB_LUT4 (LogicCell: led_counter_581_788__i2_LC_142)
set_location led_counter_581_788__i2 24 6 2 # SB_DFF (LogicCell: led_counter_581_788__i2_LC_142)
set_location led_counter_581_788_add_4_4 24 6 2 # SB_CARRY (LogicCell: led_counter_581_788__i2_LC_142)
set_location led_counter_581_788_add_4_5_lut 24 6 3 # SB_LUT4 (LogicCell: led_counter_581_788__i3_LC_143)
set_location led_counter_581_788__i3 24 6 3 # SB_DFF (LogicCell: led_counter_581_788__i3_LC_143)
set_location led_counter_581_788_add_4_5 24 6 3 # SB_CARRY (LogicCell: led_counter_581_788__i3_LC_143)
set_location led_counter_581_788_add_4_6_lut 24 6 4 # SB_LUT4 (LogicCell: led_counter_581_788__i4_LC_144)
set_location led_counter_581_788__i4 24 6 4 # SB_DFF (LogicCell: led_counter_581_788__i4_LC_144)
set_location led_counter_581_788_add_4_6 24 6 4 # SB_CARRY (LogicCell: led_counter_581_788__i4_LC_144)
set_location led_counter_581_788_add_4_7_lut 24 6 5 # SB_LUT4 (LogicCell: led_counter_581_788__i5_LC_145)
set_location led_counter_581_788__i5 24 6 5 # SB_DFF (LogicCell: led_counter_581_788__i5_LC_145)
set_location led_counter_581_788_add_4_7 24 6 5 # SB_CARRY (LogicCell: led_counter_581_788__i5_LC_145)
set_location led_counter_581_788_add_4_8_lut 24 6 6 # SB_LUT4 (LogicCell: led_counter_581_788__i6_LC_146)
set_location led_counter_581_788__i6 24 6 6 # SB_DFF (LogicCell: led_counter_581_788__i6_LC_146)
set_location led_counter_581_788_add_4_8 24 6 6 # SB_CARRY (LogicCell: led_counter_581_788__i6_LC_146)
set_location led_counter_581_788_add_4_9_lut 24 6 7 # SB_LUT4 (LogicCell: led_counter_581_788__i7_LC_147)
set_location led_counter_581_788__i7 24 6 7 # SB_DFF (LogicCell: led_counter_581_788__i7_LC_147)
set_location led_counter_581_788_add_4_9 24 6 7 # SB_CARRY (LogicCell: led_counter_581_788__i7_LC_147)
set_location pc_rx.equal_257_i4_2_lut 20 13 2 # SB_LUT4 (LogicCell: pc_rx.equal_257_i4_2_lut_LC_148)
set_location pc_rx.equal_258_i4_2_lut 20 11 1 # SB_LUT4 (LogicCell: pc_rx.equal_258_i4_2_lut_LC_149)
set_location pc_rx.equal_261_i4_2_lut 20 13 6 # SB_LUT4 (LogicCell: pc_rx.equal_261_i4_2_lut_LC_150)
set_location pc_rx.i13_4_lut 19 9 7 # SB_LUT4 (LogicCell: pc_rx.r_Rx_DV_52_LC_151)
set_location pc_rx.r_Rx_DV_52 19 9 7 # SB_DFF (LogicCell: pc_rx.r_Rx_DV_52_LC_151)
set_location pc_rx.i1_2_lut 18 10 3 # SB_LUT4 (LogicCell: pc_rx.i1_2_lut_LC_152)
set_location pc_rx.i1_2_lut_4_lut 18 10 5 # SB_LUT4 (LogicCell: pc_rx.i1_2_lut_4_lut_LC_153)
set_location pc_rx.i1_2_lut_adj_11 19 9 3 # SB_LUT4 (LogicCell: uart_rx_complete_rising_edge_207_LC_154)
set_location uart_rx_complete_rising_edge_207 19 9 3 # SB_DFF (LogicCell: uart_rx_complete_rising_edge_207_LC_154)
set_location pc_rx.i1_2_lut_adj_12 20 11 0 # SB_LUT4 (LogicCell: pc_rx.i1_2_lut_adj_12_LC_155)
set_location pc_rx.i1_2_lut_adj_13 19 13 2 # SB_LUT4 (LogicCell: pc_rx.i1_2_lut_adj_13_LC_156)
set_location pc_rx.i1_3_lut 18 10 4 # SB_LUT4 (LogicCell: pc_rx.i1_3_lut_LC_157)
set_location pc_rx.i1_4_lut 20 11 4 # SB_LUT4 (LogicCell: pc_rx.i1_4_lut_LC_158)
set_location pc_rx.i1_4_lut_adj_10 19 10 3 # SB_LUT4 (LogicCell: pc_rx.i1_4_lut_adj_10_LC_159)
set_location pc_rx.i2206_4_lut 18 10 6 # SB_LUT4 (LogicCell: pc_rx.i2206_4_lut_LC_160)
set_location pc_rx.i2220_4_lut 18 10 7 # SB_LUT4 (LogicCell: pc_rx.i2220_4_lut_LC_161)
set_location pc_rx.i2885_2_lut 19 9 4 # SB_LUT4 (LogicCell: pc_rx.i2885_2_lut_LC_162)
set_location pc_rx.i2887_2_lut_3_lut 19 10 2 # SB_LUT4 (LogicCell: pc_rx.i2887_2_lut_3_lut_LC_163)
set_location pc_rx.i2904_4_lut 18 10 1 # SB_LUT4 (LogicCell: pc_rx.i2904_4_lut_LC_164)
set_location pc_rx.i2957_2_lut_3_lut 20 11 3 # SB_LUT4 (LogicCell: pc_rx.i2957_2_lut_3_lut_LC_165)
set_location pc_rx.i2981_4_lut 19 11 4 # SB_LUT4 (LogicCell: pc_rx.i2981_4_lut_LC_166)
set_location pc_rx.i2996_3_lut_4_lut 20 11 5 # SB_LUT4 (LogicCell: pc_rx.i2996_3_lut_4_lut_LC_167)
set_location pc_rx.i2_2_lut 19 11 3 # SB_LUT4 (LogicCell: pc_rx.i2_2_lut_LC_168)
set_location pc_rx.i2_2_lut_3_lut 20 12 0 # SB_LUT4 (LogicCell: pc_rx.i2_2_lut_3_lut_LC_169)
set_location pc_rx.i2_3_lut 19 13 0 # SB_LUT4 (LogicCell: pc_rx.i2_3_lut_LC_170)
set_location pc_rx.i2_3_lut_4_lut 19 11 2 # SB_LUT4 (LogicCell: pc_rx.i2_3_lut_4_lut_LC_171)
set_location pc_rx.i4_4_lut 18 10 2 # SB_LUT4 (LogicCell: pc_rx.i4_4_lut_LC_172)
set_location pc_rx.i706_2_lut 19 12 1 # SB_LUT4 (LogicCell: pc_rx.r_Bit_Index_i1_LC_173)
set_location pc_rx.r_Bit_Index_i1 19 12 1 # SB_DFFESR (LogicCell: pc_rx.r_Bit_Index_i1_LC_173)
set_location pc_rx.i713_2_lut_3_lut 19 12 0 # SB_LUT4 (LogicCell: pc_rx.r_Bit_Index_i2_LC_174)
set_location pc_rx.r_Bit_Index_i2 19 12 0 # SB_DFFESR (LogicCell: pc_rx.r_Bit_Index_i2_LC_174)
set_location pc_rx.r_Clock_Count_584_add_4_10_lut 18 12 0 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i8_LC_175)
set_location pc_rx.r_Clock_Count_584__i8 18 12 0 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i8_LC_175)
set_location pc_rx.r_Clock_Count_584_add_4_10 18 12 0 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i8_LC_175)
set_location pc_rx.r_Clock_Count_584_add_4_11_lut 18 12 1 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i9_LC_176)
set_location pc_rx.r_Clock_Count_584__i9 18 12 1 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i9_LC_176)
set_location pc_rx.r_Clock_Count_584_add_4_2_lut 18 11 0 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i0_LC_177)
set_location pc_rx.r_Clock_Count_584__i0 18 11 0 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i0_LC_177)
set_location pc_rx.r_Clock_Count_584_add_4_2 18 11 0 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i0_LC_177)
set_location pc_rx.r_Clock_Count_584_add_4_3_lut 18 11 1 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i1_LC_178)
set_location pc_rx.r_Clock_Count_584__i1 18 11 1 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i1_LC_178)
set_location pc_rx.r_Clock_Count_584_add_4_3 18 11 1 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i1_LC_178)
set_location pc_rx.r_Clock_Count_584_add_4_4_lut 18 11 2 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i2_LC_179)
set_location pc_rx.r_Clock_Count_584__i2 18 11 2 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i2_LC_179)
set_location pc_rx.r_Clock_Count_584_add_4_4 18 11 2 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i2_LC_179)
set_location pc_rx.r_Clock_Count_584_add_4_5_lut 18 11 3 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i3_LC_180)
set_location pc_rx.r_Clock_Count_584__i3 18 11 3 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i3_LC_180)
set_location pc_rx.r_Clock_Count_584_add_4_5 18 11 3 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i3_LC_180)
set_location pc_rx.r_Clock_Count_584_add_4_6_lut 18 11 4 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i4_LC_181)
set_location pc_rx.r_Clock_Count_584__i4 18 11 4 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i4_LC_181)
set_location pc_rx.r_Clock_Count_584_add_4_6 18 11 4 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i4_LC_181)
set_location pc_rx.r_Clock_Count_584_add_4_7_lut 18 11 5 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i5_LC_182)
set_location pc_rx.r_Clock_Count_584__i5 18 11 5 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i5_LC_182)
set_location pc_rx.r_Clock_Count_584_add_4_7 18 11 5 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i5_LC_182)
set_location pc_rx.r_Clock_Count_584_add_4_8_lut 18 11 6 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i6_LC_183)
set_location pc_rx.r_Clock_Count_584__i6 18 11 6 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i6_LC_183)
set_location pc_rx.r_Clock_Count_584_add_4_8 18 11 6 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i6_LC_183)
set_location pc_rx.r_Clock_Count_584_add_4_9_lut 18 11 7 # SB_LUT4 (LogicCell: pc_rx.r_Clock_Count_584__i7_LC_184)
set_location pc_rx.r_Clock_Count_584__i7 18 11 7 # SB_DFFESR (LogicCell: pc_rx.r_Clock_Count_584__i7_LC_184)
set_location pc_rx.r_Clock_Count_584_add_4_9 18 11 7 # SB_CARRY (LogicCell: pc_rx.r_Clock_Count_584__i7_LC_184)
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut 20 9 3 # SB_LUT4 (LogicCell: pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut_LC_185)
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut 20 10 5 # SB_LUT4 (LogicCell: pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut_LC_186)
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i3_3_lut 20 9 4 # SB_LUT4 (LogicCell: pc_rx.r_SM_Main_i0_LC_187)
set_location pc_rx.r_SM_Main_i0 20 9 4 # SB_DFFSR (LogicCell: pc_rx.r_SM_Main_i0_LC_187)
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_1_i3_4_lut 20 9 1 # SB_LUT4 (LogicCell: pc_rx.r_SM_Main_i1_LC_188)
set_location pc_rx.r_SM_Main_i1 20 9 1 # SB_DFFSR (LogicCell: pc_rx.r_SM_Main_i1_LC_188)
set_location pc_tx.i1132_4_lut 10 10 7 # SB_LUT4 (LogicCell: pc_tx.i1132_4_lut_LC_189)
set_location pc_tx.i1133_3_lut 10 11 6 # SB_LUT4 (LogicCell: pc_tx.r_SM_Main_i0_LC_190)
set_location pc_tx.r_SM_Main_i0 10 11 6 # SB_DFFSR (LogicCell: pc_tx.r_SM_Main_i0_LC_190)
set_location pc_tx.i1257_2_lut_3_lut 14 10 1 # SB_LUT4 (LogicCell: pc_tx.r_SM_Main_i1_LC_191)
set_location pc_tx.r_SM_Main_i1 14 10 1 # SB_DFFSR (LogicCell: pc_tx.r_SM_Main_i1_LC_191)
set_location pc_tx.i1545_3_lut 10 10 1 # SB_LUT4 (LogicCell: pc_tx.i1545_3_lut_LC_192)
set_location pc_tx.i1_1_lut 12 10 5 # SB_LUT4 (LogicCell: pc_tx.i1_1_lut_LC_193)
set_location pc_tx.i1_3_lut_4_lut 10 10 0 # SB_LUT4 (LogicCell: pc_tx.i1_3_lut_4_lut_LC_194)
set_location pc_tx.i2212_4_lut 14 11 5 # SB_LUT4 (LogicCell: pc_tx.i2212_4_lut_LC_195)
set_location pc_tx.i2218_4_lut 14 11 6 # SB_LUT4 (LogicCell: pc_tx.i2218_4_lut_LC_196)
set_location pc_tx.i2932_3_lut 10 15 7 # SB_LUT4 (LogicCell: pc_tx.i2932_3_lut_LC_197)
set_location pc_tx.i2933_3_lut 12 12 4 # SB_LUT4 (LogicCell: pc_tx.i2933_3_lut_LC_198)
set_location pc_tx.i2935_3_lut 10 13 0 # SB_LUT4 (LogicCell: pc_tx.i2935_3_lut_LC_199)
set_location pc_tx.i2936_3_lut 9 13 2 # SB_LUT4 (LogicCell: pc_tx.i2936_3_lut_LC_200)
set_location pc_tx.i2966_4_lut_4_lut 11 10 3 # SB_LUT4 (LogicCell: pc_tx.i2966_4_lut_4_lut_LC_201)
set_location pc_tx.i2991_4_lut 12 10 2 # SB_LUT4 (LogicCell: pc_tx.i2991_4_lut_LC_202)
set_location pc_tx.i2_2_lut_3_lut 10 10 6 # SB_LUT4 (LogicCell: pc_tx.i2_2_lut_3_lut_LC_203)
set_location pc_tx.i2_3_lut_4_lut 10 10 4 # SB_LUT4 (LogicCell: pc_tx.i2_3_lut_4_lut_LC_204)
set_location pc_tx.i3_4_lut 14 11 4 # SB_LUT4 (LogicCell: pc_tx.i3_4_lut_LC_205)
set_location pc_tx.i728_2_lut 9 10 1 # SB_LUT4 (LogicCell: pc_tx.r_Bit_Index_i1_LC_206)
set_location pc_tx.r_Bit_Index_i1 9 10 1 # SB_DFFESR (LogicCell: pc_tx.r_Bit_Index_i1_LC_206)
set_location pc_tx.i735_2_lut_3_lut 9 10 0 # SB_LUT4 (LogicCell: pc_tx.r_Bit_Index_i2_LC_207)
set_location pc_tx.r_Bit_Index_i2 9 10 0 # SB_DFFESR (LogicCell: pc_tx.r_Bit_Index_i2_LC_207)
set_location pc_tx.n3385_bdd_4_lut 10 12 5 # SB_LUT4 (LogicCell: pc_tx.n3385_bdd_4_lut_LC_208)
set_location pc_tx.r_Bit_Index_1__bdd_4_lut 10 12 4 # SB_LUT4 (LogicCell: pc_tx.r_Bit_Index_1__bdd_4_lut_LC_209)
set_location pc_tx.r_Clock_Count_586_add_4_10_lut 14 13 0 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i8_LC_210)
set_location pc_tx.r_Clock_Count_586__i8 14 13 0 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i8_LC_210)
set_location pc_tx.r_Clock_Count_586_add_4_10 14 13 0 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i8_LC_210)
set_location pc_tx.r_Clock_Count_586_add_4_11_lut 14 13 1 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i9_LC_211)
set_location pc_tx.r_Clock_Count_586__i9 14 13 1 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i9_LC_211)
set_location pc_tx.r_Clock_Count_586_add_4_2_lut 14 12 0 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i0_LC_212)
set_location pc_tx.r_Clock_Count_586__i0 14 12 0 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i0_LC_212)
set_location pc_tx.r_Clock_Count_586_add_4_2 14 12 0 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i0_LC_212)
set_location pc_tx.r_Clock_Count_586_add_4_3_lut 14 12 1 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i1_LC_213)
set_location pc_tx.r_Clock_Count_586__i1 14 12 1 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i1_LC_213)
set_location pc_tx.r_Clock_Count_586_add_4_3 14 12 1 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i1_LC_213)
set_location pc_tx.r_Clock_Count_586_add_4_4_lut 14 12 2 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i2_LC_214)
set_location pc_tx.r_Clock_Count_586__i2 14 12 2 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i2_LC_214)
set_location pc_tx.r_Clock_Count_586_add_4_4 14 12 2 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i2_LC_214)
set_location pc_tx.r_Clock_Count_586_add_4_5_lut 14 12 3 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i3_LC_215)
set_location pc_tx.r_Clock_Count_586__i3 14 12 3 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i3_LC_215)
set_location pc_tx.r_Clock_Count_586_add_4_5 14 12 3 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i3_LC_215)
set_location pc_tx.r_Clock_Count_586_add_4_6_lut 14 12 4 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i4_LC_216)
set_location pc_tx.r_Clock_Count_586__i4 14 12 4 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i4_LC_216)
set_location pc_tx.r_Clock_Count_586_add_4_6 14 12 4 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i4_LC_216)
set_location pc_tx.r_Clock_Count_586_add_4_7_lut 14 12 5 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i5_LC_217)
set_location pc_tx.r_Clock_Count_586__i5 14 12 5 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i5_LC_217)
set_location pc_tx.r_Clock_Count_586_add_4_7 14 12 5 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i5_LC_217)
set_location pc_tx.r_Clock_Count_586_add_4_8_lut 14 12 6 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i6_LC_218)
set_location pc_tx.r_Clock_Count_586__i6 14 12 6 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i6_LC_218)
set_location pc_tx.r_Clock_Count_586_add_4_8 14 12 6 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i6_LC_218)
set_location pc_tx.r_Clock_Count_586_add_4_9_lut 14 12 7 # SB_LUT4 (LogicCell: pc_tx.r_Clock_Count_586__i7_LC_219)
set_location pc_tx.r_Clock_Count_586__i7 14 12 7 # SB_DFFESR (LogicCell: pc_tx.r_Clock_Count_586__i7_LC_219)
set_location pc_tx.r_Clock_Count_586_add_4_9 14 12 7 # SB_CARRY (LogicCell: pc_tx.r_Clock_Count_586__i7_LC_219)
set_location pc_tx.r_SM_Main_2__I_0_55_i3_3_lut 11 10 7 # SB_LUT4 (LogicCell: pc_tx.r_SM_Main_2__I_0_55_i3_3_lut_LC_220)
set_location spi0.i1077_2_lut_4_lut 15 15 2 # SB_LUT4 (LogicCell: spi0.i1077_2_lut_4_lut_LC_221)
set_location spi0.i1605_2_lut_3_lut 16 16 3 # SB_LUT4 (LogicCell: spi0.busy_86_LC_222)
set_location spi0.busy_86 16 16 3 # SB_DFF (LogicCell: spi0.busy_86_LC_222)
set_location spi0.i19_3_lut 14 15 0 # SB_LUT4 (LogicCell: spi0.i19_3_lut_LC_223)
set_location spi0.i1_1_lut 14 15 4 # SB_LUT4 (LogicCell: spi0.i1_1_lut_LC_224)
set_location spi0.i1_2_lut 14 14 3 # SB_LUT4 (LogicCell: spi0.spi_clk_76_LC_225)
set_location spi0.spi_clk_76 14 14 3 # SB_DFF (LogicCell: spi0.spi_clk_76_LC_225)
set_location spi0.i1_2_lut_3_lut 16 16 6 # SB_LUT4 (LogicCell: spi0.i1_2_lut_3_lut_LC_226)
set_location spi0.i1_2_lut_3_lut_adj_14 14 16 3 # SB_LUT4 (LogicCell: spi0.i1_2_lut_3_lut_adj_14_LC_227)
set_location spi0.i1_2_lut_3_lut_adj_15 15 14 0 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i0_LC_228)
set_location spi0.tx_shift_reg_i0 15 14 0 # SB_DFFNSR (LogicCell: spi0.tx_shift_reg_i0_LC_228)
set_location spi0.i1_2_lut_adj_16 13 16 4 # SB_LUT4 (LogicCell: spi0.i1_2_lut_adj_16_LC_229)
set_location spi0.i1_2_lut_adj_17 12 16 0 # SB_LUT4 (LogicCell: spi0.tx_shift_reg_i15_LC_230)
set_location spi0.tx_shift_reg_i15 12 16 0 # SB_DFFNSS (LogicCell: spi0.tx_shift_reg_i15_LC_230)
set_location spi0.i1_4_lut 15 16 6 # SB_LUT4 (LogicCell: spi0.i1_4_lut_LC_231)
set_location spi0.i2082_2_lut 15 16 2 # SB_LUT4 (LogicCell: spi0.i2082_2_lut_LC_232)
set_location spi0.i2084_2_lut_4_lut 16 15 0 # SB_LUT4 (LogicCell: spi0.t_FSM_i0_LC_233)
set_location spi0.t_FSM_i0 16 15 0 # SB_DFFS (LogicCell: spi0.t_FSM_i0_LC_233)
set_location spi0.i2121_2_lut_4_lut 16 15 3 # SB_LUT4 (LogicCell: spi0.t_FSM_i15_LC_234)
set_location spi0.t_FSM_i15 16 15 3 # SB_DFFR (LogicCell: spi0.t_FSM_i15_LC_234)
set_location spi0.i2122_2_lut_4_lut 16 15 4 # SB_LUT4 (LogicCell: spi0.t_FSM_i14_LC_235)
set_location spi0.t_FSM_i14 16 15 4 # SB_DFFR (LogicCell: spi0.t_FSM_i14_LC_235)
set_location spi0.i2123_2_lut_4_lut 16 15 5 # SB_LUT4 (LogicCell: spi0.t_FSM_i13_LC_236)
set_location spi0.t_FSM_i13 16 15 5 # SB_DFFR (LogicCell: spi0.t_FSM_i13_LC_236)
set_location spi0.i2124_2_lut_4_lut 16 15 6 # SB_LUT4 (LogicCell: spi0.t_FSM_i12_LC_237)
set_location spi0.t_FSM_i12 16 15 6 # SB_DFFR (LogicCell: spi0.t_FSM_i12_LC_237)
set_location spi0.i2125_2_lut_4_lut 16 15 7 # SB_LUT4 (LogicCell: spi0.t_FSM_i11_LC_238)
set_location spi0.t_FSM_i11 16 15 7 # SB_DFFR (LogicCell: spi0.t_FSM_i11_LC_238)
set_location spi0.i2126_2_lut_4_lut 16 17 0 # SB_LUT4 (LogicCell: spi0.t_FSM_i10_LC_239)
set_location spi0.t_FSM_i10 16 17 0 # SB_DFFR (LogicCell: spi0.t_FSM_i10_LC_239)
set_location spi0.i2127_2_lut_4_lut 16 17 1 # SB_LUT4 (LogicCell: spi0.t_FSM_i9_LC_240)
set_location spi0.t_FSM_i9 16 17 1 # SB_DFFR (LogicCell: spi0.t_FSM_i9_LC_240)
set_location spi0.i2128_2_lut_4_lut 16 17 2 # SB_LUT4 (LogicCell: spi0.t_FSM_i8_LC_241)
set_location spi0.t_FSM_i8 16 17 2 # SB_DFFR (LogicCell: spi0.t_FSM_i8_LC_241)
set_location spi0.i2129_2_lut_4_lut 16 17 3 # SB_LUT4 (LogicCell: spi0.t_FSM_i7_LC_242)
set_location spi0.t_FSM_i7 16 17 3 # SB_DFFR (LogicCell: spi0.t_FSM_i7_LC_242)
set_location spi0.i2130_2_lut_4_lut 15 15 5 # SB_LUT4 (LogicCell: spi0.t_FSM_i6_LC_243)
set_location spi0.t_FSM_i6 15 15 5 # SB_DFFR (LogicCell: spi0.t_FSM_i6_LC_243)
set_location spi0.i2131_2_lut_4_lut 15 15 6 # SB_LUT4 (LogicCell: spi0.t_FSM_i5_LC_244)
set_location spi0.t_FSM_i5 15 15 6 # SB_DFFR (LogicCell: spi0.t_FSM_i5_LC_244)
set_location spi0.i2132_2_lut_4_lut 15 15 7 # SB_LUT4 (LogicCell: spi0.t_FSM_i4_LC_245)
set_location spi0.t_FSM_i4 15 15 7 # SB_DFFR (LogicCell: spi0.t_FSM_i4_LC_245)
set_location spi0.i2133_2_lut_4_lut 16 17 4 # SB_LUT4 (LogicCell: spi0.t_FSM_i3_LC_246)
set_location spi0.t_FSM_i3 16 17 4 # SB_DFFR (LogicCell: spi0.t_FSM_i3_LC_246)
set_location spi0.i2134_2_lut_4_lut 15 16 7 # SB_LUT4 (LogicCell: spi0.t_FSM_i2_LC_247)
set_location spi0.t_FSM_i2 15 16 7 # SB_DFFR (LogicCell: spi0.t_FSM_i2_LC_247)
set_location spi0.i2135_2_lut_4_lut 16 15 2 # SB_LUT4 (LogicCell: spi0.t_FSM_i1_LC_248)
set_location spi0.t_FSM_i1 16 15 2 # SB_DFFR (LogicCell: spi0.t_FSM_i1_LC_248)
set_location spi0.i28_4_lut 15 16 4 # SB_LUT4 (LogicCell: spi0.i28_4_lut_LC_249)
set_location spi0.i2962_4_lut 15 16 3 # SB_LUT4 (LogicCell: spi0.i2962_4_lut_LC_250)
set_location spi0.i2963_2_lut_3_lut 15 15 0 # SB_LUT4 (LogicCell: spi0.i2963_2_lut_3_lut_LC_251)
set_location spi0.i2977_2_lut 15 17 2 # SB_LUT4 (LogicCell: spi0.CS_w_79_LC_252)
set_location spi0.CS_w_79 15 17 2 # SB_DFFSS (LogicCell: spi0.CS_w_79_LC_252)
set_location spi0.i2987_3_lut 17 15 2 # SB_LUT4 (LogicCell: spi0.i2987_3_lut_LC_253)
set_location spi0.i2_3_lut 16 18 6 # SB_LUT4 (LogicCell: spi0.i2_3_lut_LC_254)
set_location spi0.i4_4_lut 17 15 1 # SB_LUT4 (LogicCell: spi0.i4_4_lut_LC_255)
set_location spi0.mux_512_i1_3_lut 15 16 5 # SB_LUT4 (LogicCell: spi0.mux_512_i1_3_lut_LC_256)
set_location spi0.mux_512_i2_4_lut_4_lut 16 16 7 # SB_LUT4 (LogicCell: spi0.mux_512_i2_4_lut_4_lut_LC_257)
set_location spi0.mux_512_i3_4_lut_4_lut 15 15 1 # SB_LUT4 (LogicCell: spi0.mux_512_i3_4_lut_4_lut_LC_258)
set_location spi0.spi_clk_counter_587_add_4_2_lut 17 14 0 # SB_LUT4 (LogicCell: spi0.spi_clk_counter_587__i0_LC_259)
set_location spi0.spi_clk_counter_587__i0 17 14 0 # SB_DFFSR (LogicCell: spi0.spi_clk_counter_587__i0_LC_259)
set_location spi0.spi_clk_counter_587_add_4_2 17 14 0 # SB_CARRY (LogicCell: spi0.spi_clk_counter_587__i0_LC_259)
set_location spi0.spi_clk_counter_587_add_4_3_lut 17 14 1 # SB_LUT4 (LogicCell: spi0.spi_clk_counter_587__i1_LC_260)
set_location spi0.spi_clk_counter_587__i1 17 14 1 # SB_DFFSR (LogicCell: spi0.spi_clk_counter_587__i1_LC_260)
set_location spi0.spi_clk_counter_587_add_4_3 17 14 1 # SB_CARRY (LogicCell: spi0.spi_clk_counter_587__i1_LC_260)
set_location spi0.spi_clk_counter_587_add_4_4_lut 17 14 2 # SB_LUT4 (LogicCell: spi0.spi_clk_counter_587__i2_LC_261)
set_location spi0.spi_clk_counter_587__i2 17 14 2 # SB_DFFSS (LogicCell: spi0.spi_clk_counter_587__i2_LC_261)
set_location spi0.spi_clk_counter_587_add_4_4 17 14 2 # SB_CARRY (LogicCell: spi0.spi_clk_counter_587__i2_LC_261)
set_location spi0.spi_clk_counter_587_add_4_5_lut 17 14 3 # SB_LUT4 (LogicCell: spi0.spi_clk_counter_587__i3_LC_262)
set_location spi0.spi_clk_counter_587__i3 17 14 3 # SB_DFFSR (LogicCell: spi0.spi_clk_counter_587__i3_LC_262)
set_location spi0.spi_clk_counter_587_add_4_5 17 14 3 # SB_CARRY (LogicCell: spi0.spi_clk_counter_587__i3_LC_262)
set_location spi0.spi_clk_counter_587_add_4_6_lut 17 14 4 # SB_LUT4 (LogicCell: spi0.spi_clk_counter_587__i4_LC_263)
set_location spi0.spi_clk_counter_587__i4 17 14 4 # SB_DFFSR (LogicCell: spi0.spi_clk_counter_587__i4_LC_263)
set_location spi0.spi_clk_counter_587_add_4_6 17 14 4 # SB_CARRY (LogicCell: spi0.spi_clk_counter_587__i4_LC_263)
set_location spi0.spi_clk_counter_587_add_4_7_lut 17 14 5 # SB_LUT4 (LogicCell: spi0.spi_clk_counter_587__i5_LC_264)
set_location spi0.spi_clk_counter_587__i5 17 14 5 # SB_DFFSS (LogicCell: spi0.spi_clk_counter_587__i5_LC_264)
set_location spi0.state_reg_2__I_0_101_i5_2_lut_3_lut_3_lut 16 17 6 # SB_LUT4 (LogicCell: spi0.state_reg_2__I_0_101_i5_2_lut_3_lut_3_lut_LC_265)
set_location spi0.state_reg_2__I_0_108_i5_3_lut_3_lut 16 16 0 # SB_LUT4 (LogicCell: spi0.state_reg_2__I_0_108_i5_3_lut_3_lut_LC_266)
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut 12 12 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut_LC_267)
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i7_2_lut_3_lut_4_lut 14 11 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i7_2_lut_3_lut_4_lut_LC_268)
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i8_2_lut_3_lut_4_lut 11 11 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i8_2_lut_3_lut_4_lut_LC_269)
set_location tx_fifo.lscc_fifo_inst.i1574_3_lut_4_lut 11 14 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i56_57_LC_270)
set_location tx_fifo.lscc_fifo_inst.i56_57 11 14 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i56_57_LC_270)
set_location tx_fifo.lscc_fifo_inst.i1575_3_lut_4_lut 13 13 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i59_60_LC_271)
set_location tx_fifo.lscc_fifo_inst.i59_60 13 13 0 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i59_60_LC_271)
set_location tx_fifo.lscc_fifo_inst.i1581_3_lut_4_lut 12 12 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i53_54_LC_272)
set_location tx_fifo.lscc_fifo_inst.i53_54 12 12 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i53_54_LC_272)
set_location tx_fifo.lscc_fifo_inst.i1590_3_lut_4_lut 12 14 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i50_51_LC_273)
set_location tx_fifo.lscc_fifo_inst.i50_51 12 14 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i50_51_LC_273)
set_location tx_fifo.lscc_fifo_inst.i1599_3_lut_4_lut 12 14 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i47_48_LC_274)
set_location tx_fifo.lscc_fifo_inst.i47_48 12 14 7 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i47_48_LC_274)
set_location tx_fifo.lscc_fifo_inst.i1600_3_lut_4_lut 12 14 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i44_45_LC_275)
set_location tx_fifo.lscc_fifo_inst.i44_45 12 14 0 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i44_45_LC_275)
set_location tx_fifo.lscc_fifo_inst.i1602_3_lut_4_lut 13 12 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i41_42_LC_276)
set_location tx_fifo.lscc_fifo_inst.i41_42 13 12 1 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i41_42_LC_276)
set_location tx_fifo.lscc_fifo_inst.i1606_3_lut_4_lut 12 12 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i38_39_LC_277)
set_location tx_fifo.lscc_fifo_inst.i38_39 12 12 3 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i38_39_LC_277)
set_location tx_fifo.lscc_fifo_inst.i1664_3_lut_4_lut 13 11 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i230_231_LC_278)
set_location tx_fifo.lscc_fifo_inst.i230_231 13 11 0 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i230_231_LC_278)
set_location tx_fifo.lscc_fifo_inst.i1665_3_lut_4_lut 13 12 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i233_234_LC_279)
set_location tx_fifo.lscc_fifo_inst.i233_234 13 12 6 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i233_234_LC_279)
set_location tx_fifo.lscc_fifo_inst.i1666_3_lut_4_lut 12 14 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i236_237_LC_280)
set_location tx_fifo.lscc_fifo_inst.i236_237 12 14 3 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i236_237_LC_280)
set_location tx_fifo.lscc_fifo_inst.i1667_3_lut_4_lut 12 13 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i239_240_LC_281)
set_location tx_fifo.lscc_fifo_inst.i239_240 12 13 5 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i239_240_LC_281)
set_location tx_fifo.lscc_fifo_inst.i1668_3_lut_4_lut 12 11 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i242_243_LC_282)
set_location tx_fifo.lscc_fifo_inst.i242_243 12 11 6 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i242_243_LC_282)
set_location tx_fifo.lscc_fifo_inst.i1669_3_lut_4_lut 12 12 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i245_246_LC_283)
set_location tx_fifo.lscc_fifo_inst.i245_246 12 12 7 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i245_246_LC_283)
set_location tx_fifo.lscc_fifo_inst.i1670_3_lut_4_lut 11 13 2 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i248_249_LC_284)
set_location tx_fifo.lscc_fifo_inst.i248_249 11 13 2 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i248_249_LC_284)
set_location tx_fifo.lscc_fifo_inst.i1671_3_lut_4_lut 12 13 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i251_252_LC_285)
set_location tx_fifo.lscc_fifo_inst.i251_252 12 13 7 # SB_DFF (LogicCell: tx_fifo.lscc_fifo_inst.i251_252_LC_285)
set_location tx_fifo.lscc_fifo_inst.i1722_1_lut 9 20 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i1722_1_lut_LC_286)
set_location tx_fifo.lscc_fifo_inst.i1_4_lut 15 11 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i1_4_lut_LC_287)
set_location tx_fifo.lscc_fifo_inst.i757_3_lut 15 11 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i757_3_lut_LC_288)
set_location tx_fifo.lscc_fifo_inst.i772_rep_9_2_lut 13 11 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i772_rep_9_2_lut_LC_289)
set_location tx_fifo.lscc_fifo_inst.i779_3_lut 13 11 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.i779_3_lut_LC_290)
set_location tx_fifo.lscc_fifo_inst.n3391_bdd_4_lut 12 15 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i4_LC_291)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i4 12 15 7 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i4_LC_291)
set_location tx_fifo.lscc_fifo_inst.n3397_bdd_4_lut 10 14 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i7_LC_292)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i7 10 14 7 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i7_LC_292)
set_location tx_fifo.lscc_fifo_inst.n3403_bdd_4_lut 11 15 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i5_LC_293)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i5 11 15 5 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i5_LC_293)
set_location tx_fifo.lscc_fifo_inst.n3409_bdd_4_lut 11 12 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i6_LC_294)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i6 11 12 7 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i6_LC_294)
set_location tx_fifo.lscc_fifo_inst.n3415_bdd_4_lut 12 15 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i8_LC_295)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i8 12 15 5 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i8_LC_295)
set_location tx_fifo.lscc_fifo_inst.n3421_bdd_4_lut 11 12 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i1_LC_296)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i1 11 12 1 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i1_LC_296)
set_location tx_fifo.lscc_fifo_inst.n3427_bdd_4_lut 13 10 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i2_LC_297)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i2 13 10 3 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i2_LC_297)
set_location tx_fifo.lscc_fifo_inst.n3433_bdd_4_lut 10 14 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i3_LC_298)
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i3 10 14 1 # SB_DFFE (LogicCell: tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i3_LC_298)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut 11 14 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_LC_299)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3009 12 13 4 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3009_LC_300)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3014 11 13 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3014_LC_301)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3019 12 11 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3019_LC_302)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3024 12 12 0 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3024_LC_303)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3029 12 13 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3029_LC_304)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3034 14 11 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3034_LC_305)
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3039 13 11 7 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3039_LC_306)
set_location tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut 12 9 5 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut_LC_307)
set_location tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut 15 11 3 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut_LC_308)
set_location tx_fifo.lscc_fifo_inst.wr_addr_r_1__I_0_i1_2_lut 15 12 1 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.wr_addr_r_1__I_0_i1_2_lut_LC_309)
set_location tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut 15 12 6 # SB_LUT4 (LogicCell: tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut_LC_310)
set_location FT_OE_r_200_THRU_LUT4_0 1 18 5 # SB_LUT4 (LogicCell: FT_OE_r_200_LC_311)
set_location FT_OE_r_200 1 18 5 # SB_DFF (LogicCell: FT_OE_r_200_LC_311)
set_location i3_4_lut_reset_all_r_198_REP_LUT4_0 10 18 7 # SB_LUT4 (LogicCell: reset_all_r_198_LC_312)
set_location reset_all_r_198 10 18 7 # SB_DFF (LogicCell: reset_all_r_198_LC_312)
set_location pc_rx.r_Rx_Data_50_THRU_LUT4_0 22 9 0 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Data_50_LC_313)
set_location pc_rx.r_Rx_Data_50 22 9 0 # SB_DFF (LogicCell: pc_rx.r_Rx_Data_50_LC_313)
set_location pc_rx.r_Rx_Data_R_49_THRU_LUT4_0 23 4 5 # SB_LUT4 (LogicCell: pc_rx.r_Rx_Data_R_49_LC_314)
set_location pc_rx.r_Rx_Data_R_49 23 4 5 # SB_DFF (LogicCell: pc_rx.r_Rx_Data_R_49_LC_314)
set_location spi0.CS_81_THRU_LUT4_0 15 18 6 # SB_LUT4 (LogicCell: spi0.CS_81_LC_315)
set_location spi0.CS_81 15 18 6 # SB_DFFS (LogicCell: spi0.CS_81_LC_315)
set_location spi0.mux_512_i1_3_lut_spi0.state_reg_i0_REP_LUT4_0 15 15 4 # SB_LUT4 (LogicCell: spi0.state_reg_i0_LC_316)
set_location spi0.state_reg_i0 15 15 4 # SB_DFFR (LogicCell: spi0.state_reg_i0_LC_316)
set_location spi0.mux_512_i2_4_lut_4_lut_spi0.state_reg_i1_REP_LUT4_0 15 16 1 # SB_LUT4 (LogicCell: spi0.state_reg_i1_LC_317)
set_location spi0.state_reg_i1 15 16 1 # SB_DFFR (LogicCell: spi0.state_reg_i1_LC_317)
set_location spi0.mux_512_i3_4_lut_4_lut_spi0.state_reg_i2_REP_LUT4_0 15 15 3 # SB_LUT4 (LogicCell: spi0.state_reg_i2_LC_318)
set_location spi0.state_reg_i2 15 15 3 # SB_DFFR (LogicCell: spi0.state_reg_i2_LC_318)
set_location spi0.start_transfer_prev_74_THRU_LUT4_0 17 10 0 # SB_LUT4 (LogicCell: spi0.start_transfer_prev_74_LC_319)
set_location spi0.start_transfer_prev_74 17 10 0 # SB_DFF (LogicCell: spi0.start_transfer_prev_74_LC_319)
set_location spi_busy_prev_203_THRU_LUT4_0 16 12 4 # SB_LUT4 (LogicCell: spi_busy_prev_203_LC_320)
set_location spi_busy_prev_203 16 12 4 # SB_DFF (LogicCell: spi_busy_prev_203_LC_320)
set_location uart_rx_complete_prev_208_THRU_LUT4_0 19 9 5 # SB_LUT4 (LogicCell: uart_rx_complete_prev_208_LC_321)
set_location uart_rx_complete_prev_208 19 9 5 # SB_DFF (LogicCell: uart_rx_complete_prev_208_LC_321)
set_location GB_BUFFER_pll_clk_unbuf_THRU_LUT4_0 9 7 6 # SB_LUT4 (LogicCell: GB_BUFFER_pll_clk_unbuf_THRU_LUT4_0_LC_322)
set_location GB_BUFFER_SLM_CLK_c_THRU_LUT4_0 24 12 6 # SB_LUT4 (LogicCell: GB_BUFFER_SLM_CLK_c_THRU_LUT4_0_LC_323)
set_io CTS_pad 25 2 1 # ICE_IO
set_io DATA0_pad 5 21 1 # ICE_IO
set_io DATA10_pad 25 13 1 # ICE_IO
set_io DATA11_pad 25 14 0 # ICE_IO
set_io DATA12_pad 25 14 1 # ICE_IO
set_io DATA13_pad 25 16 1 # ICE_IO
set_io DATA14_pad 25 17 0 # ICE_IO
set_io DATA15_pad 25 19 0 # ICE_IO
set_io DATA16_pad 25 19 1 # ICE_IO
set_io DATA17_pad 24 21 1 # ICE_IO
set_io DATA18_pad 24 21 0 # ICE_IO
set_io DATA19_pad 23 21 0 # ICE_IO
set_io DATA1_pad 7 21 1 # ICE_IO
set_io DATA20_pad 22 21 1 # ICE_IO
set_io DATA21_pad 21 21 1 # ICE_IO
set_io DATA22_pad 20 21 0 # ICE_IO
set_io DATA23_pad 19 21 0 # ICE_IO
set_io DATA24_pad 18 21 0 # ICE_IO
set_io DATA25_pad 15 21 0 # ICE_IO
set_io DATA26_pad 14 21 1 # ICE_IO
set_io DATA27_pad 12 21 1 # ICE_IO
set_io DATA28_pad 9 21 1 # ICE_IO
set_io DATA29_pad 7 21 0 # ICE_IO
set_io DATA2_pad 13 21 0 # ICE_IO
set_io DATA30_pad 6 21 1 # ICE_IO
set_io DATA31_pad 6 21 0 # ICE_IO
set_io DATA3_pad 15 21 1 # ICE_IO
set_io DATA4_pad 19 21 1 # ICE_IO
set_io DATA5_pad 22 21 0 # ICE_IO
set_io DATA6_pad 23 21 1 # ICE_IO
set_io DATA7_pad 25 20 0 # ICE_IO
set_io DATA8_pad 25 18 1 # ICE_IO
set_io DATA9_pad 25 15 1 # ICE_IO
set_io DCD_pad 25 1 0 # ICE_IO
set_io DEBUG_0_pad 25 6 0 # ICE_IO
set_io DEBUG_1_pad 25 6 1 # ICE_IO
set_io DEBUG_2_pad 25 7 1 # ICE_IO
set_io DEBUG_3_pad 25 8 1 # ICE_IO
set_io DEBUG_5_c_pad 5 21 0 # ICE_IO
set_io DEBUG_5_pad 25 5 0 # ICE_IO
set_io DEBUG_6_pad 25 5 1 # ICE_IO
set_io DEBUG_8_c_pad 21 0 0 # ICE_IO
set_io DEBUG_8_pad 22 0 0 # ICE_IO
set_io DEBUG_9_c_pad 0 18 0 # ICE_IO
set_io DEBUG_9_pad 22 0 1 # ICE_IO
set_io DSR_pad 25 1 1 # ICE_IO
set_io DTR_pad 25 2 0 # ICE_IO
set_io FIFO_BE0_pad 0 13 1 # ICE_IO
set_io FIFO_BE1_pad 0 15 0 # ICE_IO
set_io FIFO_BE2_pad 0 15 1 # ICE_IO
set_io FIFO_BE3_pad 0 17 0 # ICE_IO
set_io FIFO_CLK_pad 0 10 1 # ICE_GB_IO
set_io FIFO_D10_pad 7 0 1 # ICE_IO
set_io FIFO_D11_pad 5 0 0 # ICE_IO
set_io FIFO_D12_pad 4 0 1 # ICE_IO
set_io FIFO_D13_pad 3 0 1 # ICE_IO
set_io FIFO_D14_pad 2 0 1 # ICE_IO
set_io FIFO_D15_pad 2 0 0 # ICE_IO
set_io FIFO_D16_pad 0 1 0 # ICE_IO
set_io FIFO_D17_pad 0 1 1 # ICE_IO
set_io FIFO_D18_pad 0 2 0 # ICE_IO
set_io FIFO_D19_pad 0 2 1 # ICE_IO
set_io FIFO_D1_pad 19 0 0 # ICE_IO
set_io FIFO_D20_pad 0 3 0 # ICE_IO
set_io FIFO_D21_pad 0 3 1 # ICE_IO
set_io FIFO_D22_pad 0 6 0 # ICE_IO
set_io FIFO_D23_pad 0 6 1 # ICE_IO
set_io FIFO_D24_pad 0 7 0 # ICE_IO
set_io FIFO_D25_pad 0 7 1 # ICE_IO
set_io FIFO_D26_pad 0 10 0 # ICE_IO
set_io FIFO_D27_pad 0 11 0 # ICE_IO
set_io FIFO_D28_pad 0 11 1 # ICE_IO
set_io FIFO_D29_pad 0 12 0 # ICE_IO
set_io FIFO_D2_pad 18 0 1 # ICE_IO
set_io FIFO_D30_pad 0 12 1 # ICE_IO
set_io FIFO_D31_pad 0 13 0 # ICE_IO
set_io FIFO_D3_pad 18 0 0 # ICE_IO
set_io FIFO_D4_pad 17 0 1 # ICE_IO
set_io FIFO_D5_pad 12 0 1 # ICE_IO
set_io FIFO_D6_pad 12 0 0 # ICE_IO
set_io FIFO_D7_pad 11 0 1 # ICE_IO
set_io FIFO_D8_pad 8 0 1 # ICE_IO
set_io FIFO_D9_pad 8 0 0 # ICE_IO
set_io FT_OE_pad 0 20 0 # ICE_IO
set_io FT_RD_pad 0 19 1 # ICE_IO
set_io FT_SIWU_pad 0 18 1 # ICE_IO
set_io FT_WR_pad 0 19 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io ICE_CDONE_pad 0 17 1 # ICE_IO
set_io ICE_CLK_pad 13 0 0 # ICE_IO
set_io ICE_CREST_pad 0 20 1 # ICE_IO
set_io ICE_SYSCLK_pad 25 10 1 # ICE_IO
set_io INVERT_pad 25 10 0 # ICE_IO
set_io RESET_pad 3 21 1 # ICE_IO
set_io RST_pad 25 3 1 # ICE_IO
set_io SCK_pad 2 21 1 # ICE_IO
set_io SDAT_pad 3 21 0 # ICE_IO
set_io SEN_pad 4 21 0 # ICE_IO
set_io SLM_CLK_pad 25 12 1 # ICE_IO
set_io SYNC_pad 25 9 1 # ICE_IO
set_io UART_RX_pad 25 4 1 # ICE_IO
set_io UART_TX_pad 25 4 0 # ICE_IO
set_io UPDATE_pad 25 9 0 # ICE_IO
set_io VALID_pad 25 11 0 # ICE_IO
set_io clk_gb 0 11 0 # ICE_GB
set_location clock_inst.pll_config 12 0 1 # SB_PLL40_CORE
set_location INV_spi0.spi_clk -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 6 19 4 # SB_LUT4 (LogicCell: LC_324)
