 create_clock -period 1000.000 -waveform {0.000 500.000} -name {top|FIFO_CLK} [ get_ports {FIFO_CLK} ]
 create_clock -period 1000.000 -waveform {0.000 500.000} -name {top|\spi0/spi_clk} [ get_nets \spi0/spi_clk ]
 set_false_path -from [ get_clocks {top|FIFO_CLK} ] -to [ get_clocks {top|\spi0/spi_clk} ]
 set_false_path -from [ get_clocks {top|\spi0/spi_clk} ] -to [ get_clocks {top|FIFO_CLK} ]
