set_location IN_MUX_bfv_16_5_0_ 16 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_12_0_ 8 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_6_0_ 11 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_7_0_ 11 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_6_0_ 13 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_7_0_ 13 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_5_0_ 23 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_6_0_ 23 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_7_0_ 23 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_8_0_ 23 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_8_0_ 17 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_7_0_ 17 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_8_0_ 15 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_9_0_ 15 9 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 17 5 0 #SB_LUT4
set_location GB_BUFFER_SLM_CLK_c_THRU_LUT4_0 23 12 2 #SB_LUT4
set_location uart_rx_complete_prev_89_THRU_LUT4_0 15 4 0 #SB_LUT4
set_location spi_busy_prev_84_THRU_LUT4_0 11 4 7 #SB_LUT4
set_location spi0.start_transfer_prev_74_THRU_LUT4_0 15 5 7 #SB_LUT4
set_location spi0.mux_473_i3_4_lut_4_lut_spi0.state_reg_i2_REP_LUT4_0 9 8 1 #SB_LUT4
set_location spi0.mux_473_i2_4_lut_4_lut_spi0.state_reg_i1_REP_LUT4_0 9 9 1 #SB_LUT4
set_location spi0.mux_473_i1_3_lut_spi0.state_reg_i0_REP_LUT4_0 9 8 6 #SB_LUT4
set_location spi0.CS_81_THRU_LUT4_0 7 12 7 #SB_LUT4
set_location pc_rx.r_Rx_Data_R_49_THRU_LUT4_0 24 4 4 #SB_LUT4
set_location pc_rx.r_Rx_Data_50_THRU_LUT4_0 20 4 4 #SB_LUT4
set_location i3_4_lut_reset_all_r_81_REP_LUT4_0 10 11 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i2 11 9 5 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1 9 10 5 #SB_DFF
set_location pc_tx.r_Bit_Index_i0 8 6 7 #SB_DFF
set_location pc_rx.r_Rx_DV_52 14 4 6 #SB_DFF
set_location pc_rx.r_Bit_Index_i0 14 4 4 #SB_DFF
set_location bluejay_data_inst.update_o_80 19 9 3 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i1 11 10 4 #SB_DFF
set_location led_counter_695_867_add_4_18 23 7 0 #SB_CARRY
set_location bluejay_data_inst.i2722_2_lut 5 12 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i335_336 7 9 3 #SB_DFF
set_location tx_data_byte_r_i0_i5 13 4 4 #SB_DFF
set_location pc_tx.i2_4_lut 10 6 1 #SB_LUT4
set_location pc_rx.i4662_4_lut 12 6 1 #SB_LUT4
set_location i1940_3_lut 9 5 5 #SB_LUT4
set_location bluejay_data_inst.v_counter_i6 14 9 6 #SB_DFFSR
set_location usb_to_bluejay_if_inst.sub_123_add_2_2 16 5 0 #SB_CARRY
set_location i1_4_lut_4_lut_adj_79 11 9 3 #SB_LUT4
set_location i1976_4_lut 9 7 2 #SB_LUT4
set_location bluejay_data_inst.add_692_2 15 8 1 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.i1910_3_lut_4_lut 9 7 7 #SB_LUT4
set_location spi0.spi_clk_counter_701__i7 8 12 7 #SB_DFFSS
set_location pc_rx.r_Clock_Count_698_add_4_5 13 6 3 #SB_CARRY
set_location pc_rx.i13_3_lut_4_lut 14 4 5 #SB_LUT4
set_location led_counter_695_867_add_4_24 23 7 6 #SB_CARRY
set_location bluejay_data_inst.i3381_4_lut 18 9 7 #SB_LUT4
set_location usb_to_bluejay_if_inst.i1_4_lut 15 6 6 #SB_LUT4
set_location tx_addr_byte_r_i0_i5 12 5 5 #SB_DFF
set_location bluejay_data_inst.i4669_4_lut 16 11 3 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i3 13 5 2 #SB_DFF
set_location i1948_4_lut 13 4 6 #SB_LUT4
set_location i1943_3_lut 9 5 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i970_3_lut 12 9 1 #SB_LUT4
set_location spi0.t_FSM_i1 9 9 3 #SB_DFFR
set_location led_counter_695_867__i10 23 6 2 #SB_DFF
set_location usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_23 15 6 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1900_3_lut_4_lut 7 9 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1874_3_lut_4_lut 8 10 2 #SB_LUT4
set_location pc_tx.i2007_3_lut_4_lut 8 6 7 #SB_LUT4
set_location i1938_4_lut 14 7 0 #SB_LUT4
set_location bluejay_data_inst.i9_4_lut 13 10 4 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_4 11 6 2 #SB_CARRY
set_location pc_rx.r_SM_Main_i2 13 4 5 #SB_DFF
set_location led_counter_695_867_add_4_15 23 6 5 #SB_CARRY
set_location tx_data_byte_r_i0_i0 14 6 1 #SB_DFF
set_location pc_rx.i1_2_lut_3_lut 12 6 0 #SB_LUT4
set_location bluejay_data_inst.add_692_11 15 9 2 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.full_r_84 11 9 4 #SB_DFF
set_location i1873_3_lut 9 7 6 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_5 16 5 3 #SB_CARRY
set_location pc_rx.r_Clock_Count_698_add_4_8 13 6 6 #SB_CARRY
set_location i1_2_lut_adj_68 7 11 4 #SB_LUT4
set_location bluejay_data_inst.i1_2_lut_3_lut_adj_56 17 10 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut 11 10 3 #SB_LUT4
set_location tx_addr_byte_r_i0_i6 14 6 4 #SB_DFF
set_location pc_rx.r_Clock_Count_698__i9 13 7 1 #SB_DFFESR
set_location pc_rx.r_Rx_Byte_i0 12 5 1 #SB_DFF
set_location pc_rx.equal_142_i4_2_lut 14 4 7 #SB_LUT4
set_location i4658_2_lut 11 9 0 #SB_LUT4
set_location usb_to_bluejay_if_inst.i1_3_lut_4_lut_adj_24 15 6 7 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_9_lut 11 6 7 #SB_LUT4
set_location led_counter_695_867_add_4_10_lut 23 6 0 #SB_LUT4
set_location i1988_3_lut 13 4 3 #SB_LUT4
set_location i1925_2_lut_3_lut 12 11 3 #SB_LUT4
set_location bluejay_data_inst.mux_694_i8_3_lut 17 10 0 #SB_LUT4
set_location bluejay_data_inst.i2705_2_lut 11 14 2 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_40 14 9 6 #SB_LUT4
set_location spi0.t_FSM_i4 9 8 7 #SB_DFFR
set_location spi0.i1_2_lut_3_lut 8 9 2 #SB_LUT4
set_location led_counter_695_867__i13 23 6 5 #SB_DFF
set_location i1983_3_lut 7 11 0 #SB_LUT4
set_location i1924_2_lut 15 4 2 #SB_LUT4
set_location bluejay_data_inst.mux_694_i4_3_lut 13 9 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1915_3_lut_4_lut 6 7 7 #SB_LUT4
set_location i2015_4_lut 14 4 4 #SB_LUT4
set_location bluejay_data_inst.i2713_2_lut 17 10 5 #SB_LUT4
set_location spi0.i1_4_lut 9 8 4 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_7 11 6 5 #SB_CARRY
set_location pc_rx.r_SM_Main_i1 12 3 1 #SB_DFFSR
set_location led_counter_695_867_add_4_12 23 6 2 #SB_CARRY
set_location bluejay_data_inst.i2712_2_lut 11 15 0 #SB_LUT4
set_location bluejay_data_inst.i2711_2_lut 13 15 1 #SB_LUT4
set_location bluejay_data_inst.equal_558_i3_2_lut 15 11 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_17 14 5 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4733 6 9 3 #SB_LUT4
set_location spi0.t_FSM_i13 8 8 4 #SB_DFFR
set_location spi0.rx__3_i8 6 8 6 #SB_DFF
set_location pc_tx.r_Tx_Active_46 9 5 2 #SB_DFF
set_location i1_4_lut_4_lut 14 7 4 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_6_lut 17 8 4 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_5_lut 17 8 3 #SB_LUT4
set_location bluejay_data_inst.mux_506_i4_3_lut_4_lut 13 9 1 #SB_LUT4
set_location i1985_3_lut 6 6 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_8 16 5 6 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.i56_57 7 9 6 #SB_DFF
set_location spi0.i2_3_lut 6 13 6 #SB_LUT4
set_location pc_rx.i2_4_lut 13 5 4 #SB_LUT4
set_location bluejay_data_inst.add_692_8 15 8 7 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i0 11 11 0 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i143_144 7 9 2 #SB_DFF
set_location led_counter_695_867__i8 23 6 0 #SB_DFF
set_location bluejay_data_inst.i1_2_lut_3_lut_adj_59 18 13 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1897_1_lut 10 11 7 #SB_LUT4
set_location bluejay_data_inst.i1_4_lut_adj_62 18 9 5 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i5 13 4 2 #SB_DFF
set_location bluejay_data_inst.add_692_10_lut 15 9 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.state__i0 15 6 3 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i3 8 7 0 #SB_DFFE
set_location spi0.i2_2_lut 8 11 7 #SB_LUT4
set_location pc_tx.r_Tx_Data_i1 9 7 5 #SB_DFF
set_location pc_rx.i4530_4_lut 12 6 5 #SB_LUT4
set_location led_counter_695_867__i16 23 7 0 #SB_DFF
set_location bluejay_data_inst.i2709_2_lut 6 16 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4708 7 7 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1877_3_lut_4_lut 6 9 0 #SB_LUT4
set_location bluejay_data_inst.i2707_2_lut 7 15 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i4 11 6 4 #SB_DFFESR
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i1 16 5 1 #SB_DFFESR
set_location bluejay_data_inst.sub_117_add_2_6 17 7 4 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.n5660_bdd_4_lut 8 7 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1857_4_lut_4_lut 11 10 4 #SB_LUT4
set_location spi0.t_FSM_i14 8 8 3 #SB_DFFR
set_location spi0.rx__3_i7 6 11 4 #SB_DFF
set_location i1953_4_lut 10 9 1 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_2 17 8 0 #SB_CARRY
set_location led_counter_695_867_add_4_12_lut 23 6 2 #SB_LUT4
set_location i1_2_lut_adj_77 6 8 6 #SB_LUT4
set_location bluejay_data_inst.v_counter_i8 14 10 3 #SB_DFFSS
set_location bluejay_data_inst.sub_119_add_2_3_lut 17 8 1 #SB_LUT4
set_location bluejay_data_inst.state_timeout_counter_i3 16 10 0 #SB_DFFSS
set_location bluejay_data_inst.i1_2_lut_3_lut_adj_46 18 10 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i332_333 8 6 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i3_2_lut_3_lut 11 5 7 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_6 8 12 4 #SB_CARRY
set_location led_counter_695_867_add_4_5 23 5 3 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.i1867_3_lut_4_lut 8 6 2 #SB_LUT4
set_location pc_tx.i3_3_lut_4_lut_4_lut 16 6 7 #SB_LUT4
set_location pc_rx.i4690_3_lut_4_lut 14 4 3 #SB_LUT4
set_location led_counter_695_867_add_4_16_lut 23 6 6 #SB_LUT4
set_location i1942_3_lut 9 5 4 #SB_LUT4
set_location bluejay_data_inst.i32_4_lut_adj_48 16 11 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut 11 8 2 #SB_LUT4
set_location pc_rx.r_Bit_Index_i2 15 3 0 #SB_DFFESR
set_location bluejay_data_inst.i11_3_lut_adj_34 14 9 3 #SB_LUT4
set_location bluejay_data_inst.i2704_2_lut 6 12 5 #SB_LUT4
set_location bluejay_data_inst.i1_4_lut_adj_45 15 10 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1_2_lut_3_lut_4_lut 12 11 1 #SB_LUT4
set_location i1947_4_lut 11 8 6 #SB_LUT4
set_location bluejay_data_inst.i2723_2_lut 11 15 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i6 7 10 6 #SB_DFFE
set_location pc_tx.r_Tx_Data_i2 9 5 5 #SB_DFF
set_location led_counter_695_867__i23 23 7 7 #SB_DFF
set_location i1_4_lut_adj_75 15 11 2 #SB_LUT4
set_location i1956_4_lut 10 8 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1899_3_lut_4_lut 8 10 4 #SB_LUT4
set_location pc_rx.r_Clock_Count_698_add_4_5_lut 13 6 3 #SB_LUT4
set_location bluejay_data_inst.i12_3_lut_3_lut 15 9 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i1 11 6 1 #SB_DFFESR
set_location bluejay_data_inst.state__i0 15 10 3 #SB_DFFSR
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i6 16 5 6 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.n5696_bdd_4_lut 7 10 5 #SB_LUT4
set_location start_tx_87 10 10 4 #SB_DFF
set_location spi0.tx_shift_reg_i3 10 8 5 #SB_DFFN
set_location pc_tx.r_Clock_Count_700_add_4_8_lut 11 6 6 #SB_LUT4
set_location i1_2_lut 6 11 3 #SB_LUT4
set_location i1926_3_lut_4_lut 10 10 4 #SB_LUT4
set_location bluejay_data_inst.i2_3_lut 19 9 3 #SB_LUT4
set_location spi0.rx__3_i2 6 11 1 #SB_DFF
set_location pc_tx.r_Clock_Count_700_add_4_7_lut 11 6 5 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_7 17 8 5 #SB_CARRY
set_location bluejay_data_inst.mux_694_i3_3_lut 13 9 6 #SB_LUT4
set_location bluejay_data_inst.i7_4_lut_adj_55 13 10 3 #SB_LUT4
set_location pc_tx.i1179_4_lut 10 6 4 #SB_LUT4
set_location i1_2_lut_adj_72 6 11 6 #SB_LUT4
set_location bluejay_data_inst.state_timeout_counter_i0 18 13 0 #SB_DFFSS
set_location pc_rx.r_Clock_Count_698_add_4_6_lut 13 6 4 #SB_LUT4
set_location i2011_4_lut 9 10 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_8_lut 16 5 6 #SB_LUT4
set_location pc_tx.r_Bit_Index_1__bdd_4_lut 9 6 2 #SB_LUT4
set_location pc_rx.r_Bit_Index_i1 15 3 1 #SB_DFFESR
set_location pc_rx.i2781_2_lut 14 4 2 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_37 14 9 7 #SB_LUT4
set_location spi0.state_reg_i2 9 8 1 #SB_DFFR
set_location pc_rx.r_Clock_Count_698_add_4_11_lut 13 7 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.data_in_fifo_prev_44 14 6 3 #SB_DFF
set_location pc_tx.r_SM_Main_i1 10 5 0 #SB_DFFSR
set_location pc_tx.i2_2_lut 10 6 7 #SB_LUT4
set_location bluejay_data_inst.i2725_2_lut 6 6 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i44_45 7 7 2 #SB_DFF
set_location pc_tx.r_Tx_Data_i7 9 6 7 #SB_DFF
set_location led_counter_695_867__i24 23 8 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i5 9 10 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i341_342 6 9 0 #SB_DFF
set_location i1998_3_lut 14 6 4 #SB_LUT4
set_location bluejay_data_inst.h_counter__i1 17 7 1 #SB_DFFESR
set_location spi0.tx_shift_reg_i15 11 8 0 #SB_DFFN
set_location spi0.i2794_2_lut_4_lut 9 9 3 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i2 11 6 2 #SB_DFFESR
set_location bluejay_data_inst.sub_119_add_2_4_lut 17 8 2 #SB_LUT4
set_location bluejay_data_inst.mux_694_i5_3_lut 17 9 0 #SB_LUT4
set_location spi0.tx_shift_reg_i0 13 8 5 #SB_DFFNSR
set_location pc_rx.i2_3_lut 13 4 1 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_9_lut 17 7 7 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_8 17 7 6 #SB_CARRY
set_location bluejay_data_inst.i3378_4_lut 13 9 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1916_3_lut_4_lut 6 5 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1902_3_lut_4_lut 8 10 7 #SB_LUT4
set_location spi0.rx__3_i1 6 11 3 #SB_DFF
set_location pc_tx.r_Clock_Count_700_add_4_9 11 6 7 #SB_CARRY
set_location pc_tx.r_Clock_Count_700_add_4_3_lut 11 6 1 #SB_LUT4
set_location pc_rx.r_Clock_Count_698_add_4_8_lut 13 6 6 #SB_LUT4
set_location i1995_3_lut 14 7 5 #SB_LUT4
set_location i1994_3_lut 12 8 6 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i4 8 11 6 #SB_DFF
set_location i1_2_lut_adj_71 6 11 4 #SB_LUT4
set_location bluejay_data_inst.state_timeout_counter_i5 17 11 6 #SB_DFFSS
set_location bluejay_data_inst.i7_4_lut 16 8 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_3_lut 16 5 1 #SB_LUT4
set_location led_counter_695_867_add_4_3 23 5 1 #SB_CARRY
set_location i1954_4_lut 10 9 7 #SB_LUT4
set_location spi0.i2801_2_lut_4_lut 8 9 4 #SB_LUT4
set_location spi0.CS_81 7 12 7 #SB_DFFS
set_location reset_clk_counter_i3_696__i0 10 11 2 #SB_DFF
set_location led_counter_695_867__i3 23 5 3 #SB_DFF
set_location i1_3_lut_adj_70 16 7 3 #SB_LUT4
set_location i1967_4_lut 7 7 7 #SB_LUT4
set_location spi0.i2800_2_lut_4_lut 8 9 3 #SB_LUT4
set_location pc_rx.r_Clock_Count_698__i4 13 6 4 #SB_DFFESR
set_location i1_4_lut_adj_67 12 10 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1913_3_lut_4_lut 7 7 2 #SB_LUT4
set_location pc_rx.r_Clock_Count_698_add_4_9_lut 13 6 7 #SB_LUT4
set_location spi0.i2797_2_lut_4_lut 9 8 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i6 7 7 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1875_3_lut_4_lut 8 10 1 #SB_LUT4
set_location spi0.t_FSM_i9 8 9 5 #SB_DFFR
set_location led_counter_695_867__i18 23 7 2 #SB_DFF
set_location bluejay_data_inst.h_counter__i6 17 7 6 #SB_DFFESR
set_location spi0.tx_shift_reg_i10 10 8 7 #SB_DFFN
set_location pc_tx.r_Clock_Count_700_add_4_10 11 7 0 #SB_CARRY
set_location led_counter_695_867_add_4_26_lut 23 8 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1879_3_lut_4_lut 9 7 1 #SB_LUT4
set_location spi0.tx_shift_reg_i5 10 8 3 #SB_DFFN
set_location spi0.CS_w_79 9 11 5 #SB_DFFSS
set_location tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86 12 11 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1893_3_lut_4_lut 6 9 4 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i7 6 6 1 #SB_DFF
set_location bluejay_data_inst.v_counter_i1 14 9 1 #SB_DFFSR
set_location bluejay_data_inst.i3370_3_lut 16 9 7 #SB_LUT4
set_location bluejay_data_inst.i2719_2_lut 10 15 3 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_5_lut 11 6 3 #SB_LUT4
set_location i1885_3_lut 14 6 1 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_6_lut 8 12 4 #SB_LUT4
set_location pc_rx.i4614_2_lut_3_lut 14 4 0 #SB_LUT4
set_location led_counter_695_867__i4 23 5 4 #SB_DFF
set_location bluejay_data_inst.mux_694_i7_3_lut 18 9 0 #SB_LUT4
set_location bluejay_data_inst.i21_4_lut 18 9 1 #SB_LUT4
set_location bluejay_data_inst.i1_4_lut_adj_32 17 10 2 #SB_LUT4
set_location bluejay_data_inst.add_692_7 15 8 6 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.i1161_2_lut_3_lut_4_lut 14 10 7 #SB_LUT4
set_location spi0.spi_clk_counter_701__i0 8 12 0 #SB_DFFSR
set_location spi0.i2805_2_lut_4_lut 8 8 5 #SB_LUT4
set_location spi0.i1_2_lut 9 13 6 #SB_LUT4
set_location led_counter_695_867_add_4_23 23 7 5 #SB_CARRY
set_location spi0.spi_clk_counter_701_add_4_8_lut 8 12 6 #SB_LUT4
set_location pc_rx.r_Clock_Count_698__i1 13 6 1 #SB_DFFESR
set_location spi0.spi_clk_counter_701_add_4_3_lut 8 12 1 #SB_LUT4
set_location pc_rx.i4495_2_lut_3_lut 12 6 2 #SB_LUT4
set_location i1952_4_lut 10 8 3 #SB_LUT4
set_location bluejay_data_inst.i4667_4_lut 16 11 1 #SB_LUT4
set_location bluejay_data_inst.i1_2_lut 16 8 4 #SB_LUT4
set_location bluejay_data_inst.get_next_word_cmd_82 16 8 2 #SB_DFFSS
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i8 7 10 0 #SB_DFFE
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i3 9 7 2 #SB_DFF
set_location bluejay_data_inst.i4665_4_lut 15 10 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n5684_bdd_4_lut 7 10 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i149_150 6 10 3 #SB_DFF
set_location spi0.i2796_2_lut_4_lut 9 8 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_4_lut 16 5 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r_1__I_0_i1_2_lut 11 10 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut 11 5 1 #SB_LUT4
set_location tx_data_byte_r_i0_i7 12 5 2 #SB_DFF
set_location spi0.i4644_2_lut_3_lut 9 8 2 #SB_LUT4
set_location spi0.i1_2_lut_3_lut_adj_63 10 8 2 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i2 7 11 7 #SB_DFF
set_location i3_4_lut 10 11 4 #SB_LUT4
set_location bluejay_data_inst.v_counter_i4 14 10 1 #SB_DFFSR
set_location led_counter_695_867_add_4_9 23 5 7 #SB_CARRY
set_location bluejay_data_inst.mux_560_i4_3_lut_4_lut 16 7 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1883_3_lut_4_lut 7 9 4 #SB_LUT4
set_location led_counter_695_867_add_4_5_lut 23 5 3 #SB_LUT4
set_location i2000_4_lut 14 6 7 #SB_LUT4
set_location spi0.spi_clk_counter_701__i5 8 12 5 #SB_DFFSR
set_location pc_rx.r_Clock_Count_698_add_4_3 13 6 1 #SB_CARRY
set_location bluejay_data_inst.i11_3_lut_adj_38 14 10 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.i3253_3_lut_4_lut 15 6 0 #SB_LUT4
set_location tx_addr_byte_r_i0_i3 14 7 5 #SB_DFF
set_location spi_busy_falling_edge_83 11 4 3 #SB_DFF
set_location pc_rx.r_Clock_Count_698__i2 13 6 2 #SB_DFFESR
set_location pc_rx.i919_2_lut 15 3 1 #SB_LUT4
set_location i1898_4_lut_4_lut 11 10 6 #SB_LUT4
set_location bluejay_data_inst.mux_506_i3_3_lut_4_lut 13 9 5 #SB_LUT4
set_location i1921_2_lut 11 4 3 #SB_LUT4
set_location bluejay_data_inst.i2732_2_lut 17 13 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i992_3_lut 11 9 7 #SB_LUT4
set_location spi0.t_FSM_i3 9 8 5 #SB_DFFR
set_location pc_tx.r_Clock_Count_700_add_4_11_lut 11 7 1 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_2_lut 17 7 0 #SB_LUT4
set_location bluejay_data_inst.mux_560_i6_3_lut_4_lut 16 7 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i134_135 7 5 7 #SB_DFF
set_location led_counter_695_867_add_4_18_lut 23 7 0 #SB_LUT4
set_location bluejay_data_inst.i8_4_lut 14 10 0 #SB_LUT4
set_location bluejay_data_inst.i2724_2_lut 15 11 6 #SB_LUT4
set_location bluejay_data_inst.i2710_2_lut 17 6 5 #SB_LUT4
set_location bluejay_data_inst.i2693_2_lut 15 8 0 #SB_LUT4
set_location bluejay_data_inst.i2701_2_lut 5 13 5 #SB_LUT4
set_location bluejay_data_inst.i21_4_lut_adj_31 17 10 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i0 14 10 7 #SB_DFFSR
set_location spi0.i2798_2_lut_4_lut 7 8 2 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_2 11 6 0 #SB_CARRY
set_location pc_rx.r_Clock_Count_698_add_4_4_lut 13 6 2 #SB_LUT4
set_location led_counter_695_867_add_4_17 23 6 7 #SB_CARRY
set_location tx_data_byte_r_i0_i2 14 7 1 #SB_DFF
set_location reset_all_r_81 10 11 3 #SB_DFF
set_location bluejay_data_inst.v_counter_i7 14 9 2 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i137_138 9 7 4 #SB_DFF
set_location led_counter_695_867_add_4_20_lut 23 7 2 #SB_LUT4
set_location i1996_3_lut 12 4 5 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_9_lut 17 8 7 #SB_LUT4
set_location bluejay_data_inst.i3374_4_lut 16 8 6 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_3 16 5 1 #SB_CARRY
set_location led_counter_695_867_add_4_14_lut 23 6 4 #SB_LUT4
set_location bluejay_data_inst.i2734_2_lut 18 16 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.i2_3_lut_4_lut 15 6 5 #SB_LUT4
set_location spi0.spi_clk_counter_701__i6 8 12 6 #SB_DFFSS
set_location pc_rx.r_Clock_Count_698_add_4_6 13 6 4 #SB_CARRY
set_location led_counter_695_867_add_4_25 23 7 7 #SB_CARRY
set_location usb_to_bluejay_if_inst.i1_2_lut_adj_16 14 6 2 #SB_LUT4
set_location tx_addr_byte_r_i0_i4 12 4 5 #SB_DFF
set_location led_counter_695_867_add_4_6_lut 23 5 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1904_3_lut_4_lut 7 9 1 #SB_LUT4
set_location pc_tx.r_Bit_Index_i1 8 5 1 #SB_DFFESR
set_location pc_rx.r_Rx_Byte_i2 14 7 0 #SB_DFF
set_location bluejay_data_inst.add_692_4_lut 15 8 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i230_231 6 5 5 #SB_DFF
set_location spi0.i6_4_lut 8 11 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_20 15 5 4 #SB_LUT4
set_location spi0.t_FSM_i6 8 9 1 #SB_DFFR
set_location led_counter_695_867__i11 23 6 3 #SB_DFF
set_location bluejay_data_inst.sub_119_add_2_2_lut 17 8 0 #SB_LUT4
set_location usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_22 17 10 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i2018_4_lut_4_lut 11 9 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i140_141 7 9 1 #SB_DFF
set_location i1959_4_lut 11 8 1 #SB_LUT4
set_location bluejay_data_inst.i3401_4_lut 16 9 3 #SB_LUT4
set_location bluejay_data_inst.i3395_4_lut 17 9 1 #SB_LUT4
set_location bluejay_data_inst.i2_2_lut 16 8 3 #SB_LUT4
set_location usb_to_bluejay_if_inst.i1_2_lut_3_lut 14 5 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut 7 9 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i985_2_lut 10 10 6 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i9 11 7 1 #SB_DFFESR
set_location pc_tx.r_Clock_Count_700_add_4_5 11 6 3 #SB_CARRY
set_location led_counter_695_867_add_4_14 23 6 4 #SB_CARRY
set_location bluejay_data_inst.sub_117_add_2_3 17 7 1 #SB_CARRY
set_location bluejay_data_inst.i2_3_lut_adj_51 16 9 4 #SB_LUT4
set_location bluejay_data_inst.i1_4_lut 17 9 2 #SB_LUT4
set_location tx_data_byte_r_i0_i1 12 5 7 #SB_DFF
set_location spi0.t_FSM_i11 8 8 6 #SB_DFFR
set_location tx_fifo.lscc_fifo_inst.i1_4_lut 11 9 6 #SB_LUT4
set_location i1_4_lut 11 9 4 #SB_LUT4
set_location i1973_4_lut 8 6 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_6 16 5 4 #SB_CARRY
set_location pc_rx.r_Clock_Count_698_add_4_10_lut 13 7 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i2 12 9 2 #SB_DFF
set_location pc_rx.r_Clock_Count_698_add_4_9 13 6 7 #SB_CARRY
set_location bluejay_data_inst.i1_2_lut_3_lut_adj_57 18 8 0 #SB_LUT4
set_location pc_rx.r_Clock_Count_698__i8 13 7 0 #SB_DFFESR
set_location bluejay_data_inst.i2_2_lut_adj_52 17 9 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i344_345 8 10 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1908_3_lut_4_lut 7 9 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1864_4_lut_4_lut_4_lut 12 9 3 #SB_LUT4
set_location pc_tx.i4645_4_lut_4_lut 9 6 0 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i7 13 5 1 #SB_DFF
set_location i1147_2_lut 16 4 2 #SB_LUT4
set_location usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_15 15 5 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_10_lut 11 7 0 #SB_LUT4
set_location bluejay_data_inst.i6_4_lut 16 8 0 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_43 14 9 4 #SB_LUT4
set_location usb_to_bluejay_if_inst.state__i2 14 7 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i1 7 6 7 #SB_DFFE
set_location spi0.t_FSM_i5 7 8 2 #SB_DFFR
set_location led_counter_695_867_add_4_3_lut 23 5 1 #SB_LUT4
set_location led_counter_695_867__i14 23 6 6 #SB_DFF
set_location bluejay_data_inst.mux_694_i6_3_lut 16 9 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.i4631_2_lut 16 6 0 #SB_LUT4
set_location bluejay_data_inst.i2731_2_lut 12 12 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_5_lut 16 5 3 #SB_LUT4
set_location spi0.mux_473_i2_4_lut_4_lut 8 8 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i3 14 5 2 #SB_DFFE
set_location led_counter_695_867_add_4_11 23 6 1 #SB_CARRY
set_location usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_18 16 6 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1866_3_lut_4_lut 7 7 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i152_153 7 9 0 #SB_DFF
set_location spi0.t_FSM_i12 8 8 5 #SB_DFFR
set_location spi0.rx__3_i9 6 6 7 #SB_DFF
set_location spi0.i2808_2_lut_4_lut 8 8 0 #SB_LUT4
set_location pc_rx.i2_2_lut 12 6 7 #SB_LUT4
set_location i3898_2_lut 10 11 5 #SB_LUT4
set_location i1872_4_lut_4_lut 9 5 2 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_4_lut 17 7 2 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_3_lut 17 7 1 #SB_LUT4
set_location i1_1_lut 12 8 3 #SB_LUT4
set_location i1992_3_lut 12 5 2 #SB_LUT4
set_location bluejay_data_inst.i2715_2_lut 5 7 1 #SB_LUT4
set_location bluejay_data_inst.add_692_5_lut 15 8 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i0 9 7 3 #SB_DFF
set_location spi0.spi_clk_counter_701_add_4_4 8 12 2 #SB_CARRY
set_location pc_rx.r_Clock_Count_698_add_4_2_lut 13 6 0 #SB_LUT4
set_location i1984_3_lut 6 8 7 #SB_LUT4
set_location i1963_3_lut 7 11 1 #SB_LUT4
set_location i1941_3_lut 9 5 3 #SB_LUT4
set_location bluejay_data_inst.i2735_2_lut 13 11 2 #SB_LUT4
set_location bluejay_data_inst.h_counter__i4 17 7 4 #SB_DFFESR
set_location bluejay_data_inst.add_692_2_lut 15 8 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i1 12 9 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i338_339 9 7 1 #SB_DFF
set_location spi0.state_reg_2__I_0_101_i5_2_lut_3_lut_3_lut 10 7 1 #SB_LUT4
set_location pc_tx.i4550_3_lut 9 7 0 #SB_LUT4
set_location spi_start_transfer_r_90 15 4 1 #SB_DFF
set_location spi0.i2685_2_lut_4_lut 8 8 2 #SB_LUT4
set_location pc_tx.r_SM_Main_2__I_0_55_i3_3_lut 9 6 4 #SB_LUT4
set_location i1957_4_lut 10 8 7 #SB_LUT4
set_location i12_3_lut_4_lut 14 4 6 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_8_lut 17 8 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i251_252 10 10 2 #SB_DFF
set_location spi0.i4654_2_lut 9 11 5 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i4 13 4 6 #SB_DFF
set_location bluejay_data_inst.sub_117_add_2_8_lut 17 7 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4738 7 10 4 #SB_LUT4
set_location tx_data_byte_r_i0_i6 14 6 5 #SB_DFF
set_location spi0.i1_2_lut_3_lut_adj_64 13 8 5 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i1 7 11 1 #SB_DFF
set_location pc_rx.r_Clock_Count_698_add_4_3_lut 13 6 1 #SB_LUT4
set_location i1964_4_lut 13 4 2 #SB_LUT4
set_location bluejay_data_inst.v_counter_i3 14 9 7 #SB_DFFSR
set_location bluejay_data_inst.i2702_2_lut 5 13 0 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_44 14 9 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n5678_bdd_4_lut 8 7 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i4 7 10 3 #SB_DFFE
set_location pc_tx.r_Tx_Data_i0 9 7 6 #SB_DFF
set_location led_counter_695_867_add_4_8 23 5 6 #SB_CARRY
set_location led_counter_695_867__i21 23 7 5 #SB_DFF
set_location led_counter_695_867__i17 23 7 1 #SB_DFF
set_location i19_3_lut 10 9 0 #SB_LUT4
set_location bluejay_data_inst.mux_532_i1_3_lut_3_lut 17 10 7 #SB_LUT4
set_location bluejay_data_inst.data_output_active_cmd_84 16 11 3 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.empty_r_85 12 10 6 #SB_DFF
set_location pc_tx.i1_1_lut 17 6 6 #SB_LUT4
set_location led_counter_695_867__i6 23 5 6 #SB_DFF
set_location bluejay_data_inst.i4608_2_lut 14 8 7 #SB_LUT4
set_location bluejay_data_inst.add_692_1 15 8 0 #SB_CARRY
set_location spi0.spi_clk_counter_701_add_4_2_lut 8 12 0 #SB_LUT4
set_location spi0.spi_clk_counter_701__i2 8 12 2 #SB_DFFSR
set_location pc_tx.r_Clock_Count_700__i7 11 6 7 #SB_DFFESR
set_location pc_rx.r_Clock_Count_698_add_4_2 13 6 0 #SB_CARRY
set_location led_counter_695_867_add_4_21 23 7 3 #SB_CARRY
set_location i1_2_lut_3_lut 10 11 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i0 16 5 0 #SB_DFFESR
set_location usb_to_bluejay_if_inst.i12_4_lut 14 7 6 #SB_LUT4
set_location tx_addr_byte_r_i0_i0 14 7 7 #SB_DFF
set_location pc_rx.r_Clock_Count_698__i3 13 6 3 #SB_DFFESR
set_location bluejay_data_inst.sub_117_add_2_5 17 7 3 #SB_CARRY
set_location bluejay_data_inst.i4629_2_lut 13 10 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n5666_bdd_4_lut 7 6 7 #SB_LUT4
set_location spi0.rx__3_i4 7 11 2 #SB_DFF
set_location spi0.i4676_4_lut 8 11 2 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_5 17 8 3 #SB_CARRY
set_location spi0.i2802_2_lut_4_lut 8 9 5 #SB_LUT4
set_location i1_2_lut_adj_74 7 11 2 #SB_LUT4
set_location bluejay_data_inst.v_counter_i9 14 9 4 #SB_DFFSR
set_location bluejay_data_inst.state_timeout_counter_i2 18 10 0 #SB_DFFSS
set_location bluejay_data_inst.i3371_4_lut 16 8 5 #SB_LUT4
set_location spi0.t_FSM_i2 9 9 2 #SB_DFFR
set_location spi0.spi_clk_counter_701_add_4_7 8 12 5 #SB_CARRY
set_location pc_tx.i2_2_lut_3_lut 8 6 6 #SB_LUT4
set_location led_counter_695_867_add_4_6 23 5 4 #SB_CARRY
set_location i1991_3_lut 14 6 5 #SB_LUT4
set_location bluejay_data_inst.valid_o_79 16 11 1 #SB_DFFSR
set_location bluejay_data_inst.i680_2_lut 15 9 7 #SB_LUT4
set_location bluejay_data_inst.i1_4_lut_adj_58 13 9 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4728 9 10 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1906_3_lut_4_lut 7 5 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i146_147 8 10 7 #SB_DFF
set_location spi0.mux_473_i1_3_lut 9 9 7 #SB_LUT4
set_location i1_2_lut_4_lut 13 4 5 #SB_LUT4
set_location i1936_4_lut 9 7 3 #SB_LUT4
set_location bluejay_data_inst.i6_4_lut_adj_53 17 9 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i248_249 6 7 7 #SB_DFF
set_location spi0.tx_shift_reg_i8 10 8 0 #SB_DFFN
set_location led_counter_695_867_add_4_17_lut 23 6 7 #SB_LUT4
set_location i1922_2_lut 11 5 2 #SB_LUT4
set_location bluejay_data_inst.i2672_2_lut 16 14 5 #SB_LUT4
set_location pc_rx.i1_2_lut_adj_28 13 5 7 #SB_LUT4
set_location i1950_4_lut 10 8 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.i103_2_lut_3_lut 15 5 3 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_9_lut 16 5 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n5690_bdd_4_lut 7 10 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i7 7 10 5 #SB_DFFE
set_location pc_tx.r_Tx_Data_i5 9 5 0 #SB_DFF
set_location led_counter_695_867__i22 23 7 6 #SB_DFF
set_location i1164_2_lut_3_lut_4_lut 11 11 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n5672_bdd_4_lut 8 7 5 #SB_LUT4
set_location led_counter_695_867_add_4_2_lut 23 5 0 #SB_LUT4
set_location bluejay_data_inst.h_counter__i3 16 7 0 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.i1911_3_lut_4_lut 6 9 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i0 11 6 0 #SB_DFFESR
set_location bluejay_data_inst.sub_119_add_2_7_lut 17 8 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i5 14 5 1 #SB_DFFE
set_location spi0.tx_shift_reg_i2 11 8 3 #SB_DFFN
set_location tx_fifo.lscc_fifo_inst.i242_243 10 10 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1914_3_lut_4_lut 8 6 1 #SB_LUT4
set_location spi0.rx__3_i3 7 11 4 #SB_DFF
set_location bluejay_data_inst.sub_119_add_2_6 17 8 4 #SB_CARRY
set_location usb_to_bluejay_if_inst.i4672_3_lut_4_lut 15 7 0 #SB_LUT4
set_location i1_2_lut_adj_73 6 11 5 #SB_LUT4
set_location i1889_2_lut 15 4 1 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_5_lut 17 7 3 #SB_LUT4
set_location bluejay_data_inst.state_timeout_counter_i7 17 10 3 #SB_DFFSS
set_location bluejay_data_inst.i1_2_lut_3_lut_adj_61 17 9 6 #SB_LUT4
set_location bluejay_data_inst.add_692_7_lut 15 8 6 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_2 8 12 0 #SB_CARRY
set_location spi0.i1878_2_lut_3_lut 10 7 7 #SB_LUT4
set_location spi0.i1230_2_lut_4_lut 9 8 0 #SB_LUT4
set_location led_counter_695_867_add_4_11_lut 23 6 1 #SB_LUT4
set_location i1982_3_lut 8 11 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i53_54 6 10 2 #SB_DFF
set_location reset_clk_counter_i3_696__i2 10 11 0 #SB_DFF
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i3_3_lut 12 3 0 #SB_LUT4
set_location led_counter_695_867__i1 23 5 1 #SB_DFF
set_location bluejay_data_inst.add_692_11_lut 15 9 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i326_327 6 5 6 #SB_DFF
set_location spi0.state_reg_i1 9 9 1 #SB_DFFR
set_location bluejay_data_inst.i2_2_lut_3_lut_adj_50 17 10 4 #SB_LUT4
set_location bluejay_data_inst.i1_4_lut_adj_49 15 10 7 #SB_LUT4
set_location pc_tx.r_SM_Main_i2 16 6 7 #SB_DFF
set_location i4497_4_lut 11 9 2 #SB_LUT4
set_location bluejay_data_inst.i2729_2_lut 18 14 5 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_4_lut 8 12 2 #SB_LUT4
set_location spi0.i2795_2_lut_4_lut 9 9 2 #SB_LUT4
set_location pc_tx.r_Tx_Data_i6 8 6 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i4 8 6 5 #SB_DFF
set_location spi0.i2806_2_lut_4_lut 8 8 4 #SB_LUT4
set_location i1993_3_lut 12 5 0 #SB_LUT4
set_location bluejay_data_inst.i2726_2_lut 14 11 1 #SB_LUT4
set_location bluejay_data_inst.h_counter__i0 17 7 0 #SB_DFFESR
set_location usb_to_bluejay_if_inst.i1_2_lut 1 18 6 #SB_LUT4
set_location spi0.tx_shift_reg_i12 11 8 1 #SB_DFFN
set_location pc_rx.i2_2_lut_3_lut 14 3 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1903_3_lut_4_lut 7 9 2 #SB_LUT4
set_location spi0.tx_shift_reg_i7 10 9 7 #SB_DFFN
set_location bluejay_data_inst.v_counter_i10 14 9 0 #SB_DFFSS
set_location pc_tx.n5654_bdd_4_lut 9 6 3 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i5 7 11 0 #SB_DFF
set_location bluejay_data_inst.state_timeout_counter_i4 17 9 6 #SB_DFFSS
set_location bluejay_data_inst.add_692_12_lut 15 9 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1891_3_lut_4_lut 6 5 5 #SB_LUT4
set_location pc_tx.i948_2_lut_3_lut 8 5 0 #SB_LUT4
set_location usb_to_bluejay_if_inst.i104_3_lut_4_lut 16 6 5 #SB_LUT4
set_location reset_clk_counter_i3_696__i1 10 11 1 #SB_DFF
set_location led_counter_695_867__i2 23 5 2 #SB_DFF
set_location bluejay_data_inst.i1_4_lut_adj_30 18 9 2 #SB_LUT4
set_location bluejay_data_inst.add_692_5 15 8 4 #SB_CARRY
set_location pc_tx.i1180_3_lut 10 6 3 #SB_LUT4
set_location pc_rx.i4_4_lut 12 6 6 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_33 14 9 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4718 8 7 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i347_348 8 10 2 #SB_DFF
set_location pc_rx.r_Clock_Count_698__i7 13 6 7 #SB_DFFESR
set_location i1_4_lut_adj_66 12 10 0 #SB_LUT4
set_location usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_19 15 6 3 #SB_LUT4
set_location spi0.i2804_2_lut_4_lut 8 8 6 #SB_LUT4
set_location usb_to_bluejay_if_inst.i1_2_lut_adj_25 14 6 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1907_3_lut_4_lut 8 10 3 #SB_LUT4
set_location pc_tx.i2652_3_lut 10 5 0 #SB_LUT4
set_location led_counter_695_867_add_4_23_lut 23 7 5 #SB_LUT4
set_location led_counter_695_867__i19 23 7 3 #SB_DFF
set_location bluejay_data_inst.h_counter__i5 16 7 1 #SB_DFFESR
set_location spi0.tx_shift_reg_i11 10 8 6 #SB_DFFN
set_location i2024_4_lut 12 5 1 #SB_LUT4
set_location spi0.tx_shift_reg_i4 10 8 1 #SB_DFFN
set_location pc_tx.i4554_3_lut 9 6 1 #SB_LUT4
set_location pc_tx.i1_3_lut 10 6 0 #SB_LUT4
set_location i490_4_lut 9 9 0 #SB_LUT4
set_location i1937_4_lut 12 5 6 #SB_LUT4
set_location i1955_4_lut 10 8 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i236_237 7 7 6 #SB_DFF
set_location spi0.Rx_Lower_Byte_i0 6 6 2 #SB_DFF
set_location pc_tx.r_Clock_Count_700_add_4_2_lut 11 6 0 #SB_LUT4
set_location bluejay_data_inst.v_counter_i2 14 9 3 #SB_DFFSR
set_location bluejay_data_inst.i2727_2_lut 14 12 4 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_8 8 12 6 #SB_CARRY
set_location pc_rx.i1_4_lut 14 4 1 #SB_LUT4
set_location pc_rx.i1_3_lut 14 5 4 #SB_LUT4
set_location i1970_4_lut 9 10 0 #SB_LUT4
set_location led_counter_695_867__i7 23 5 7 #SB_DFF
set_location bluejay_data_inst.i1_2_lut_adj_35 16 9 6 #SB_LUT4
set_location bluejay_data_inst.add_692_6 15 8 5 #SB_CARRY
set_location spi0.spi_clk_counter_701__i3 8 12 3 #SB_DFFSS
set_location led_counter_695_867_add_4_20 23 7 2 #SB_CARRY
set_location i4516_4_lut 12 10 5 #SB_LUT4
set_location i1997_3_lut 12 5 5 #SB_LUT4
set_location tx_addr_byte_r_i0_i1 12 5 0 #SB_DFF
set_location pc_rx.r_Clock_Count_698__i0 13 6 0 #SB_DFFESR
set_location pc_rx.i1_2_lut_adj_27 13 5 0 #SB_LUT4
set_location bluejay_data_inst.i2682_4_lut 13 9 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1884_3_lut_4_lut 6 5 6 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_6_lut 11 6 4 #SB_LUT4
set_location bluejay_data_inst.i2706_2_lut 10 12 3 #SB_LUT4
set_location bluejay_data_inst.add_692_3_lut 15 8 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i2 9 5 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1905_3_lut_4_lut 9 7 4 #SB_LUT4
set_location i1979_4_lut 9 5 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.i3929_4_lut 14 6 3 #SB_LUT4
set_location spi0.tx_shift_reg_i9 10 8 4 #SB_DFFN
set_location bluejay_data_inst.i1727_2_lut_3_lut 15 10 2 #SB_LUT4
set_location led_counter_695_867_add_4_19 23 7 1 #SB_CARRY
set_location uart_rx_complete_prev_89 15 4 0 #SB_DFF
set_location tx_data_byte_r_i0_i4 13 4 0 #SB_DFF
set_location spi0.Rx_Lower_Byte_i3 7 11 3 #SB_DFF
set_location pc_tx.i4551_3_lut 9 5 6 #SB_LUT4
set_location bluejay_data_inst.v_counter_i5 14 10 4 #SB_DFFSR
set_location bluejay_data_inst.sub_119_add_2_8 17 8 6 #SB_CARRY
set_location bluejay_data_inst.i32_4_lut 16 11 0 #SB_LUT4
set_location i1962_4_lut 11 8 0 #SB_LUT4
set_location bluejay_data_inst.add_692_3 15 8 2 #SB_CARRY
set_location spi0.spi_clk_counter_701__i4 8 12 4 #SB_DFFSR
set_location pc_rx.r_Clock_Count_698_add_4_4 13 6 2 #SB_CARRY
set_location bluejay_data_inst.mux_506_i6_3_lut 16 9 0 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_39 14 10 4 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut 14 9 5 #SB_LUT4
set_location tx_addr_byte_r_i0_i2 12 8 6 #SB_DFF
set_location spi0.state_reg_2__I_0_108_i5_3_lut_3_lut 8 10 6 #SB_LUT4
set_location i1999_3_lut 12 7 1 #SB_LUT4
set_location i1981_3_lut 7 11 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut 12 9 6 #SB_LUT4
set_location spi0.t_FSM_i0 8 8 2 #SB_DFFS
set_location tx_fifo.lscc_fifo_inst.i1858_3_lut_4_lut 6 9 2 #SB_LUT4
set_location led_counter_695_867_add_4_4_lut 23 5 2 #SB_LUT4
set_location i1949_4_lut 11 8 3 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_7_lut 17 7 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1912_3_lut_4_lut 10 10 2 #SB_LUT4
set_location i1890_3_lut 14 7 7 #SB_LUT4
set_location usb_to_bluejay_if_inst.i1_4_lut_4_lut 15 5 6 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_3 11 6 1 #SB_CARRY
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_1_i3_4_lut 12 3 1 #SB_LUT4
set_location led_counter_695_867_add_4_16 23 6 6 #SB_CARRY
set_location bluejay_data_inst.i2730_2_lut 12 13 2 #SB_LUT4
set_location bluejay_data_inst.i2716_2_lut 8 15 1 #SB_LUT4
set_location tx_data_byte_r_i0_i3 13 4 3 #SB_DFF
set_location led_counter_695_867_add_4_22_lut 23 7 4 #SB_LUT4
set_location bluejay_data_inst.add_692_10 15 9 1 #SB_CARRY
set_location led_counter_695_867_add_4_25_lut 23 7 7 #SB_LUT4
set_location bluejay_data_inst.add_692_8_lut 15 8 7 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_4 16 5 2 #SB_CARRY
set_location pc_rx.i1_2_lut 13 5 3 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_2_lut 16 5 0 #SB_LUT4
set_location pc_rx.r_Clock_Count_698_add_4_7 13 6 5 #SB_CARRY
set_location led_counter_695_867_add_4_13_lut 23 6 3 #SB_LUT4
set_location i1_2_lut_adj_69 6 11 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i59_60 8 10 3 #SB_DFF
set_location tx_addr_byte_r_i0_i7 12 7 1 #SB_DFF
set_location pc_tx.r_Bit_Index_i2 8 5 0 #SB_DFFESR
set_location pc_rx.r_Rx_Byte_i1 12 5 6 #SB_DFF
set_location bluejay_data_inst.i2728_2_lut 9 10 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1901_3_lut_4_lut 6 10 3 #SB_LUT4
set_location i1946_4_lut 13 5 2 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_41 14 9 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i47_48 6 9 5 #SB_DFF
set_location spi0.t_FSM_i7 8 9 3 #SB_DFFR
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut 12 4 7 #SB_LUT4
set_location led_counter_695_867_add_4_8_lut 23 5 6 #SB_LUT4
set_location led_counter_695_867__i12 23 6 4 #SB_DFF
set_location usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_21 16 6 1 #SB_LUT4
set_location pc_rx.i1_4_lut_adj_29 12 6 3 #SB_LUT4
set_location bluejay_data_inst.i3384_4_lut 16 9 2 #SB_LUT4
set_location usb_to_bluejay_if_inst.i3309_1_lut_2_lut 19 6 3 #SB_LUT4
set_location spi0.start_transfer_edge_73 15 5 0 #SB_DFF
set_location spi0.i2799_2_lut_4_lut 8 9 1 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i8 11 7 0 #SB_DFFESR
set_location pc_tx.i941_2_lut 8 5 1 #SB_LUT4
set_location pc_rx.r_Clock_Count_698_add_4_10 13 7 0 #SB_CARRY
set_location bluejay_data_inst.mux_506_i5_3_lut 17 9 5 #SB_LUT4
set_location bluejay_data_inst.add_692_6_lut 15 8 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.i5_4_lut 15 5 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1909_3_lut_4_lut 6 10 2 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_6 11 6 4 #SB_CARRY
set_location pc_rx.r_SM_Main_i0 12 3 0 #SB_DFFSR
set_location pc_rx.i4493_2_lut 12 4 6 #SB_LUT4
set_location led_counter_695_867_add_4_13 23 6 3 #SB_CARRY
set_location bluejay_data_inst.sub_117_add_2_2 17 7 0 #SB_CARRY
set_location spi0.t_FSM_i10 8 8 7 #SB_DFFR
set_location i1_3_lut 12 10 1 #SB_LUT4
set_location bluejay_data_inst.i1_2_lut_3_lut 16 10 0 #SB_LUT4
set_location uart_rx_complete_rising_edge_88 15 4 2 #SB_DFF
set_location i1_4_lut_adj_80 15 5 0 #SB_LUT4
set_location i1_3_lut_4_lut 10 11 6 #SB_LUT4
set_location i1987_3_lut 14 7 1 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_7 16 5 5 #SB_CARRY
set_location i1945_3_lut 9 6 7 #SB_LUT4
set_location bluejay_data_inst.add_692_9 15 9 0 #SB_CARRY
set_location led_counter_695_867__i9 23 6 1 #SB_DFF
set_location fifo_write_cmd_85 11 5 2 #SB_DFF
set_location i1939_3_lut 9 7 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4713 6 6 4 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i6 14 6 7 #SB_DFF
set_location i23_4_lut_4_lut 16 6 2 #SB_LUT4
set_location spi0.i2803_2_lut_4_lut 8 8 7 #SB_LUT4
set_location i1861_4_lut_4_lut 12 9 2 #SB_LUT4
set_location bluejay_data_inst.i11_3_lut_adj_42 14 10 3 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_7_lut 16 5 5 #SB_LUT4
set_location usb_to_bluejay_if_inst.state__i1 15 7 0 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i2 8 7 5 #SB_DFFE
set_location pc_tx.i2_3_lut_4_lut 9 6 6 #SB_LUT4
set_location led_counter_695_867__i15 23 6 7 #SB_DFF
set_location bluejay_data_inst.i3391_4_lut 13 9 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1882_3_lut_4_lut 8 6 0 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i5 11 6 5 #SB_DFFESR
set_location pc_rx.i4520_2_lut 12 6 4 #SB_LUT4
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i2 16 5 2 #SB_DFFESR
set_location led_counter_695_867_add_4_15_lut 23 6 5 #SB_LUT4
set_location led_counter_695_867_add_4_10 23 6 0 #SB_CARRY
set_location bluejay_data_inst.sub_117_add_2_7 17 7 5 #SB_CARRY
set_location spi_busy_prev_84 11 4 7 #SB_DFF
set_location spi0.t_FSM_i15 8 8 0 #SB_DFFR
set_location spi0.rx__3_i6 6 11 6 #SB_DFF
set_location even_byte_flag_95 16 4 2 #SB_DFF
set_location bluejay_data_inst.sub_119_add_2_3 17 8 1 #SB_CARRY
set_location bluejay_data_inst.i2733_2_lut 15 11 0 #SB_LUT4
set_location i1_2_lut_adj_76 6 6 7 #SB_LUT4
set_location bluejay_data_inst.i1_2_lut_3_lut_adj_47 16 12 0 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_5 8 12 3 #SB_CARRY
set_location pc_tx.i2_4_lut_adj_26 10 6 2 #SB_LUT4
set_location pc_rx.r_Clock_Count_698_add_4_7_lut 13 6 5 #SB_LUT4
set_location led_counter_695_867_add_4_4 23 5 2 #SB_CARRY
set_location led_counter_695_867_add_4_24_lut 23 7 6 #SB_LUT4
set_location i2003_4_lut 13 5 1 #SB_LUT4
set_location bluejay_data_inst.i1804_4_lut 15 10 6 #SB_LUT4
set_location pc_rx.i2904_4_lut 13 5 5 #SB_LUT4
set_location spi0.i28_4_lut 9 9 6 #SB_LUT4
set_location pc_rx.i926_2_lut_3_lut 15 3 0 #SB_LUT4
set_location led_counter_695_867_add_4_19_lut 23 7 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i38_39 6 5 2 #SB_DFF
set_location spi0.spi_clk_counter_701_add_4_9_lut 8 12 7 #SB_LUT4
set_location pc_tx.i4684_4_lut 10 7 2 #SB_LUT4
set_location bluejay_data_inst.sub_117_add_2_6_lut 17 7 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i5 8 7 7 #SB_DFFE
set_location tx_fifo.lscc_fifo_inst.i233_234 8 6 2 #SB_DFF
set_location spi0.busy_86 10 7 7 #SB_DFF
set_location pc_tx.r_Tx_Data_i3 9 5 3 #SB_DFF
set_location led_counter_695_867__i20 23 7 4 #SB_DFF
set_location i1_3_lut_4_lut_adj_78 12 10 7 #SB_LUT4
set_location bluejay_data_inst.i3387_4_lut 16 11 7 #SB_LUT4
set_location usb_to_bluejay_if_inst.i7_4_lut 16 6 4 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_5_lut 8 12 3 #SB_LUT4
set_location spi0.i4639_3_lut 9 9 5 #SB_LUT4
set_location spi0.i29_3_lut 9 9 4 #SB_LUT4
set_location bluejay_data_inst.i1206_2_lut 15 9 4 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_7_lut 8 12 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_700__i6 11 6 6 #SB_DFFESR
set_location bluejay_data_inst.state__i1 15 10 0 #SB_DFFSR
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i7 16 5 7 #SB_DFFESR
set_location bluejay_data_inst.sub_117_add_2_4 17 7 2 #SB_CARRY
set_location spi0.rx__3_i5 6 11 5 #SB_DFF
set_location spi0.i2807_2_lut_4_lut 8 8 3 #SB_LUT4
set_location bluejay_data_inst.sub_119_add_2_4 17 8 2 #SB_CARRY
set_location bluejay_data_inst.i7_4_lut_adj_54 17 9 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i155_156 8 10 4 #SB_DFF
set_location spi0.mux_473_i3_4_lut_4_lut 9 8 3 #SB_LUT4
set_location bluejay_data_inst.state_timeout_counter_i1 16 12 0 #SB_DFFSS
set_location usb_to_bluejay_if_inst.i4_2_lut 16 6 3 #SB_LUT4
set_location led_counter_695_867_add_4_7 23 5 5 #SB_CARRY
set_location i1876_3_lut 6 6 2 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location bluejay_data_inst.i2_2_lut_3_lut 15 9 6 #SB_LUT4
set_location pc_tx.r_Clock_Count_700_add_4_4_lut 11 6 2 #SB_LUT4
set_location bluejay_data_inst.add_692_9_lut 15 9 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i329_330 7 9 4 #SB_DFF
set_location i1989_3_lut 13 4 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1854_3_lut_4_lut 10 10 7 #SB_LUT4
set_location pc_tx.i1_3_lut_4_lut 10 6 5 #SB_LUT4
set_location i1980_3_lut 7 11 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i239_240 6 9 2 #SB_DFF
set_location pc_tx.r_SM_Main_i0 10 6 3 #SB_DFFSR
set_location led_counter_695_867_add_4_9_lut 23 5 7 #SB_LUT4
set_location usb_to_bluejay_if_inst.sub_123_add_2_6_lut 16 5 4 #SB_LUT4
set_location usb_to_bluejay_if_inst.next_line_rdy_o_40 16 6 1 #SB_DFF
set_location pc_tx.r_Tx_Data_i4 9 5 4 #SB_DFF
set_location fifo_read_cmd_86 11 9 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i41_42 8 6 1 #SB_DFF
set_location i1960_4_lut 11 8 4 #SB_LUT4
set_location bluejay_data_inst.mux_694_i1_3_lut 18 9 3 #SB_LUT4
set_location bluejay_data_inst.h_counter__i2 17 7 2 #SB_DFFESR
set_location spi0.tx_shift_reg_i14 11 8 5 #SB_DFFN
set_location pc_tx.r_Clock_Count_700__i3 11 6 3 #SB_DFFESR
set_location pc_rx.r_Rx_Data_R_49 24 4 4 #SB_DFF
set_location pc_rx.r_Rx_Data_50 20 4 4 #SB_DFF
set_location bluejay_data_inst.state__i2 15 10 7 #SB_DFFSR
set_location usb_to_bluejay_if_inst.state_timeout_counter_i0_i4 16 5 4 #SB_DFFESR
set_location usb_to_bluejay_if_inst.i1_3_lut_4_lut 15 6 1 #SB_LUT4
set_location spi0.tx_shift_reg_i1 11 8 6 #SB_DFFN
set_location pc_tx.r_Clock_Count_700_add_4_8 11 6 6 #SB_CARRY
set_location led_counter_695_867_add_4_21_lut 23 7 3 #SB_LUT4
set_location bluejay_data_inst.i2708_2_lut 12 11 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i50_51 9 7 7 #SB_DFF
set_location i1961_4_lut 11 8 5 #SB_LUT4
set_location bluejay_data_inst.state_timeout_counter_i6 18 8 0 #SB_DFFSS
set_location bluejay_data_inst.i1_2_lut_3_lut_adj_60 17 11 6 #SB_LUT4
set_location usb_to_bluejay_if_inst.i2_4_lut 15 6 2 #SB_LUT4
set_location spi0.spi_clk_counter_701_add_4_3 8 12 1 #SB_CARRY
set_location led_counter_695_867_add_4_2 23 5 0 #SB_CARRY
set_location i1986_3_lut 12 5 7 #SB_LUT4
set_location bluejay_data_inst.i2718_2_lut 14 16 6 #SB_LUT4
set_location reset_clk_counter_i3_696__i3 10 11 6 #SB_DFF
set_location led_counter_695_867_add_4_7_lut 23 5 5 #SB_LUT4
set_location led_counter_695_867__i0 23 5 0 #SB_DFF
set_location i1_2_lut_adj_65 10 11 2 #SB_LUT4
set_location spi0.state_reg_i0 9 8 6 #SB_DFFR
set_location pc_rx.r_Clock_Count_698__i5 13 6 5 #SB_DFFESR
set_location pc_rx.i2_3_lut_4_lut 13 5 6 #SB_LUT4
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut 13 4 7 #SB_LUT4
set_location bluejay_data_inst.i2_4_lut 16 8 2 #SB_LUT4
set_location pc_tx.i4680_2_lut_3_lut 9 6 5 #SB_LUT4
set_location pc_rx.equal_145_i4_2_lut 13 3 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i7 11 10 6 #SB_DFF
set_location spi0.t_FSM_i8 8 9 4 #SB_DFFR
set_location bluejay_data_inst.h_counter__i7 17 7 7 #SB_DFFESR
set_location usb_to_bluejay_if_inst.fifo_empty_i_I_0_1_lut 23 8 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n5702_bdd_4_lut 7 10 6 #SB_LUT4
set_location spi0.tx_shift_reg_i13 11 8 4 #SB_DFFN
set_location spi0.start_transfer_prev_74 15 5 7 #SB_DFF
set_location i1951_4_lut 10 8 1 #SB_LUT4
set_location i1944_3_lut 8 6 4 #SB_LUT4
set_location spi0.tx_shift_reg_i6 10 9 1 #SB_DFFN
set_location spi0.spi_clk_76 9 13 6 #SB_DFF
set_location pc_tx.i4553_3_lut 9 5 7 #SB_LUT4
set_location bluejay_data_inst.i21_4_lut_adj_36 18 9 4 #SB_LUT4
set_location i1958_4_lut 10 8 6 #SB_LUT4
set_location bluejay_data_inst.i2717_2_lut 18 15 6 #SB_LUT4
set_location bluejay_data_inst.i2703_2_lut 7 15 6 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i6 6 8 7 #SB_DFF
set_location i1990_3_lut 13 4 4 #SB_LUT4
set_location bluejay_data_inst.v_counter_i0 14 9 5 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i245_246 6 9 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4723 8 7 6 #SB_LUT4
set_location led_counter_695_867__i5 23 5 5 #SB_DFF
set_location bluejay_data_inst.add_692_4 15 8 3 #SB_CARRY
set_location spi0.spi_clk_counter_701__i1 8 12 1 #SB_DFFSR
set_location led_counter_695_867_add_4_22 23 7 4 #SB_CARRY
set_location i1_2_lut_3_lut_4_lut 10 11 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1881_3_lut_4_lut 7 9 3 #SB_LUT4
set_location pc_rx.r_Clock_Count_698__i6 13 6 6 #SB_DFFESR
set_io SOUT 139
set_io SCK 144
set_io FIFO_D31 16
set_io FIFO_D20 29
set_io FIFO_D13 39
set_io FIFO_D1 61
set_io FIFO_CLK 21
set_io DATA15 105
set_io DATA4 119
set_io DATA23 120
set_io RST 78
set_io FIFO_D4 55
set_io FIFO_D14 38
set_io UART_TX 79
set_io DATA10 96
set_io DATA28 130
set_io DATA19 114
set_io SDAT 143
set_io FT_SIWU 7
set_io DATA0 138
set_io FT_WR 4
set_io FIFO_D27 20
set_io FIFO_D10 43
set_io FIFO_D0 62
set_io DEBUG_0 83
set_io FIFO_D9 44
set_io DATA14 102
set_io UPDATE 88
set_io RESET 142
set_io FIFO_D21 28
set_io FIFO_D12 41
set_io DEBUG_6 82
set_io DATA5 116
set_io DATA24 121
set_io SEN 141
set_io FIFO_D7 47
set_io FIFO_D15 37
set_io ICE_CREST 10
set_io FIFO_D23 25
set_io DATA3 122
set_io DATA22 118
set_io DATA13 101
set_io INVERT 91
set_io FT_RD 3
set_io FIFO_D5 49
set_io FIFO_D24 24
set_io FIFO_D17 33
set_io DSR 74
set_io DEBUG_3 87
set_io DATA29 135
set_io DATA18 112
set_io ICE_CLK 52
set_io DATA20 115
set_io DATA11 97
set_io DATA1 134
set_io VALID 94
set_io SYNC 90
set_io FIFO_D3 56
set_io FIFO_D26 22
set_io FIFO_D11 42
set_io DEBUG_1 84
set_io DATA8 104
set_io DATA31 137
set_io DATA27 129
set_io CTS 76
set_io FIFO_D8 45
set_io FIFO_D18 32
set_io DEBUG_8 63
set_io DCD 73
set_io DATA17 110
set_io SLM_CLK 95
set_io DATA6 113
set_io DATA25 124
set_io ICE_CDONE 15
set_io FIFO_D6 48
set_io FIFO_D29 18
set_io UART_RX 80
set_io FIFO_D22 26
set_io DEBUG_5 81
set_io DATA12 98
set_io DTR 75
set_io DATA21 117
set_io DATA2 128
set_io FIFO_D25 23
set_io FIFO_D2 60
set_io FIFO_D16 34
set_io DEBUG_2 85
set_io DATA9 99
set_io DATA30 136
set_io FR_RXF 8
set_io FIFO_D19 31
set_io DEBUG_9 64
set_io DATA16 106
set_io FT_OE 2
set_io DATA7 107
set_io DATA26 125
set_io FIFO_D30 17
set_io FIFO_D28 19
