ble_pack usb_to_bluejay_if_inst.i1_2_lut_LC_1_18_6 { usb_to_bluejay_if_inst.i1_2_lut }
clb_pack LT_1_18 { usb_to_bluejay_if_inst.i1_2_lut_LC_1_18_6 }
set_location LT_1_18 1 18
ble_pack bluejay_data_inst.i2715_2_lut_LC_5_7_1 { bluejay_data_inst.i2715_2_lut }
clb_pack LT_5_7 { bluejay_data_inst.i2715_2_lut_LC_5_7_1 }
set_location LT_5_7 5 7
ble_pack bluejay_data_inst.i2722_2_lut_LC_5_12_1 { bluejay_data_inst.i2722_2_lut }
clb_pack LT_5_12 { bluejay_data_inst.i2722_2_lut_LC_5_12_1 }
set_location LT_5_12 5 12
ble_pack bluejay_data_inst.i2702_2_lut_LC_5_13_0 { bluejay_data_inst.i2702_2_lut }
ble_pack bluejay_data_inst.i2701_2_lut_LC_5_13_5 { bluejay_data_inst.i2701_2_lut }
clb_pack LT_5_13 { bluejay_data_inst.i2702_2_lut_LC_5_13_0, bluejay_data_inst.i2701_2_lut_LC_5_13_5 }
set_location LT_5_13 5 13
ble_pack tx_fifo.lscc_fifo_inst.i38_39_LC_6_5_2 { tx_fifo.lscc_fifo_inst.i1916_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i38_39 }
ble_pack tx_fifo.lscc_fifo_inst.i230_231_LC_6_5_5 { tx_fifo.lscc_fifo_inst.i1891_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i230_231 }
ble_pack tx_fifo.lscc_fifo_inst.i326_327_LC_6_5_6 { tx_fifo.lscc_fifo_inst.i1884_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i326_327 }
clb_pack LT_6_5 { tx_fifo.lscc_fifo_inst.i38_39_LC_6_5_2, tx_fifo.lscc_fifo_inst.i230_231_LC_6_5_5, tx_fifo.lscc_fifo_inst.i326_327_LC_6_5_6 }
set_location LT_6_5 6 5
ble_pack bluejay_data_inst.i2725_2_lut_LC_6_6_0 { bluejay_data_inst.i2725_2_lut }
ble_pack spi0.Rx_Lower_Byte_i7_LC_6_6_1 { i1985_3_lut, spi0.Rx_Lower_Byte_i7 }
ble_pack spi0.Rx_Lower_Byte_i0_LC_6_6_2 { i1876_3_lut, spi0.Rx_Lower_Byte_i0 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4713_LC_6_6_4 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4713 }
ble_pack spi0.rx__3_i9_LC_6_6_7 { i1_2_lut_adj_76, spi0.rx__3_i9 }
clb_pack LT_6_6 { bluejay_data_inst.i2725_2_lut_LC_6_6_0, spi0.Rx_Lower_Byte_i7_LC_6_6_1, spi0.Rx_Lower_Byte_i0_LC_6_6_2, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4713_LC_6_6_4, spi0.rx__3_i9_LC_6_6_7 }
set_location LT_6_6 6 6
ble_pack tx_fifo.lscc_fifo_inst.i248_249_LC_6_7_7 { tx_fifo.lscc_fifo_inst.i1915_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i248_249 }
clb_pack LT_6_7 { tx_fifo.lscc_fifo_inst.i248_249_LC_6_7_7 }
set_location LT_6_7 6 7
ble_pack spi0.rx__3_i8_LC_6_8_6 { i1_2_lut_adj_77, spi0.rx__3_i8 }
ble_pack spi0.Rx_Lower_Byte_i6_LC_6_8_7 { i1984_3_lut, spi0.Rx_Lower_Byte_i6 }
clb_pack LT_6_8 { spi0.rx__3_i8_LC_6_8_6, spi0.Rx_Lower_Byte_i6_LC_6_8_7 }
set_location LT_6_8 6 8
ble_pack tx_fifo.lscc_fifo_inst.i341_342_LC_6_9_0 { tx_fifo.lscc_fifo_inst.i1877_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i341_342 }
ble_pack tx_fifo.lscc_fifo_inst.i239_240_LC_6_9_2 { tx_fifo.lscc_fifo_inst.i1858_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i239_240 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4733_LC_6_9_3 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4733 }
ble_pack tx_fifo.lscc_fifo_inst.i245_246_LC_6_9_4 { tx_fifo.lscc_fifo_inst.i1893_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i245_246 }
ble_pack tx_fifo.lscc_fifo_inst.i47_48_LC_6_9_5 { tx_fifo.lscc_fifo_inst.i1911_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i47_48 }
clb_pack LT_6_9 { tx_fifo.lscc_fifo_inst.i341_342_LC_6_9_0, tx_fifo.lscc_fifo_inst.i239_240_LC_6_9_2, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4733_LC_6_9_3, tx_fifo.lscc_fifo_inst.i245_246_LC_6_9_4, tx_fifo.lscc_fifo_inst.i47_48_LC_6_9_5 }
set_location LT_6_9 6 9
ble_pack tx_fifo.lscc_fifo_inst.i53_54_LC_6_10_2 { tx_fifo.lscc_fifo_inst.i1909_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i53_54 }
ble_pack tx_fifo.lscc_fifo_inst.i149_150_LC_6_10_3 { tx_fifo.lscc_fifo_inst.i1901_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i149_150 }
clb_pack LT_6_10 { tx_fifo.lscc_fifo_inst.i53_54_LC_6_10_2, tx_fifo.lscc_fifo_inst.i149_150_LC_6_10_3 }
set_location LT_6_10 6 10
ble_pack spi0.rx__3_i2_LC_6_11_1 { i1_2_lut_adj_69, spi0.rx__3_i2 }
ble_pack spi0.rx__3_i1_LC_6_11_3 { i1_2_lut, spi0.rx__3_i1 }
ble_pack spi0.rx__3_i7_LC_6_11_4 { i1_2_lut_adj_71, spi0.rx__3_i7 }
ble_pack spi0.rx__3_i5_LC_6_11_5 { i1_2_lut_adj_73, spi0.rx__3_i5 }
ble_pack spi0.rx__3_i6_LC_6_11_6 { i1_2_lut_adj_72, spi0.rx__3_i6 }
clb_pack LT_6_11 { spi0.rx__3_i2_LC_6_11_1, spi0.rx__3_i1_LC_6_11_3, spi0.rx__3_i7_LC_6_11_4, spi0.rx__3_i5_LC_6_11_5, spi0.rx__3_i6_LC_6_11_6 }
set_location LT_6_11 6 11
ble_pack bluejay_data_inst.i2704_2_lut_LC_6_12_5 { bluejay_data_inst.i2704_2_lut }
clb_pack LT_6_12 { bluejay_data_inst.i2704_2_lut_LC_6_12_5 }
set_location LT_6_12 6 12
ble_pack spi0.i2_3_lut_LC_6_13_6 { spi0.i2_3_lut }
clb_pack LT_6_13 { spi0.i2_3_lut_LC_6_13_6 }
set_location LT_6_13 6 13
ble_pack bluejay_data_inst.i2709_2_lut_LC_6_16_7 { bluejay_data_inst.i2709_2_lut }
clb_pack LT_6_16 { bluejay_data_inst.i2709_2_lut_LC_6_16_7 }
set_location LT_6_16 6 16
ble_pack tx_fifo.lscc_fifo_inst.i134_135_LC_7_5_7 { tx_fifo.lscc_fifo_inst.i1906_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i134_135 }
clb_pack LT_7_5 { tx_fifo.lscc_fifo_inst.i134_135_LC_7_5_7 }
set_location LT_7_5 7 5
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i1_LC_7_6_7 { tx_fifo.lscc_fifo_inst.n5666_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i1 }
clb_pack LT_7_6 { tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i1_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack tx_fifo.lscc_fifo_inst.i44_45_LC_7_7_2 { tx_fifo.lscc_fifo_inst.i1913_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i44_45 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4708_LC_7_7_4 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4708 }
ble_pack tx_fifo.lscc_fifo_inst.i236_237_LC_7_7_6 { tx_fifo.lscc_fifo_inst.i1866_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i236_237 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i6_LC_7_7_7 { i1967_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i6 }
clb_pack LT_7_7 { tx_fifo.lscc_fifo_inst.i44_45_LC_7_7_2, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4708_LC_7_7_4, tx_fifo.lscc_fifo_inst.i236_237_LC_7_7_6, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i6_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack spi0.t_FSM_i5_LC_7_8_2 { spi0.i2798_2_lut_4_lut, spi0.t_FSM_i5 }
clb_pack LT_7_8 { spi0.t_FSM_i5_LC_7_8_2 }
set_location LT_7_8 7 8
ble_pack tx_fifo.lscc_fifo_inst.i152_153_LC_7_9_0 { tx_fifo.lscc_fifo_inst.i1900_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i152_153 }
ble_pack tx_fifo.lscc_fifo_inst.i140_141_LC_7_9_1 { tx_fifo.lscc_fifo_inst.i1904_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i140_141 }
ble_pack tx_fifo.lscc_fifo_inst.i143_144_LC_7_9_2 { tx_fifo.lscc_fifo_inst.i1903_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i143_144 }
ble_pack tx_fifo.lscc_fifo_inst.i335_336_LC_7_9_3 { tx_fifo.lscc_fifo_inst.i1881_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i335_336 }
ble_pack tx_fifo.lscc_fifo_inst.i329_330_LC_7_9_4 { tx_fifo.lscc_fifo_inst.i1883_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i329_330 }
ble_pack tx_fifo.lscc_fifo_inst.i56_57_LC_7_9_6 { tx_fifo.lscc_fifo_inst.i1908_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i56_57 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_LC_7_9_7 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut }
clb_pack LT_7_9 { tx_fifo.lscc_fifo_inst.i152_153_LC_7_9_0, tx_fifo.lscc_fifo_inst.i140_141_LC_7_9_1, tx_fifo.lscc_fifo_inst.i143_144_LC_7_9_2, tx_fifo.lscc_fifo_inst.i335_336_LC_7_9_3, tx_fifo.lscc_fifo_inst.i329_330_LC_7_9_4, tx_fifo.lscc_fifo_inst.i56_57_LC_7_9_6, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_LC_7_9_7 }
set_location LT_7_9 7 9
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i8_LC_7_10_0 { tx_fifo.lscc_fifo_inst.n5684_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i8 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i4_LC_7_10_3 { tx_fifo.lscc_fifo_inst.n5690_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i4 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4738_LC_7_10_4 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4738 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i7_LC_7_10_5 { tx_fifo.lscc_fifo_inst.n5696_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i7 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i6_LC_7_10_6 { tx_fifo.lscc_fifo_inst.n5702_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i6 }
clb_pack LT_7_10 { tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i8_LC_7_10_0, tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i4_LC_7_10_3, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4738_LC_7_10_4, tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i7_LC_7_10_5, tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i6_LC_7_10_6 }
set_location LT_7_10 7 10
ble_pack spi0.Rx_Lower_Byte_i5_LC_7_11_0 { i1983_3_lut, spi0.Rx_Lower_Byte_i5 }
ble_pack spi0.Rx_Lower_Byte_i1_LC_7_11_1 { i1963_3_lut, spi0.Rx_Lower_Byte_i1 }
ble_pack spi0.rx__3_i4_LC_7_11_2 { i1_2_lut_adj_74, spi0.rx__3_i4 }
ble_pack spi0.Rx_Lower_Byte_i3_LC_7_11_3 { i1981_3_lut, spi0.Rx_Lower_Byte_i3 }
ble_pack spi0.rx__3_i3_LC_7_11_4 { i1_2_lut_adj_68, spi0.rx__3_i3 }
ble_pack spi0.Rx_Lower_Byte_i2_LC_7_11_7 { i1980_3_lut, spi0.Rx_Lower_Byte_i2 }
clb_pack LT_7_11 { spi0.Rx_Lower_Byte_i5_LC_7_11_0, spi0.Rx_Lower_Byte_i1_LC_7_11_1, spi0.rx__3_i4_LC_7_11_2, spi0.Rx_Lower_Byte_i3_LC_7_11_3, spi0.rx__3_i3_LC_7_11_4, spi0.Rx_Lower_Byte_i2_LC_7_11_7 }
set_location LT_7_11 7 11
ble_pack spi0.CS_81_LC_7_12_7 { spi0.CS_81_THRU_LUT4_0, spi0.CS_81 }
clb_pack LT_7_12 { spi0.CS_81_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack bluejay_data_inst.i2707_2_lut_LC_7_15_5 { bluejay_data_inst.i2707_2_lut }
ble_pack bluejay_data_inst.i2703_2_lut_LC_7_15_6 { bluejay_data_inst.i2703_2_lut }
clb_pack LT_7_15 { bluejay_data_inst.i2707_2_lut_LC_7_15_5, bluejay_data_inst.i2703_2_lut_LC_7_15_6 }
set_location LT_7_15 7 15
ble_pack pc_tx.r_Bit_Index_i2_LC_8_5_0 { pc_tx.i948_2_lut_3_lut, pc_tx.r_Bit_Index_i2 }
ble_pack pc_tx.r_Bit_Index_i1_LC_8_5_1 { pc_tx.i941_2_lut, pc_tx.r_Bit_Index_i1 }
clb_pack LT_8_5 { pc_tx.r_Bit_Index_i2_LC_8_5_0, pc_tx.r_Bit_Index_i1_LC_8_5_1 }
set_location LT_8_5 8 5
ble_pack tx_fifo.lscc_fifo_inst.i332_333_LC_8_6_0 { tx_fifo.lscc_fifo_inst.i1882_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i332_333 }
ble_pack tx_fifo.lscc_fifo_inst.i41_42_LC_8_6_1 { tx_fifo.lscc_fifo_inst.i1914_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i41_42 }
ble_pack tx_fifo.lscc_fifo_inst.i233_234_LC_8_6_2 { tx_fifo.lscc_fifo_inst.i1867_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i233_234 }
ble_pack pc_tx.r_Tx_Data_i6_LC_8_6_4 { i1944_3_lut, pc_tx.r_Tx_Data_i6 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i4_LC_8_6_5 { i1973_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i4 }
ble_pack pc_tx.i2_2_lut_3_lut_LC_8_6_6 { pc_tx.i2_2_lut_3_lut }
ble_pack pc_tx.r_Bit_Index_i0_LC_8_6_7 { pc_tx.i2007_3_lut_4_lut, pc_tx.r_Bit_Index_i0 }
clb_pack LT_8_6 { tx_fifo.lscc_fifo_inst.i332_333_LC_8_6_0, tx_fifo.lscc_fifo_inst.i41_42_LC_8_6_1, tx_fifo.lscc_fifo_inst.i233_234_LC_8_6_2, pc_tx.r_Tx_Data_i6_LC_8_6_4, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i4_LC_8_6_5, pc_tx.i2_2_lut_3_lut_LC_8_6_6, pc_tx.r_Bit_Index_i0_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i3_LC_8_7_0 { tx_fifo.lscc_fifo_inst.n5660_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i3 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4718_LC_8_7_4 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4718 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i2_LC_8_7_5 { tx_fifo.lscc_fifo_inst.n5672_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i2 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4723_LC_8_7_6 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4723 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i5_LC_8_7_7 { tx_fifo.lscc_fifo_inst.n5678_bdd_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i5 }
clb_pack LT_8_7 { tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i3_LC_8_7_0, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4718_LC_8_7_4, tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i2_LC_8_7_5, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4723_LC_8_7_6, tx_fifo.lscc_fifo_inst.mem_LUT_data_raw_r__i5_LC_8_7_7 }
set_location LT_8_7 8 7
ble_pack spi0.t_FSM_i15_LC_8_8_0 { spi0.i2808_2_lut_4_lut, spi0.t_FSM_i15 }
ble_pack spi0.mux_473_i2_4_lut_4_lut_LC_8_8_1 { spi0.mux_473_i2_4_lut_4_lut }
ble_pack spi0.t_FSM_i0_LC_8_8_2 { spi0.i2685_2_lut_4_lut, spi0.t_FSM_i0 }
ble_pack spi0.t_FSM_i14_LC_8_8_3 { spi0.i2807_2_lut_4_lut, spi0.t_FSM_i14 }
ble_pack spi0.t_FSM_i13_LC_8_8_4 { spi0.i2806_2_lut_4_lut, spi0.t_FSM_i13 }
ble_pack spi0.t_FSM_i12_LC_8_8_5 { spi0.i2805_2_lut_4_lut, spi0.t_FSM_i12 }
ble_pack spi0.t_FSM_i11_LC_8_8_6 { spi0.i2804_2_lut_4_lut, spi0.t_FSM_i11 }
ble_pack spi0.t_FSM_i10_LC_8_8_7 { spi0.i2803_2_lut_4_lut, spi0.t_FSM_i10 }
clb_pack LT_8_8 { spi0.t_FSM_i15_LC_8_8_0, spi0.mux_473_i2_4_lut_4_lut_LC_8_8_1, spi0.t_FSM_i0_LC_8_8_2, spi0.t_FSM_i14_LC_8_8_3, spi0.t_FSM_i13_LC_8_8_4, spi0.t_FSM_i12_LC_8_8_5, spi0.t_FSM_i11_LC_8_8_6, spi0.t_FSM_i10_LC_8_8_7 }
set_location LT_8_8 8 8
ble_pack spi0.t_FSM_i6_LC_8_9_1 { spi0.i2799_2_lut_4_lut, spi0.t_FSM_i6 }
ble_pack spi0.i1_2_lut_3_lut_LC_8_9_2 { spi0.i1_2_lut_3_lut }
ble_pack spi0.t_FSM_i7_LC_8_9_3 { spi0.i2800_2_lut_4_lut, spi0.t_FSM_i7 }
ble_pack spi0.t_FSM_i8_LC_8_9_4 { spi0.i2801_2_lut_4_lut, spi0.t_FSM_i8 }
ble_pack spi0.t_FSM_i9_LC_8_9_5 { spi0.i2802_2_lut_4_lut, spi0.t_FSM_i9 }
clb_pack LT_8_9 { spi0.t_FSM_i6_LC_8_9_1, spi0.i1_2_lut_3_lut_LC_8_9_2, spi0.t_FSM_i7_LC_8_9_3, spi0.t_FSM_i8_LC_8_9_4, spi0.t_FSM_i9_LC_8_9_5 }
set_location LT_8_9 8 9
ble_pack tx_fifo.lscc_fifo_inst.i344_345_LC_8_10_1 { tx_fifo.lscc_fifo_inst.i1875_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i344_345 }
ble_pack tx_fifo.lscc_fifo_inst.i347_348_LC_8_10_2 { tx_fifo.lscc_fifo_inst.i1874_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i347_348 }
ble_pack tx_fifo.lscc_fifo_inst.i59_60_LC_8_10_3 { tx_fifo.lscc_fifo_inst.i1907_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i59_60 }
ble_pack tx_fifo.lscc_fifo_inst.i155_156_LC_8_10_4 { tx_fifo.lscc_fifo_inst.i1899_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i155_156 }
ble_pack spi0.state_reg_2__I_0_108_i5_3_lut_3_lut_LC_8_10_6 { spi0.state_reg_2__I_0_108_i5_3_lut_3_lut }
ble_pack tx_fifo.lscc_fifo_inst.i146_147_LC_8_10_7 { tx_fifo.lscc_fifo_inst.i1902_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i146_147 }
clb_pack LT_8_10 { tx_fifo.lscc_fifo_inst.i344_345_LC_8_10_1, tx_fifo.lscc_fifo_inst.i347_348_LC_8_10_2, tx_fifo.lscc_fifo_inst.i59_60_LC_8_10_3, tx_fifo.lscc_fifo_inst.i155_156_LC_8_10_4, spi0.state_reg_2__I_0_108_i5_3_lut_3_lut_LC_8_10_6, tx_fifo.lscc_fifo_inst.i146_147_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack spi0.i6_4_lut_LC_8_11_1 { spi0.i6_4_lut }
ble_pack spi0.i4676_4_lut_LC_8_11_2 { spi0.i4676_4_lut }
ble_pack spi0.Rx_Lower_Byte_i4_LC_8_11_6 { i1982_3_lut, spi0.Rx_Lower_Byte_i4 }
ble_pack spi0.i2_2_lut_LC_8_11_7 { spi0.i2_2_lut }
clb_pack LT_8_11 { spi0.i6_4_lut_LC_8_11_1, spi0.i4676_4_lut_LC_8_11_2, spi0.Rx_Lower_Byte_i4_LC_8_11_6, spi0.i2_2_lut_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack spi0.spi_clk_counter_701__i0_LC_8_12_0 { spi0.spi_clk_counter_701_add_4_2_lut, spi0.spi_clk_counter_701__i0, spi0.spi_clk_counter_701_add_4_2 }
ble_pack spi0.spi_clk_counter_701__i1_LC_8_12_1 { spi0.spi_clk_counter_701_add_4_3_lut, spi0.spi_clk_counter_701__i1, spi0.spi_clk_counter_701_add_4_3 }
ble_pack spi0.spi_clk_counter_701__i2_LC_8_12_2 { spi0.spi_clk_counter_701_add_4_4_lut, spi0.spi_clk_counter_701__i2, spi0.spi_clk_counter_701_add_4_4 }
ble_pack spi0.spi_clk_counter_701__i3_LC_8_12_3 { spi0.spi_clk_counter_701_add_4_5_lut, spi0.spi_clk_counter_701__i3, spi0.spi_clk_counter_701_add_4_5 }
ble_pack spi0.spi_clk_counter_701__i4_LC_8_12_4 { spi0.spi_clk_counter_701_add_4_6_lut, spi0.spi_clk_counter_701__i4, spi0.spi_clk_counter_701_add_4_6 }
ble_pack spi0.spi_clk_counter_701__i5_LC_8_12_5 { spi0.spi_clk_counter_701_add_4_7_lut, spi0.spi_clk_counter_701__i5, spi0.spi_clk_counter_701_add_4_7 }
ble_pack spi0.spi_clk_counter_701__i6_LC_8_12_6 { spi0.spi_clk_counter_701_add_4_8_lut, spi0.spi_clk_counter_701__i6, spi0.spi_clk_counter_701_add_4_8 }
ble_pack spi0.spi_clk_counter_701__i7_LC_8_12_7 { spi0.spi_clk_counter_701_add_4_9_lut, spi0.spi_clk_counter_701__i7 }
clb_pack LT_8_12 { spi0.spi_clk_counter_701__i0_LC_8_12_0, spi0.spi_clk_counter_701__i1_LC_8_12_1, spi0.spi_clk_counter_701__i2_LC_8_12_2, spi0.spi_clk_counter_701__i3_LC_8_12_3, spi0.spi_clk_counter_701__i4_LC_8_12_4, spi0.spi_clk_counter_701__i5_LC_8_12_5, spi0.spi_clk_counter_701__i6_LC_8_12_6, spi0.spi_clk_counter_701__i7_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack bluejay_data_inst.i2716_2_lut_LC_8_15_1 { bluejay_data_inst.i2716_2_lut }
clb_pack LT_8_15 { bluejay_data_inst.i2716_2_lut_LC_8_15_1 }
set_location LT_8_15 8 15
ble_pack pc_tx.r_Tx_Data_i5_LC_9_5_0 { i1943_3_lut, pc_tx.r_Tx_Data_i5 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i2_LC_9_5_1 { i1979_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i2 }
ble_pack pc_tx.r_Tx_Active_46_LC_9_5_2 { i1872_4_lut_4_lut, pc_tx.r_Tx_Active_46 }
ble_pack pc_tx.r_Tx_Data_i3_LC_9_5_3 { i1941_3_lut, pc_tx.r_Tx_Data_i3 }
ble_pack pc_tx.r_Tx_Data_i4_LC_9_5_4 { i1942_3_lut, pc_tx.r_Tx_Data_i4 }
ble_pack pc_tx.r_Tx_Data_i2_LC_9_5_5 { i1940_3_lut, pc_tx.r_Tx_Data_i2 }
ble_pack pc_tx.i4551_3_lut_LC_9_5_6 { pc_tx.i4551_3_lut }
ble_pack pc_tx.i4553_3_lut_LC_9_5_7 { pc_tx.i4553_3_lut }
clb_pack LT_9_5 { pc_tx.r_Tx_Data_i5_LC_9_5_0, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i2_LC_9_5_1, pc_tx.r_Tx_Active_46_LC_9_5_2, pc_tx.r_Tx_Data_i3_LC_9_5_3, pc_tx.r_Tx_Data_i4_LC_9_5_4, pc_tx.r_Tx_Data_i2_LC_9_5_5, pc_tx.i4551_3_lut_LC_9_5_6, pc_tx.i4553_3_lut_LC_9_5_7 }
set_location LT_9_5 9 5
ble_pack pc_tx.i4645_4_lut_4_lut_LC_9_6_0 { pc_tx.i4645_4_lut_4_lut }
ble_pack pc_tx.i4554_3_lut_LC_9_6_1 { pc_tx.i4554_3_lut }
ble_pack pc_tx.r_Bit_Index_1__bdd_4_lut_LC_9_6_2 { pc_tx.r_Bit_Index_1__bdd_4_lut }
ble_pack pc_tx.n5654_bdd_4_lut_LC_9_6_3 { pc_tx.n5654_bdd_4_lut }
ble_pack pc_tx.r_SM_Main_2__I_0_55_i3_3_lut_LC_9_6_4 { pc_tx.r_SM_Main_2__I_0_55_i3_3_lut }
ble_pack pc_tx.i4680_2_lut_3_lut_LC_9_6_5 { pc_tx.i4680_2_lut_3_lut }
ble_pack pc_tx.i2_3_lut_4_lut_LC_9_6_6 { pc_tx.i2_3_lut_4_lut }
ble_pack pc_tx.r_Tx_Data_i7_LC_9_6_7 { i1945_3_lut, pc_tx.r_Tx_Data_i7 }
clb_pack LT_9_6 { pc_tx.i4645_4_lut_4_lut_LC_9_6_0, pc_tx.i4554_3_lut_LC_9_6_1, pc_tx.r_Bit_Index_1__bdd_4_lut_LC_9_6_2, pc_tx.n5654_bdd_4_lut_LC_9_6_3, pc_tx.r_SM_Main_2__I_0_55_i3_3_lut_LC_9_6_4, pc_tx.i4680_2_lut_3_lut_LC_9_6_5, pc_tx.i2_3_lut_4_lut_LC_9_6_6, pc_tx.r_Tx_Data_i7_LC_9_6_7 }
set_location LT_9_6 9 6
ble_pack pc_tx.i4550_3_lut_LC_9_7_0 { pc_tx.i4550_3_lut }
ble_pack tx_fifo.lscc_fifo_inst.i338_339_LC_9_7_1 { tx_fifo.lscc_fifo_inst.i1879_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i338_339 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i3_LC_9_7_2 { i1976_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i3 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i0_LC_9_7_3 { i1936_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i0 }
ble_pack tx_fifo.lscc_fifo_inst.i137_138_LC_9_7_4 { tx_fifo.lscc_fifo_inst.i1905_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i137_138 }
ble_pack pc_tx.r_Tx_Data_i1_LC_9_7_5 { i1939_3_lut, pc_tx.r_Tx_Data_i1 }
ble_pack pc_tx.r_Tx_Data_i0_LC_9_7_6 { i1873_3_lut, pc_tx.r_Tx_Data_i0 }
ble_pack tx_fifo.lscc_fifo_inst.i50_51_LC_9_7_7 { tx_fifo.lscc_fifo_inst.i1910_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i50_51 }
clb_pack LT_9_7 { pc_tx.i4550_3_lut_LC_9_7_0, tx_fifo.lscc_fifo_inst.i338_339_LC_9_7_1, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i3_LC_9_7_2, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i0_LC_9_7_3, tx_fifo.lscc_fifo_inst.i137_138_LC_9_7_4, pc_tx.r_Tx_Data_i1_LC_9_7_5, pc_tx.r_Tx_Data_i0_LC_9_7_6, tx_fifo.lscc_fifo_inst.i50_51_LC_9_7_7 }
set_location LT_9_7 9 7
ble_pack spi0.i1230_2_lut_4_lut_LC_9_8_0 { spi0.i1230_2_lut_4_lut }
ble_pack spi0.state_reg_i2_LC_9_8_1 { spi0.mux_473_i3_4_lut_4_lut_spi0.state_reg_i2_REP_LUT4_0, spi0.state_reg_i2 }
ble_pack spi0.i4644_2_lut_3_lut_LC_9_8_2 { spi0.i4644_2_lut_3_lut }
ble_pack spi0.mux_473_i3_4_lut_4_lut_LC_9_8_3 { spi0.mux_473_i3_4_lut_4_lut }
ble_pack spi0.i1_4_lut_LC_9_8_4 { spi0.i1_4_lut }
ble_pack spi0.t_FSM_i3_LC_9_8_5 { spi0.i2796_2_lut_4_lut, spi0.t_FSM_i3 }
ble_pack spi0.state_reg_i0_LC_9_8_6 { spi0.mux_473_i1_3_lut_spi0.state_reg_i0_REP_LUT4_0, spi0.state_reg_i0 }
ble_pack spi0.t_FSM_i4_LC_9_8_7 { spi0.i2797_2_lut_4_lut, spi0.t_FSM_i4 }
clb_pack LT_9_8 { spi0.i1230_2_lut_4_lut_LC_9_8_0, spi0.state_reg_i2_LC_9_8_1, spi0.i4644_2_lut_3_lut_LC_9_8_2, spi0.mux_473_i3_4_lut_4_lut_LC_9_8_3, spi0.i1_4_lut_LC_9_8_4, spi0.t_FSM_i3_LC_9_8_5, spi0.state_reg_i0_LC_9_8_6, spi0.t_FSM_i4_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack i490_4_lut_LC_9_9_0 { i490_4_lut }
ble_pack spi0.state_reg_i1_LC_9_9_1 { spi0.mux_473_i2_4_lut_4_lut_spi0.state_reg_i1_REP_LUT4_0, spi0.state_reg_i1 }
ble_pack spi0.t_FSM_i2_LC_9_9_2 { spi0.i2795_2_lut_4_lut, spi0.t_FSM_i2 }
ble_pack spi0.t_FSM_i1_LC_9_9_3 { spi0.i2794_2_lut_4_lut, spi0.t_FSM_i1 }
ble_pack spi0.i29_3_lut_LC_9_9_4 { spi0.i29_3_lut }
ble_pack spi0.i4639_3_lut_LC_9_9_5 { spi0.i4639_3_lut }
ble_pack spi0.i28_4_lut_LC_9_9_6 { spi0.i28_4_lut }
ble_pack spi0.mux_473_i1_3_lut_LC_9_9_7 { spi0.mux_473_i1_3_lut }
clb_pack LT_9_9 { i490_4_lut_LC_9_9_0, spi0.state_reg_i1_LC_9_9_1, spi0.t_FSM_i2_LC_9_9_2, spi0.t_FSM_i1_LC_9_9_3, spi0.i29_3_lut_LC_9_9_4, spi0.i4639_3_lut_LC_9_9_5, spi0.i28_4_lut_LC_9_9_6, spi0.mux_473_i1_3_lut_LC_9_9_7 }
set_location LT_9_9 9 9
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i5_LC_9_10_0 { i1970_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i5 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4728_LC_9_10_4 { tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4728 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1_LC_9_10_5 { i2011_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1 }
ble_pack bluejay_data_inst.i2728_2_lut_LC_9_10_7 { bluejay_data_inst.i2728_2_lut }
clb_pack LT_9_10 { tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i5_LC_9_10_0, tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_4728_LC_9_10_4, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1_LC_9_10_5, bluejay_data_inst.i2728_2_lut_LC_9_10_7 }
set_location LT_9_10 9 10
ble_pack spi0.CS_w_79_LC_9_11_5 { spi0.i4654_2_lut, spi0.CS_w_79 }
clb_pack LT_9_11 { spi0.CS_w_79_LC_9_11_5 }
set_location LT_9_11 9 11
ble_pack spi0.spi_clk_76_LC_9_13_6 { spi0.i1_2_lut, spi0.spi_clk_76 }
clb_pack LT_9_13 { spi0.spi_clk_76_LC_9_13_6 }
set_location LT_9_13 9 13
ble_pack pc_tx.r_SM_Main_i1_LC_10_5_0 { pc_tx.i2652_3_lut, pc_tx.r_SM_Main_i1 }
clb_pack LT_10_5 { pc_tx.r_SM_Main_i1_LC_10_5_0 }
set_location LT_10_5 10 5
ble_pack pc_tx.i1_3_lut_LC_10_6_0 { pc_tx.i1_3_lut }
ble_pack pc_tx.i2_4_lut_LC_10_6_1 { pc_tx.i2_4_lut }
ble_pack pc_tx.i2_4_lut_adj_26_LC_10_6_2 { pc_tx.i2_4_lut_adj_26 }
ble_pack pc_tx.r_SM_Main_i0_LC_10_6_3 { pc_tx.i1180_3_lut, pc_tx.r_SM_Main_i0 }
ble_pack pc_tx.i1179_4_lut_LC_10_6_4 { pc_tx.i1179_4_lut }
ble_pack pc_tx.i1_3_lut_4_lut_LC_10_6_5 { pc_tx.i1_3_lut_4_lut }
ble_pack pc_tx.i2_2_lut_LC_10_6_7 { pc_tx.i2_2_lut }
clb_pack LT_10_6 { pc_tx.i1_3_lut_LC_10_6_0, pc_tx.i2_4_lut_LC_10_6_1, pc_tx.i2_4_lut_adj_26_LC_10_6_2, pc_tx.r_SM_Main_i0_LC_10_6_3, pc_tx.i1179_4_lut_LC_10_6_4, pc_tx.i1_3_lut_4_lut_LC_10_6_5, pc_tx.i2_2_lut_LC_10_6_7 }
set_location LT_10_6 10 6
ble_pack spi0.state_reg_2__I_0_101_i5_2_lut_3_lut_3_lut_LC_10_7_1 { spi0.state_reg_2__I_0_101_i5_2_lut_3_lut_3_lut }
ble_pack pc_tx.i4684_4_lut_LC_10_7_2 { pc_tx.i4684_4_lut }
ble_pack spi0.busy_86_LC_10_7_7 { spi0.i1878_2_lut_3_lut, spi0.busy_86 }
clb_pack LT_10_7 { spi0.state_reg_2__I_0_101_i5_2_lut_3_lut_3_lut_LC_10_7_1, pc_tx.i4684_4_lut_LC_10_7_2, spi0.busy_86_LC_10_7_7 }
set_location LT_10_7 10 7
ble_pack spi0.tx_shift_reg_i8_LC_10_8_0 { i1955_4_lut, spi0.tx_shift_reg_i8 }
ble_pack spi0.tx_shift_reg_i4_LC_10_8_1 { i1951_4_lut, spi0.tx_shift_reg_i4 }
ble_pack spi0.i1_2_lut_3_lut_adj_63_LC_10_8_2 { spi0.i1_2_lut_3_lut_adj_63 }
ble_pack spi0.tx_shift_reg_i5_LC_10_8_3 { i1952_4_lut, spi0.tx_shift_reg_i5 }
ble_pack spi0.tx_shift_reg_i9_LC_10_8_4 { i1956_4_lut, spi0.tx_shift_reg_i9 }
ble_pack spi0.tx_shift_reg_i3_LC_10_8_5 { i1950_4_lut, spi0.tx_shift_reg_i3 }
ble_pack spi0.tx_shift_reg_i11_LC_10_8_6 { i1958_4_lut, spi0.tx_shift_reg_i11 }
ble_pack spi0.tx_shift_reg_i10_LC_10_8_7 { i1957_4_lut, spi0.tx_shift_reg_i10 }
clb_pack LT_10_8 { spi0.tx_shift_reg_i8_LC_10_8_0, spi0.tx_shift_reg_i4_LC_10_8_1, spi0.i1_2_lut_3_lut_adj_63_LC_10_8_2, spi0.tx_shift_reg_i5_LC_10_8_3, spi0.tx_shift_reg_i9_LC_10_8_4, spi0.tx_shift_reg_i3_LC_10_8_5, spi0.tx_shift_reg_i11_LC_10_8_6, spi0.tx_shift_reg_i10_LC_10_8_7 }
set_location LT_10_8 10 8
ble_pack i19_3_lut_LC_10_9_0 { i19_3_lut }
ble_pack spi0.tx_shift_reg_i6_LC_10_9_1 { i1953_4_lut, spi0.tx_shift_reg_i6 }
ble_pack spi0.tx_shift_reg_i7_LC_10_9_7 { i1954_4_lut, spi0.tx_shift_reg_i7 }
clb_pack LT_10_9 { i19_3_lut_LC_10_9_0, spi0.tx_shift_reg_i6_LC_10_9_1, spi0.tx_shift_reg_i7_LC_10_9_7 }
set_location LT_10_9 10 9
ble_pack tx_fifo.lscc_fifo_inst.i251_252_LC_10_10_2 { tx_fifo.lscc_fifo_inst.i1912_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i251_252 }
ble_pack start_tx_87_LC_10_10_4 { i1926_3_lut_4_lut, start_tx_87 }
ble_pack tx_fifo.lscc_fifo_inst.i985_2_lut_LC_10_10_6 { tx_fifo.lscc_fifo_inst.i985_2_lut }
ble_pack tx_fifo.lscc_fifo_inst.i242_243_LC_10_10_7 { tx_fifo.lscc_fifo_inst.i1854_3_lut_4_lut, tx_fifo.lscc_fifo_inst.i242_243 }
clb_pack LT_10_10 { tx_fifo.lscc_fifo_inst.i251_252_LC_10_10_2, start_tx_87_LC_10_10_4, tx_fifo.lscc_fifo_inst.i985_2_lut_LC_10_10_6, tx_fifo.lscc_fifo_inst.i242_243_LC_10_10_7 }
set_location LT_10_10 10 10
ble_pack reset_clk_counter_i3_696__i2_LC_10_11_0 { i1_2_lut_3_lut_4_lut, reset_clk_counter_i3_696__i2 }
ble_pack reset_clk_counter_i3_696__i1_LC_10_11_1 { i1_2_lut_3_lut, reset_clk_counter_i3_696__i1 }
ble_pack reset_clk_counter_i3_696__i0_LC_10_11_2 { i1_2_lut_adj_65, reset_clk_counter_i3_696__i0 }
ble_pack reset_all_r_81_LC_10_11_3 { i3_4_lut_reset_all_r_81_REP_LUT4_0, reset_all_r_81 }
ble_pack i3_4_lut_LC_10_11_4 { i3_4_lut }
ble_pack i3898_2_lut_LC_10_11_5 { i3898_2_lut }
ble_pack reset_clk_counter_i3_696__i3_LC_10_11_6 { i1_3_lut_4_lut, reset_clk_counter_i3_696__i3 }
ble_pack tx_fifo.lscc_fifo_inst.i1897_1_lut_LC_10_11_7 { tx_fifo.lscc_fifo_inst.i1897_1_lut }
clb_pack LT_10_11 { reset_clk_counter_i3_696__i2_LC_10_11_0, reset_clk_counter_i3_696__i1_LC_10_11_1, reset_clk_counter_i3_696__i0_LC_10_11_2, reset_all_r_81_LC_10_11_3, i3_4_lut_LC_10_11_4, i3898_2_lut_LC_10_11_5, reset_clk_counter_i3_696__i3_LC_10_11_6, tx_fifo.lscc_fifo_inst.i1897_1_lut_LC_10_11_7 }
set_location LT_10_11 10 11
ble_pack bluejay_data_inst.i2706_2_lut_LC_10_12_3 { bluejay_data_inst.i2706_2_lut }
clb_pack LT_10_12 { bluejay_data_inst.i2706_2_lut_LC_10_12_3 }
set_location LT_10_12 10 12
ble_pack bluejay_data_inst.i2719_2_lut_LC_10_15_3 { bluejay_data_inst.i2719_2_lut }
clb_pack LT_10_15 { bluejay_data_inst.i2719_2_lut_LC_10_15_3 }
set_location LT_10_15 10 15
ble_pack spi_busy_falling_edge_83_LC_11_4_3 { i1921_2_lut, spi_busy_falling_edge_83 }
ble_pack spi_busy_prev_84_LC_11_4_7 { spi_busy_prev_84_THRU_LUT4_0, spi_busy_prev_84 }
clb_pack LT_11_4 { spi_busy_falling_edge_83_LC_11_4_3, spi_busy_prev_84_LC_11_4_7 }
set_location LT_11_4 11 4
ble_pack tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut_LC_11_5_1 { tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut }
ble_pack fifo_write_cmd_85_LC_11_5_2 { i1922_2_lut, fifo_write_cmd_85 }
ble_pack tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i3_2_lut_3_lut_LC_11_5_7 { tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i3_2_lut_3_lut }
clb_pack LT_11_5 { tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut_LC_11_5_1, fifo_write_cmd_85_LC_11_5_2, tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i3_2_lut_3_lut_LC_11_5_7 }
set_location LT_11_5 11 5
ble_pack pc_tx.r_Clock_Count_700__i0_LC_11_6_0 { pc_tx.r_Clock_Count_700_add_4_2_lut, pc_tx.r_Clock_Count_700__i0, pc_tx.r_Clock_Count_700_add_4_2 }
ble_pack pc_tx.r_Clock_Count_700__i1_LC_11_6_1 { pc_tx.r_Clock_Count_700_add_4_3_lut, pc_tx.r_Clock_Count_700__i1, pc_tx.r_Clock_Count_700_add_4_3 }
ble_pack pc_tx.r_Clock_Count_700__i2_LC_11_6_2 { pc_tx.r_Clock_Count_700_add_4_4_lut, pc_tx.r_Clock_Count_700__i2, pc_tx.r_Clock_Count_700_add_4_4 }
ble_pack pc_tx.r_Clock_Count_700__i3_LC_11_6_3 { pc_tx.r_Clock_Count_700_add_4_5_lut, pc_tx.r_Clock_Count_700__i3, pc_tx.r_Clock_Count_700_add_4_5 }
ble_pack pc_tx.r_Clock_Count_700__i4_LC_11_6_4 { pc_tx.r_Clock_Count_700_add_4_6_lut, pc_tx.r_Clock_Count_700__i4, pc_tx.r_Clock_Count_700_add_4_6 }
ble_pack pc_tx.r_Clock_Count_700__i5_LC_11_6_5 { pc_tx.r_Clock_Count_700_add_4_7_lut, pc_tx.r_Clock_Count_700__i5, pc_tx.r_Clock_Count_700_add_4_7 }
ble_pack pc_tx.r_Clock_Count_700__i6_LC_11_6_6 { pc_tx.r_Clock_Count_700_add_4_8_lut, pc_tx.r_Clock_Count_700__i6, pc_tx.r_Clock_Count_700_add_4_8 }
ble_pack pc_tx.r_Clock_Count_700__i7_LC_11_6_7 { pc_tx.r_Clock_Count_700_add_4_9_lut, pc_tx.r_Clock_Count_700__i7, pc_tx.r_Clock_Count_700_add_4_9 }
clb_pack LT_11_6 { pc_tx.r_Clock_Count_700__i0_LC_11_6_0, pc_tx.r_Clock_Count_700__i1_LC_11_6_1, pc_tx.r_Clock_Count_700__i2_LC_11_6_2, pc_tx.r_Clock_Count_700__i3_LC_11_6_3, pc_tx.r_Clock_Count_700__i4_LC_11_6_4, pc_tx.r_Clock_Count_700__i5_LC_11_6_5, pc_tx.r_Clock_Count_700__i6_LC_11_6_6, pc_tx.r_Clock_Count_700__i7_LC_11_6_7 }
set_location LT_11_6 11 6
ble_pack pc_tx.r_Clock_Count_700__i8_LC_11_7_0 { pc_tx.r_Clock_Count_700_add_4_10_lut, pc_tx.r_Clock_Count_700__i8, pc_tx.r_Clock_Count_700_add_4_10 }
ble_pack pc_tx.r_Clock_Count_700__i9_LC_11_7_1 { pc_tx.r_Clock_Count_700_add_4_11_lut, pc_tx.r_Clock_Count_700__i9 }
clb_pack LT_11_7 { pc_tx.r_Clock_Count_700__i8_LC_11_7_0, pc_tx.r_Clock_Count_700__i9_LC_11_7_1 }
set_location LT_11_7 11 7
ble_pack spi0.tx_shift_reg_i15_LC_11_8_0 { i1962_4_lut, spi0.tx_shift_reg_i15 }
ble_pack spi0.tx_shift_reg_i12_LC_11_8_1 { i1959_4_lut, spi0.tx_shift_reg_i12 }
ble_pack tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut_LC_11_8_2 { tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut }
ble_pack spi0.tx_shift_reg_i2_LC_11_8_3 { i1949_4_lut, spi0.tx_shift_reg_i2 }
ble_pack spi0.tx_shift_reg_i13_LC_11_8_4 { i1960_4_lut, spi0.tx_shift_reg_i13 }
ble_pack spi0.tx_shift_reg_i14_LC_11_8_5 { i1961_4_lut, spi0.tx_shift_reg_i14 }
ble_pack spi0.tx_shift_reg_i1_LC_11_8_6 { i1947_4_lut, spi0.tx_shift_reg_i1 }
clb_pack LT_11_8 { spi0.tx_shift_reg_i15_LC_11_8_0, spi0.tx_shift_reg_i12_LC_11_8_1, tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut_LC_11_8_2, spi0.tx_shift_reg_i2_LC_11_8_3, spi0.tx_shift_reg_i13_LC_11_8_4, spi0.tx_shift_reg_i14_LC_11_8_5, spi0.tx_shift_reg_i1_LC_11_8_6 }
set_location LT_11_8 11 8
ble_pack fifo_read_cmd_86_LC_11_9_0 { i4658_2_lut, fifo_read_cmd_86 }
ble_pack i4497_4_lut_LC_11_9_2 { i4497_4_lut }
ble_pack i1_4_lut_4_lut_adj_79_LC_11_9_3 { i1_4_lut_4_lut_adj_79 }
ble_pack tx_fifo.lscc_fifo_inst.full_r_84_LC_11_9_4 { i1_4_lut, tx_fifo.lscc_fifo_inst.full_r_84 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r__i2_LC_11_9_5 { tx_fifo.lscc_fifo_inst.i2018_4_lut_4_lut, tx_fifo.lscc_fifo_inst.rd_addr_r__i2 }
ble_pack tx_fifo.lscc_fifo_inst.i1_4_lut_LC_11_9_6 { tx_fifo.lscc_fifo_inst.i1_4_lut }
ble_pack tx_fifo.lscc_fifo_inst.i992_3_lut_LC_11_9_7 { tx_fifo.lscc_fifo_inst.i992_3_lut }
clb_pack LT_11_9 { fifo_read_cmd_86_LC_11_9_0, i4497_4_lut_LC_11_9_2, i1_4_lut_4_lut_adj_79_LC_11_9_3, tx_fifo.lscc_fifo_inst.full_r_84_LC_11_9_4, tx_fifo.lscc_fifo_inst.rd_addr_r__i2_LC_11_9_5, tx_fifo.lscc_fifo_inst.i1_4_lut_LC_11_9_6, tx_fifo.lscc_fifo_inst.i992_3_lut_LC_11_9_7 }
set_location LT_11_9 11 9
ble_pack tx_fifo.lscc_fifo_inst.wr_addr_r_1__I_0_i1_2_lut_LC_11_10_1 { tx_fifo.lscc_fifo_inst.wr_addr_r_1__I_0_i1_2_lut }
ble_pack tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut_LC_11_10_3 { tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r__i1_LC_11_10_4 { tx_fifo.lscc_fifo_inst.i1857_4_lut_4_lut, tx_fifo.lscc_fifo_inst.rd_addr_r__i1 }
ble_pack tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i7_LC_11_10_6 { i1898_4_lut_4_lut, tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i7 }
clb_pack LT_11_10 { tx_fifo.lscc_fifo_inst.wr_addr_r_1__I_0_i1_2_lut_LC_11_10_1, tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut_LC_11_10_3, tx_fifo.lscc_fifo_inst.rd_addr_r__i1_LC_11_10_4, tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i7_LC_11_10_6 }
set_location LT_11_10 11 10
ble_pack tx_fifo.lscc_fifo_inst.wr_addr_r__i0_LC_11_11_0 { i1164_2_lut_3_lut_4_lut, tx_fifo.lscc_fifo_inst.wr_addr_r__i0 }
clb_pack LT_11_11 { tx_fifo.lscc_fifo_inst.wr_addr_r__i0_LC_11_11_0 }
set_location LT_11_11 11 11
ble_pack bluejay_data_inst.i2705_2_lut_LC_11_14_2 { bluejay_data_inst.i2705_2_lut }
clb_pack LT_11_14 { bluejay_data_inst.i2705_2_lut_LC_11_14_2 }
set_location LT_11_14 11 14
ble_pack bluejay_data_inst.i2712_2_lut_LC_11_15_0 { bluejay_data_inst.i2712_2_lut }
ble_pack bluejay_data_inst.i2723_2_lut_LC_11_15_6 { bluejay_data_inst.i2723_2_lut }
clb_pack LT_11_15 { bluejay_data_inst.i2712_2_lut_LC_11_15_0, bluejay_data_inst.i2723_2_lut_LC_11_15_6 }
set_location LT_11_15 11 15
ble_pack pc_rx.r_SM_Main_i0_LC_12_3_0 { pc_rx.r_SM_Main_2__I_0_56_Mux_0_i3_3_lut, pc_rx.r_SM_Main_i0 }
ble_pack pc_rx.r_SM_Main_i1_LC_12_3_1 { pc_rx.r_SM_Main_2__I_0_56_Mux_1_i3_4_lut, pc_rx.r_SM_Main_i1 }
clb_pack LT_12_3 { pc_rx.r_SM_Main_i0_LC_12_3_0, pc_rx.r_SM_Main_i1_LC_12_3_1 }
set_location LT_12_3 12 3
ble_pack tx_addr_byte_r_i0_i4_LC_12_4_5 { i1996_3_lut, tx_addr_byte_r_i0_i4 }
ble_pack pc_rx.i4493_2_lut_LC_12_4_6 { pc_rx.i4493_2_lut }
ble_pack pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut_LC_12_4_7 { pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut }
clb_pack LT_12_4 { tx_addr_byte_r_i0_i4_LC_12_4_5, pc_rx.i4493_2_lut_LC_12_4_6, pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut_LC_12_4_7 }
set_location LT_12_4 12 4
ble_pack tx_addr_byte_r_i0_i1_LC_12_5_0 { i1993_3_lut, tx_addr_byte_r_i0_i1 }
ble_pack pc_rx.r_Rx_Byte_i0_LC_12_5_1 { i2024_4_lut, pc_rx.r_Rx_Byte_i0 }
ble_pack tx_data_byte_r_i0_i7_LC_12_5_2 { i1992_3_lut, tx_data_byte_r_i0_i7 }
ble_pack tx_addr_byte_r_i0_i5_LC_12_5_5 { i1997_3_lut, tx_addr_byte_r_i0_i5 }
ble_pack pc_rx.r_Rx_Byte_i1_LC_12_5_6 { i1937_4_lut, pc_rx.r_Rx_Byte_i1 }
ble_pack tx_data_byte_r_i0_i1_LC_12_5_7 { i1986_3_lut, tx_data_byte_r_i0_i1 }
clb_pack LT_12_5 { tx_addr_byte_r_i0_i1_LC_12_5_0, pc_rx.r_Rx_Byte_i0_LC_12_5_1, tx_data_byte_r_i0_i7_LC_12_5_2, tx_addr_byte_r_i0_i5_LC_12_5_5, pc_rx.r_Rx_Byte_i1_LC_12_5_6, tx_data_byte_r_i0_i1_LC_12_5_7 }
set_location LT_12_5 12 5
ble_pack pc_rx.i1_2_lut_3_lut_LC_12_6_0 { pc_rx.i1_2_lut_3_lut }
ble_pack pc_rx.i4662_4_lut_LC_12_6_1 { pc_rx.i4662_4_lut }
ble_pack pc_rx.i4495_2_lut_3_lut_LC_12_6_2 { pc_rx.i4495_2_lut_3_lut }
ble_pack pc_rx.i1_4_lut_adj_29_LC_12_6_3 { pc_rx.i1_4_lut_adj_29 }
ble_pack pc_rx.i4520_2_lut_LC_12_6_4 { pc_rx.i4520_2_lut }
ble_pack pc_rx.i4530_4_lut_LC_12_6_5 { pc_rx.i4530_4_lut }
ble_pack pc_rx.i4_4_lut_LC_12_6_6 { pc_rx.i4_4_lut }
ble_pack pc_rx.i2_2_lut_LC_12_6_7 { pc_rx.i2_2_lut }
clb_pack LT_12_6 { pc_rx.i1_2_lut_3_lut_LC_12_6_0, pc_rx.i4662_4_lut_LC_12_6_1, pc_rx.i4495_2_lut_3_lut_LC_12_6_2, pc_rx.i1_4_lut_adj_29_LC_12_6_3, pc_rx.i4520_2_lut_LC_12_6_4, pc_rx.i4530_4_lut_LC_12_6_5, pc_rx.i4_4_lut_LC_12_6_6, pc_rx.i2_2_lut_LC_12_6_7 }
set_location LT_12_6 12 6
ble_pack tx_addr_byte_r_i0_i7_LC_12_7_1 { i1999_3_lut, tx_addr_byte_r_i0_i7 }
clb_pack LT_12_7 { tx_addr_byte_r_i0_i7_LC_12_7_1 }
set_location LT_12_7 12 7
ble_pack i1_1_lut_LC_12_8_3 { i1_1_lut }
ble_pack tx_addr_byte_r_i0_i2_LC_12_8_6 { i1994_3_lut, tx_addr_byte_r_i0_i2 }
clb_pack LT_12_8 { i1_1_lut_LC_12_8_3, tx_addr_byte_r_i0_i2_LC_12_8_6 }
set_location LT_12_8 12 8
ble_pack tx_fifo.lscc_fifo_inst.i970_3_lut_LC_12_9_1 { tx_fifo.lscc_fifo_inst.i970_3_lut }
ble_pack tx_fifo.lscc_fifo_inst.wr_addr_r__i2_LC_12_9_2 { i1861_4_lut_4_lut, tx_fifo.lscc_fifo_inst.wr_addr_r__i2 }
ble_pack tx_fifo.lscc_fifo_inst.wr_addr_r__i1_LC_12_9_3 { tx_fifo.lscc_fifo_inst.i1864_4_lut_4_lut_4_lut, tx_fifo.lscc_fifo_inst.wr_addr_r__i1 }
ble_pack tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut_LC_12_9_6 { tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut }
clb_pack LT_12_9 { tx_fifo.lscc_fifo_inst.i970_3_lut_LC_12_9_1, tx_fifo.lscc_fifo_inst.wr_addr_r__i2_LC_12_9_2, tx_fifo.lscc_fifo_inst.wr_addr_r__i1_LC_12_9_3, tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut_LC_12_9_6 }
set_location LT_12_9 12 9
ble_pack i1_4_lut_adj_66_LC_12_10_0 { i1_4_lut_adj_66 }
ble_pack i1_3_lut_LC_12_10_1 { i1_3_lut }
ble_pack i4516_4_lut_LC_12_10_5 { i4516_4_lut }
ble_pack tx_fifo.lscc_fifo_inst.empty_r_85_LC_12_10_6 { i1_4_lut_adj_67, tx_fifo.lscc_fifo_inst.empty_r_85 }
ble_pack i1_3_lut_4_lut_adj_78_LC_12_10_7 { i1_3_lut_4_lut_adj_78 }
clb_pack LT_12_10 { i1_4_lut_adj_66_LC_12_10_0, i1_3_lut_LC_12_10_1, i4516_4_lut_LC_12_10_5, tx_fifo.lscc_fifo_inst.empty_r_85_LC_12_10_6, i1_3_lut_4_lut_adj_78_LC_12_10_7 }
set_location LT_12_10 12 10
ble_pack tx_fifo.lscc_fifo_inst.i1_2_lut_3_lut_4_lut_LC_12_11_1 { tx_fifo.lscc_fifo_inst.i1_2_lut_3_lut_4_lut }
ble_pack tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86_LC_12_11_3 { i1925_2_lut_3_lut, tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86 }
ble_pack bluejay_data_inst.i2708_2_lut_LC_12_11_7 { bluejay_data_inst.i2708_2_lut }
clb_pack LT_12_11 { tx_fifo.lscc_fifo_inst.i1_2_lut_3_lut_4_lut_LC_12_11_1, tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86_LC_12_11_3, bluejay_data_inst.i2708_2_lut_LC_12_11_7 }
set_location LT_12_11 12 11
ble_pack bluejay_data_inst.i2731_2_lut_LC_12_12_5 { bluejay_data_inst.i2731_2_lut }
clb_pack LT_12_12 { bluejay_data_inst.i2731_2_lut_LC_12_12_5 }
set_location LT_12_12 12 12
ble_pack bluejay_data_inst.i2730_2_lut_LC_12_13_2 { bluejay_data_inst.i2730_2_lut }
clb_pack LT_12_13 { bluejay_data_inst.i2730_2_lut_LC_12_13_2 }
set_location LT_12_13 12 13
ble_pack pc_rx.equal_145_i4_2_lut_LC_13_3_5 { pc_rx.equal_145_i4_2_lut }
clb_pack LT_13_3 { pc_rx.equal_145_i4_2_lut_LC_13_3_5 }
set_location LT_13_3 13 3
ble_pack tx_data_byte_r_i0_i4_LC_13_4_0 { i1989_3_lut, tx_data_byte_r_i0_i4 }
ble_pack pc_rx.i2_3_lut_LC_13_4_1 { pc_rx.i2_3_lut }
ble_pack pc_rx.r_Rx_Byte_i5_LC_13_4_2 { i1964_4_lut, pc_rx.r_Rx_Byte_i5 }
ble_pack tx_data_byte_r_i0_i3_LC_13_4_3 { i1988_3_lut, tx_data_byte_r_i0_i3 }
ble_pack tx_data_byte_r_i0_i5_LC_13_4_4 { i1990_3_lut, tx_data_byte_r_i0_i5 }
ble_pack pc_rx.r_SM_Main_i2_LC_13_4_5 { i1_2_lut_4_lut, pc_rx.r_SM_Main_i2 }
ble_pack pc_rx.r_Rx_Byte_i4_LC_13_4_6 { i1948_4_lut, pc_rx.r_Rx_Byte_i4 }
ble_pack pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut_LC_13_4_7 { pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut }
clb_pack LT_13_4 { tx_data_byte_r_i0_i4_LC_13_4_0, pc_rx.i2_3_lut_LC_13_4_1, pc_rx.r_Rx_Byte_i5_LC_13_4_2, tx_data_byte_r_i0_i3_LC_13_4_3, tx_data_byte_r_i0_i5_LC_13_4_4, pc_rx.r_SM_Main_i2_LC_13_4_5, pc_rx.r_Rx_Byte_i4_LC_13_4_6, pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut_LC_13_4_7 }
set_location LT_13_4 13 4
ble_pack pc_rx.i1_2_lut_adj_27_LC_13_5_0 { pc_rx.i1_2_lut_adj_27 }
ble_pack pc_rx.r_Rx_Byte_i7_LC_13_5_1 { i2003_4_lut, pc_rx.r_Rx_Byte_i7 }
ble_pack pc_rx.r_Rx_Byte_i3_LC_13_5_2 { i1946_4_lut, pc_rx.r_Rx_Byte_i3 }
ble_pack pc_rx.i1_2_lut_LC_13_5_3 { pc_rx.i1_2_lut }
ble_pack pc_rx.i2_4_lut_LC_13_5_4 { pc_rx.i2_4_lut }
ble_pack pc_rx.i2904_4_lut_LC_13_5_5 { pc_rx.i2904_4_lut }
ble_pack pc_rx.i2_3_lut_4_lut_LC_13_5_6 { pc_rx.i2_3_lut_4_lut }
ble_pack pc_rx.i1_2_lut_adj_28_LC_13_5_7 { pc_rx.i1_2_lut_adj_28 }
clb_pack LT_13_5 { pc_rx.i1_2_lut_adj_27_LC_13_5_0, pc_rx.r_Rx_Byte_i7_LC_13_5_1, pc_rx.r_Rx_Byte_i3_LC_13_5_2, pc_rx.i1_2_lut_LC_13_5_3, pc_rx.i2_4_lut_LC_13_5_4, pc_rx.i2904_4_lut_LC_13_5_5, pc_rx.i2_3_lut_4_lut_LC_13_5_6, pc_rx.i1_2_lut_adj_28_LC_13_5_7 }
set_location LT_13_5 13 5
ble_pack pc_rx.r_Clock_Count_698__i0_LC_13_6_0 { pc_rx.r_Clock_Count_698_add_4_2_lut, pc_rx.r_Clock_Count_698__i0, pc_rx.r_Clock_Count_698_add_4_2 }
ble_pack pc_rx.r_Clock_Count_698__i1_LC_13_6_1 { pc_rx.r_Clock_Count_698_add_4_3_lut, pc_rx.r_Clock_Count_698__i1, pc_rx.r_Clock_Count_698_add_4_3 }
ble_pack pc_rx.r_Clock_Count_698__i2_LC_13_6_2 { pc_rx.r_Clock_Count_698_add_4_4_lut, pc_rx.r_Clock_Count_698__i2, pc_rx.r_Clock_Count_698_add_4_4 }
ble_pack pc_rx.r_Clock_Count_698__i3_LC_13_6_3 { pc_rx.r_Clock_Count_698_add_4_5_lut, pc_rx.r_Clock_Count_698__i3, pc_rx.r_Clock_Count_698_add_4_5 }
ble_pack pc_rx.r_Clock_Count_698__i4_LC_13_6_4 { pc_rx.r_Clock_Count_698_add_4_6_lut, pc_rx.r_Clock_Count_698__i4, pc_rx.r_Clock_Count_698_add_4_6 }
ble_pack pc_rx.r_Clock_Count_698__i5_LC_13_6_5 { pc_rx.r_Clock_Count_698_add_4_7_lut, pc_rx.r_Clock_Count_698__i5, pc_rx.r_Clock_Count_698_add_4_7 }
ble_pack pc_rx.r_Clock_Count_698__i6_LC_13_6_6 { pc_rx.r_Clock_Count_698_add_4_8_lut, pc_rx.r_Clock_Count_698__i6, pc_rx.r_Clock_Count_698_add_4_8 }
ble_pack pc_rx.r_Clock_Count_698__i7_LC_13_6_7 { pc_rx.r_Clock_Count_698_add_4_9_lut, pc_rx.r_Clock_Count_698__i7, pc_rx.r_Clock_Count_698_add_4_9 }
clb_pack LT_13_6 { pc_rx.r_Clock_Count_698__i0_LC_13_6_0, pc_rx.r_Clock_Count_698__i1_LC_13_6_1, pc_rx.r_Clock_Count_698__i2_LC_13_6_2, pc_rx.r_Clock_Count_698__i3_LC_13_6_3, pc_rx.r_Clock_Count_698__i4_LC_13_6_4, pc_rx.r_Clock_Count_698__i5_LC_13_6_5, pc_rx.r_Clock_Count_698__i6_LC_13_6_6, pc_rx.r_Clock_Count_698__i7_LC_13_6_7 }
set_location LT_13_6 13 6
ble_pack pc_rx.r_Clock_Count_698__i8_LC_13_7_0 { pc_rx.r_Clock_Count_698_add_4_10_lut, pc_rx.r_Clock_Count_698__i8, pc_rx.r_Clock_Count_698_add_4_10 }
ble_pack pc_rx.r_Clock_Count_698__i9_LC_13_7_1 { pc_rx.r_Clock_Count_698_add_4_11_lut, pc_rx.r_Clock_Count_698__i9 }
clb_pack LT_13_7 { pc_rx.r_Clock_Count_698__i8_LC_13_7_0, pc_rx.r_Clock_Count_698__i9_LC_13_7_1 }
set_location LT_13_7 13 7
ble_pack spi0.tx_shift_reg_i0_LC_13_8_5 { spi0.i1_2_lut_3_lut_adj_64, spi0.tx_shift_reg_i0 }
clb_pack LT_13_8 { spi0.tx_shift_reg_i0_LC_13_8_5 }
set_location LT_13_8 13 8
ble_pack bluejay_data_inst.i2682_4_lut_LC_13_9_0 { bluejay_data_inst.i2682_4_lut }
ble_pack bluejay_data_inst.mux_506_i4_3_lut_4_lut_LC_13_9_1 { bluejay_data_inst.mux_506_i4_3_lut_4_lut }
ble_pack bluejay_data_inst.mux_694_i4_3_lut_LC_13_9_2 { bluejay_data_inst.mux_694_i4_3_lut }
ble_pack bluejay_data_inst.i3391_4_lut_LC_13_9_3 { bluejay_data_inst.i3391_4_lut }
ble_pack bluejay_data_inst.i1_4_lut_adj_58_LC_13_9_4 { bluejay_data_inst.i1_4_lut_adj_58 }
ble_pack bluejay_data_inst.mux_506_i3_3_lut_4_lut_LC_13_9_5 { bluejay_data_inst.mux_506_i3_3_lut_4_lut }
ble_pack bluejay_data_inst.mux_694_i3_3_lut_LC_13_9_6 { bluejay_data_inst.mux_694_i3_3_lut }
ble_pack bluejay_data_inst.i3378_4_lut_LC_13_9_7 { bluejay_data_inst.i3378_4_lut }
clb_pack LT_13_9 { bluejay_data_inst.i2682_4_lut_LC_13_9_0, bluejay_data_inst.mux_506_i4_3_lut_4_lut_LC_13_9_1, bluejay_data_inst.mux_694_i4_3_lut_LC_13_9_2, bluejay_data_inst.i3391_4_lut_LC_13_9_3, bluejay_data_inst.i1_4_lut_adj_58_LC_13_9_4, bluejay_data_inst.mux_506_i3_3_lut_4_lut_LC_13_9_5, bluejay_data_inst.mux_694_i3_3_lut_LC_13_9_6, bluejay_data_inst.i3378_4_lut_LC_13_9_7 }
set_location LT_13_9 13 9
ble_pack bluejay_data_inst.i7_4_lut_adj_55_LC_13_10_3 { bluejay_data_inst.i7_4_lut_adj_55 }
ble_pack bluejay_data_inst.i9_4_lut_LC_13_10_4 { bluejay_data_inst.i9_4_lut }
ble_pack bluejay_data_inst.i4629_2_lut_LC_13_10_5 { bluejay_data_inst.i4629_2_lut }
clb_pack LT_13_10 { bluejay_data_inst.i7_4_lut_adj_55_LC_13_10_3, bluejay_data_inst.i9_4_lut_LC_13_10_4, bluejay_data_inst.i4629_2_lut_LC_13_10_5 }
set_location LT_13_10 13 10
ble_pack bluejay_data_inst.i2735_2_lut_LC_13_11_2 { bluejay_data_inst.i2735_2_lut }
clb_pack LT_13_11 { bluejay_data_inst.i2735_2_lut_LC_13_11_2 }
set_location LT_13_11 13 11
ble_pack bluejay_data_inst.i2711_2_lut_LC_13_15_1 { bluejay_data_inst.i2711_2_lut }
clb_pack LT_13_15 { bluejay_data_inst.i2711_2_lut_LC_13_15_1 }
set_location LT_13_15 13 15
ble_pack pc_rx.i2_2_lut_3_lut_LC_14_3_7 { pc_rx.i2_2_lut_3_lut }
clb_pack LT_14_3 { pc_rx.i2_2_lut_3_lut_LC_14_3_7 }
set_location LT_14_3 14 3
ble_pack pc_rx.i4614_2_lut_3_lut_LC_14_4_0 { pc_rx.i4614_2_lut_3_lut }
ble_pack pc_rx.i1_4_lut_LC_14_4_1 { pc_rx.i1_4_lut }
ble_pack pc_rx.i2781_2_lut_LC_14_4_2 { pc_rx.i2781_2_lut }
ble_pack pc_rx.i4690_3_lut_4_lut_LC_14_4_3 { pc_rx.i4690_3_lut_4_lut }
ble_pack pc_rx.r_Bit_Index_i0_LC_14_4_4 { i2015_4_lut, pc_rx.r_Bit_Index_i0 }
ble_pack pc_rx.i13_3_lut_4_lut_LC_14_4_5 { pc_rx.i13_3_lut_4_lut }
ble_pack pc_rx.r_Rx_DV_52_LC_14_4_6 { i12_3_lut_4_lut, pc_rx.r_Rx_DV_52 }
ble_pack pc_rx.equal_142_i4_2_lut_LC_14_4_7 { pc_rx.equal_142_i4_2_lut }
clb_pack LT_14_4 { pc_rx.i4614_2_lut_3_lut_LC_14_4_0, pc_rx.i1_4_lut_LC_14_4_1, pc_rx.i2781_2_lut_LC_14_4_2, pc_rx.i4690_3_lut_4_lut_LC_14_4_3, pc_rx.r_Bit_Index_i0_LC_14_4_4, pc_rx.i13_3_lut_4_lut_LC_14_4_5, pc_rx.r_Rx_DV_52_LC_14_4_6, pc_rx.equal_142_i4_2_lut_LC_14_4_7 }
set_location LT_14_4 14 4
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i5_LC_14_5_1 { usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_17, usb_to_bluejay_if_inst.state_timeout_counter_i0_i5 }
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i3_LC_14_5_2 { usb_to_bluejay_if_inst.i1_2_lut_3_lut, usb_to_bluejay_if_inst.state_timeout_counter_i0_i3 }
ble_pack pc_rx.i1_3_lut_LC_14_5_4 { pc_rx.i1_3_lut }
clb_pack LT_14_5 { usb_to_bluejay_if_inst.state_timeout_counter_i0_i5_LC_14_5_1, usb_to_bluejay_if_inst.state_timeout_counter_i0_i3_LC_14_5_2, pc_rx.i1_3_lut_LC_14_5_4 }
set_location LT_14_5 14 5
ble_pack usb_to_bluejay_if_inst.i1_2_lut_adj_25_LC_14_6_0 { usb_to_bluejay_if_inst.i1_2_lut_adj_25 }
ble_pack tx_data_byte_r_i0_i0_LC_14_6_1 { i1885_3_lut, tx_data_byte_r_i0_i0 }
ble_pack usb_to_bluejay_if_inst.i1_2_lut_adj_16_LC_14_6_2 { usb_to_bluejay_if_inst.i1_2_lut_adj_16 }
ble_pack usb_to_bluejay_if_inst.data_in_fifo_prev_44_LC_14_6_3 { usb_to_bluejay_if_inst.i3929_4_lut, usb_to_bluejay_if_inst.data_in_fifo_prev_44 }
ble_pack tx_addr_byte_r_i0_i6_LC_14_6_4 { i1998_3_lut, tx_addr_byte_r_i0_i6 }
ble_pack tx_data_byte_r_i0_i6_LC_14_6_5 { i1991_3_lut, tx_data_byte_r_i0_i6 }
ble_pack pc_rx.r_Rx_Byte_i6_LC_14_6_7 { i2000_4_lut, pc_rx.r_Rx_Byte_i6 }
clb_pack LT_14_6 { usb_to_bluejay_if_inst.i1_2_lut_adj_25_LC_14_6_0, tx_data_byte_r_i0_i0_LC_14_6_1, usb_to_bluejay_if_inst.i1_2_lut_adj_16_LC_14_6_2, usb_to_bluejay_if_inst.data_in_fifo_prev_44_LC_14_6_3, tx_addr_byte_r_i0_i6_LC_14_6_4, tx_data_byte_r_i0_i6_LC_14_6_5, pc_rx.r_Rx_Byte_i6_LC_14_6_7 }
set_location LT_14_6 14 6
ble_pack pc_rx.r_Rx_Byte_i2_LC_14_7_0 { i1938_4_lut, pc_rx.r_Rx_Byte_i2 }
ble_pack tx_data_byte_r_i0_i2_LC_14_7_1 { i1987_3_lut, tx_data_byte_r_i0_i2 }
ble_pack i1_4_lut_4_lut_LC_14_7_4 { i1_4_lut_4_lut }
ble_pack tx_addr_byte_r_i0_i3_LC_14_7_5 { i1995_3_lut, tx_addr_byte_r_i0_i3 }
ble_pack usb_to_bluejay_if_inst.state__i2_LC_14_7_6 { usb_to_bluejay_if_inst.i12_4_lut, usb_to_bluejay_if_inst.state__i2 }
ble_pack tx_addr_byte_r_i0_i0_LC_14_7_7 { i1890_3_lut, tx_addr_byte_r_i0_i0 }
clb_pack LT_14_7 { pc_rx.r_Rx_Byte_i2_LC_14_7_0, tx_data_byte_r_i0_i2_LC_14_7_1, i1_4_lut_4_lut_LC_14_7_4, tx_addr_byte_r_i0_i3_LC_14_7_5, usb_to_bluejay_if_inst.state__i2_LC_14_7_6, tx_addr_byte_r_i0_i0_LC_14_7_7 }
set_location LT_14_7 14 7
ble_pack bluejay_data_inst.i4608_2_lut_LC_14_8_7 { bluejay_data_inst.i4608_2_lut }
clb_pack LT_14_8 { bluejay_data_inst.i4608_2_lut_LC_14_8_7 }
set_location LT_14_8 14 8
ble_pack bluejay_data_inst.v_counter_i10_LC_14_9_0 { bluejay_data_inst.i11_3_lut_adj_44, bluejay_data_inst.v_counter_i10 }
ble_pack bluejay_data_inst.v_counter_i1_LC_14_9_1 { bluejay_data_inst.i11_3_lut_adj_33, bluejay_data_inst.v_counter_i1 }
ble_pack bluejay_data_inst.v_counter_i7_LC_14_9_2 { bluejay_data_inst.i11_3_lut_adj_41, bluejay_data_inst.v_counter_i7 }
ble_pack bluejay_data_inst.v_counter_i2_LC_14_9_3 { bluejay_data_inst.i11_3_lut_adj_34, bluejay_data_inst.v_counter_i2 }
ble_pack bluejay_data_inst.v_counter_i9_LC_14_9_4 { bluejay_data_inst.i11_3_lut_adj_43, bluejay_data_inst.v_counter_i9 }
ble_pack bluejay_data_inst.v_counter_i0_LC_14_9_5 { bluejay_data_inst.i11_3_lut, bluejay_data_inst.v_counter_i0 }
ble_pack bluejay_data_inst.v_counter_i6_LC_14_9_6 { bluejay_data_inst.i11_3_lut_adj_40, bluejay_data_inst.v_counter_i6 }
ble_pack bluejay_data_inst.v_counter_i3_LC_14_9_7 { bluejay_data_inst.i11_3_lut_adj_37, bluejay_data_inst.v_counter_i3 }
clb_pack LT_14_9 { bluejay_data_inst.v_counter_i10_LC_14_9_0, bluejay_data_inst.v_counter_i1_LC_14_9_1, bluejay_data_inst.v_counter_i7_LC_14_9_2, bluejay_data_inst.v_counter_i2_LC_14_9_3, bluejay_data_inst.v_counter_i9_LC_14_9_4, bluejay_data_inst.v_counter_i0_LC_14_9_5, bluejay_data_inst.v_counter_i6_LC_14_9_6, bluejay_data_inst.v_counter_i3_LC_14_9_7 }
set_location LT_14_9 14 9
ble_pack bluejay_data_inst.i8_4_lut_LC_14_10_0 { bluejay_data_inst.i8_4_lut }
ble_pack bluejay_data_inst.v_counter_i4_LC_14_10_1 { bluejay_data_inst.i11_3_lut_adj_38, bluejay_data_inst.v_counter_i4 }
ble_pack bluejay_data_inst.v_counter_i8_LC_14_10_3 { bluejay_data_inst.i11_3_lut_adj_42, bluejay_data_inst.v_counter_i8 }
ble_pack bluejay_data_inst.v_counter_i5_LC_14_10_4 { bluejay_data_inst.i11_3_lut_adj_39, bluejay_data_inst.v_counter_i5 }
ble_pack tx_fifo.lscc_fifo_inst.rd_addr_r__i0_LC_14_10_7 { tx_fifo.lscc_fifo_inst.i1161_2_lut_3_lut_4_lut, tx_fifo.lscc_fifo_inst.rd_addr_r__i0 }
clb_pack LT_14_10 { bluejay_data_inst.i8_4_lut_LC_14_10_0, bluejay_data_inst.v_counter_i4_LC_14_10_1, bluejay_data_inst.v_counter_i8_LC_14_10_3, bluejay_data_inst.v_counter_i5_LC_14_10_4, tx_fifo.lscc_fifo_inst.rd_addr_r__i0_LC_14_10_7 }
set_location LT_14_10 14 10
ble_pack bluejay_data_inst.i2726_2_lut_LC_14_11_1 { bluejay_data_inst.i2726_2_lut }
clb_pack LT_14_11 { bluejay_data_inst.i2726_2_lut_LC_14_11_1 }
set_location LT_14_11 14 11
ble_pack bluejay_data_inst.i2727_2_lut_LC_14_12_4 { bluejay_data_inst.i2727_2_lut }
clb_pack LT_14_12 { bluejay_data_inst.i2727_2_lut_LC_14_12_4 }
set_location LT_14_12 14 12
ble_pack bluejay_data_inst.i2718_2_lut_LC_14_16_6 { bluejay_data_inst.i2718_2_lut }
clb_pack LT_14_16 { bluejay_data_inst.i2718_2_lut_LC_14_16_6 }
set_location LT_14_16 14 16
ble_pack pc_rx.r_Bit_Index_i2_LC_15_3_0 { pc_rx.i926_2_lut_3_lut, pc_rx.r_Bit_Index_i2 }
ble_pack pc_rx.r_Bit_Index_i1_LC_15_3_1 { pc_rx.i919_2_lut, pc_rx.r_Bit_Index_i1 }
clb_pack LT_15_3 { pc_rx.r_Bit_Index_i2_LC_15_3_0, pc_rx.r_Bit_Index_i1_LC_15_3_1 }
set_location LT_15_3 15 3
ble_pack uart_rx_complete_prev_89_LC_15_4_0 { uart_rx_complete_prev_89_THRU_LUT4_0, uart_rx_complete_prev_89 }
ble_pack spi_start_transfer_r_90_LC_15_4_1 { i1889_2_lut, spi_start_transfer_r_90 }
ble_pack uart_rx_complete_rising_edge_88_LC_15_4_2 { i1924_2_lut, uart_rx_complete_rising_edge_88 }
clb_pack LT_15_4 { uart_rx_complete_prev_89_LC_15_4_0, spi_start_transfer_r_90_LC_15_4_1, uart_rx_complete_rising_edge_88_LC_15_4_2 }
set_location LT_15_4 15 4
ble_pack spi0.start_transfer_edge_73_LC_15_5_0 { i1_4_lut_adj_80, spi0.start_transfer_edge_73 }
ble_pack usb_to_bluejay_if_inst.i5_4_lut_LC_15_5_1 { usb_to_bluejay_if_inst.i5_4_lut }
ble_pack usb_to_bluejay_if_inst.i103_2_lut_3_lut_LC_15_5_3 { usb_to_bluejay_if_inst.i103_2_lut_3_lut }
ble_pack usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_20_LC_15_5_4 { usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_20 }
ble_pack usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_15_LC_15_5_5 { usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_15 }
ble_pack usb_to_bluejay_if_inst.i1_4_lut_4_lut_LC_15_5_6 { usb_to_bluejay_if_inst.i1_4_lut_4_lut }
ble_pack spi0.start_transfer_prev_74_LC_15_5_7 { spi0.start_transfer_prev_74_THRU_LUT4_0, spi0.start_transfer_prev_74 }
clb_pack LT_15_5 { spi0.start_transfer_edge_73_LC_15_5_0, usb_to_bluejay_if_inst.i5_4_lut_LC_15_5_1, usb_to_bluejay_if_inst.i103_2_lut_3_lut_LC_15_5_3, usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_20_LC_15_5_4, usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_15_LC_15_5_5, usb_to_bluejay_if_inst.i1_4_lut_4_lut_LC_15_5_6, spi0.start_transfer_prev_74_LC_15_5_7 }
set_location LT_15_5 15 5
ble_pack usb_to_bluejay_if_inst.i3253_3_lut_4_lut_LC_15_6_0 { usb_to_bluejay_if_inst.i3253_3_lut_4_lut }
ble_pack usb_to_bluejay_if_inst.i1_3_lut_4_lut_LC_15_6_1 { usb_to_bluejay_if_inst.i1_3_lut_4_lut }
ble_pack usb_to_bluejay_if_inst.i2_4_lut_LC_15_6_2 { usb_to_bluejay_if_inst.i2_4_lut }
ble_pack usb_to_bluejay_if_inst.state__i0_LC_15_6_3 { usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_19, usb_to_bluejay_if_inst.state__i0 }
ble_pack usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_23_LC_15_6_4 { usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_23 }
ble_pack usb_to_bluejay_if_inst.i2_3_lut_4_lut_LC_15_6_5 { usb_to_bluejay_if_inst.i2_3_lut_4_lut }
ble_pack usb_to_bluejay_if_inst.i1_4_lut_LC_15_6_6 { usb_to_bluejay_if_inst.i1_4_lut }
ble_pack usb_to_bluejay_if_inst.i1_3_lut_4_lut_adj_24_LC_15_6_7 { usb_to_bluejay_if_inst.i1_3_lut_4_lut_adj_24 }
clb_pack LT_15_6 { usb_to_bluejay_if_inst.i3253_3_lut_4_lut_LC_15_6_0, usb_to_bluejay_if_inst.i1_3_lut_4_lut_LC_15_6_1, usb_to_bluejay_if_inst.i2_4_lut_LC_15_6_2, usb_to_bluejay_if_inst.state__i0_LC_15_6_3, usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_23_LC_15_6_4, usb_to_bluejay_if_inst.i2_3_lut_4_lut_LC_15_6_5, usb_to_bluejay_if_inst.i1_4_lut_LC_15_6_6, usb_to_bluejay_if_inst.i1_3_lut_4_lut_adj_24_LC_15_6_7 }
set_location LT_15_6 15 6
ble_pack usb_to_bluejay_if_inst.state__i1_LC_15_7_0 { usb_to_bluejay_if_inst.i4672_3_lut_4_lut, usb_to_bluejay_if_inst.state__i1 }
clb_pack LT_15_7 { usb_to_bluejay_if_inst.state__i1_LC_15_7_0 }
set_location LT_15_7 15 7
ble_pack bluejay_data_inst.i2693_2_lut_LC_15_8_0 { bluejay_data_inst.i2693_2_lut, bluejay_data_inst.add_692_1 }
ble_pack bluejay_data_inst.add_692_2_lut_LC_15_8_1 { bluejay_data_inst.add_692_2_lut, bluejay_data_inst.add_692_2 }
ble_pack bluejay_data_inst.add_692_3_lut_LC_15_8_2 { bluejay_data_inst.add_692_3_lut, bluejay_data_inst.add_692_3 }
ble_pack bluejay_data_inst.add_692_4_lut_LC_15_8_3 { bluejay_data_inst.add_692_4_lut, bluejay_data_inst.add_692_4 }
ble_pack bluejay_data_inst.add_692_5_lut_LC_15_8_4 { bluejay_data_inst.add_692_5_lut, bluejay_data_inst.add_692_5 }
ble_pack bluejay_data_inst.add_692_6_lut_LC_15_8_5 { bluejay_data_inst.add_692_6_lut, bluejay_data_inst.add_692_6 }
ble_pack bluejay_data_inst.add_692_7_lut_LC_15_8_6 { bluejay_data_inst.add_692_7_lut, bluejay_data_inst.add_692_7 }
ble_pack bluejay_data_inst.add_692_8_lut_LC_15_8_7 { bluejay_data_inst.add_692_8_lut, bluejay_data_inst.add_692_8 }
clb_pack LT_15_8 { bluejay_data_inst.i2693_2_lut_LC_15_8_0, bluejay_data_inst.add_692_2_lut_LC_15_8_1, bluejay_data_inst.add_692_3_lut_LC_15_8_2, bluejay_data_inst.add_692_4_lut_LC_15_8_3, bluejay_data_inst.add_692_5_lut_LC_15_8_4, bluejay_data_inst.add_692_6_lut_LC_15_8_5, bluejay_data_inst.add_692_7_lut_LC_15_8_6, bluejay_data_inst.add_692_8_lut_LC_15_8_7 }
set_location LT_15_8 15 8
ble_pack bluejay_data_inst.add_692_9_lut_LC_15_9_0 { bluejay_data_inst.add_692_9_lut, bluejay_data_inst.add_692_9 }
ble_pack bluejay_data_inst.add_692_10_lut_LC_15_9_1 { bluejay_data_inst.add_692_10_lut, bluejay_data_inst.add_692_10 }
ble_pack bluejay_data_inst.add_692_11_lut_LC_15_9_2 { bluejay_data_inst.add_692_11_lut, bluejay_data_inst.add_692_11 }
ble_pack bluejay_data_inst.add_692_12_lut_LC_15_9_3 { bluejay_data_inst.add_692_12_lut }
ble_pack bluejay_data_inst.i1206_2_lut_LC_15_9_4 { bluejay_data_inst.i1206_2_lut }
ble_pack bluejay_data_inst.i12_3_lut_3_lut_LC_15_9_5 { bluejay_data_inst.i12_3_lut_3_lut }
ble_pack bluejay_data_inst.i2_2_lut_3_lut_LC_15_9_6 { bluejay_data_inst.i2_2_lut_3_lut }
ble_pack bluejay_data_inst.i680_2_lut_LC_15_9_7 { bluejay_data_inst.i680_2_lut }
clb_pack LT_15_9 { bluejay_data_inst.add_692_9_lut_LC_15_9_0, bluejay_data_inst.add_692_10_lut_LC_15_9_1, bluejay_data_inst.add_692_11_lut_LC_15_9_2, bluejay_data_inst.add_692_12_lut_LC_15_9_3, bluejay_data_inst.i1206_2_lut_LC_15_9_4, bluejay_data_inst.i12_3_lut_3_lut_LC_15_9_5, bluejay_data_inst.i2_2_lut_3_lut_LC_15_9_6, bluejay_data_inst.i680_2_lut_LC_15_9_7 }
set_location LT_15_9 15 9
ble_pack bluejay_data_inst.state__i1_LC_15_10_0 { bluejay_data_inst.i4665_4_lut, bluejay_data_inst.state__i1 }
ble_pack bluejay_data_inst.i1727_2_lut_3_lut_LC_15_10_2 { bluejay_data_inst.i1727_2_lut_3_lut }
ble_pack bluejay_data_inst.state__i0_LC_15_10_3 { bluejay_data_inst.i1_4_lut_adj_45, bluejay_data_inst.state__i0 }
ble_pack bluejay_data_inst.i1804_4_lut_LC_15_10_6 { bluejay_data_inst.i1804_4_lut }
ble_pack bluejay_data_inst.state__i2_LC_15_10_7 { bluejay_data_inst.i1_4_lut_adj_49, bluejay_data_inst.state__i2 }
clb_pack LT_15_10 { bluejay_data_inst.state__i1_LC_15_10_0, bluejay_data_inst.i1727_2_lut_3_lut_LC_15_10_2, bluejay_data_inst.state__i0_LC_15_10_3, bluejay_data_inst.i1804_4_lut_LC_15_10_6, bluejay_data_inst.state__i2_LC_15_10_7 }
set_location LT_15_10 15 10
ble_pack bluejay_data_inst.i2733_2_lut_LC_15_11_0 { bluejay_data_inst.i2733_2_lut }
ble_pack bluejay_data_inst.equal_558_i3_2_lut_LC_15_11_1 { bluejay_data_inst.equal_558_i3_2_lut }
ble_pack i1_4_lut_adj_75_LC_15_11_2 { i1_4_lut_adj_75 }
ble_pack bluejay_data_inst.i2724_2_lut_LC_15_11_6 { bluejay_data_inst.i2724_2_lut }
clb_pack LT_15_11 { bluejay_data_inst.i2733_2_lut_LC_15_11_0, bluejay_data_inst.equal_558_i3_2_lut_LC_15_11_1, i1_4_lut_adj_75_LC_15_11_2, bluejay_data_inst.i2724_2_lut_LC_15_11_6 }
set_location LT_15_11 15 11
ble_pack even_byte_flag_95_LC_16_4_2 { i1147_2_lut, even_byte_flag_95 }
clb_pack LT_16_4 { even_byte_flag_95_LC_16_4_2 }
set_location LT_16_4 16 4
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i0_LC_16_5_0 { usb_to_bluejay_if_inst.sub_123_add_2_2_lut, usb_to_bluejay_if_inst.state_timeout_counter_i0_i0, usb_to_bluejay_if_inst.sub_123_add_2_2 }
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i1_LC_16_5_1 { usb_to_bluejay_if_inst.sub_123_add_2_3_lut, usb_to_bluejay_if_inst.state_timeout_counter_i0_i1, usb_to_bluejay_if_inst.sub_123_add_2_3 }
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i2_LC_16_5_2 { usb_to_bluejay_if_inst.sub_123_add_2_4_lut, usb_to_bluejay_if_inst.state_timeout_counter_i0_i2, usb_to_bluejay_if_inst.sub_123_add_2_4 }
ble_pack usb_to_bluejay_if_inst.sub_123_add_2_5_lut_LC_16_5_3 { usb_to_bluejay_if_inst.sub_123_add_2_5_lut, usb_to_bluejay_if_inst.sub_123_add_2_5 }
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i4_LC_16_5_4 { usb_to_bluejay_if_inst.sub_123_add_2_6_lut, usb_to_bluejay_if_inst.state_timeout_counter_i0_i4, usb_to_bluejay_if_inst.sub_123_add_2_6 }
ble_pack usb_to_bluejay_if_inst.sub_123_add_2_7_lut_LC_16_5_5 { usb_to_bluejay_if_inst.sub_123_add_2_7_lut, usb_to_bluejay_if_inst.sub_123_add_2_7 }
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i6_LC_16_5_6 { usb_to_bluejay_if_inst.sub_123_add_2_8_lut, usb_to_bluejay_if_inst.state_timeout_counter_i0_i6, usb_to_bluejay_if_inst.sub_123_add_2_8 }
ble_pack usb_to_bluejay_if_inst.state_timeout_counter_i0_i7_LC_16_5_7 { usb_to_bluejay_if_inst.sub_123_add_2_9_lut, usb_to_bluejay_if_inst.state_timeout_counter_i0_i7 }
clb_pack LT_16_5 { usb_to_bluejay_if_inst.state_timeout_counter_i0_i0_LC_16_5_0, usb_to_bluejay_if_inst.state_timeout_counter_i0_i1_LC_16_5_1, usb_to_bluejay_if_inst.state_timeout_counter_i0_i2_LC_16_5_2, usb_to_bluejay_if_inst.sub_123_add_2_5_lut_LC_16_5_3, usb_to_bluejay_if_inst.state_timeout_counter_i0_i4_LC_16_5_4, usb_to_bluejay_if_inst.sub_123_add_2_7_lut_LC_16_5_5, usb_to_bluejay_if_inst.state_timeout_counter_i0_i6_LC_16_5_6, usb_to_bluejay_if_inst.state_timeout_counter_i0_i7_LC_16_5_7 }
set_location LT_16_5 16 5
ble_pack usb_to_bluejay_if_inst.i4631_2_lut_LC_16_6_0 { usb_to_bluejay_if_inst.i4631_2_lut }
ble_pack usb_to_bluejay_if_inst.next_line_rdy_o_40_LC_16_6_1 { usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_21, usb_to_bluejay_if_inst.next_line_rdy_o_40 }
ble_pack i23_4_lut_4_lut_LC_16_6_2 { i23_4_lut_4_lut }
ble_pack usb_to_bluejay_if_inst.i4_2_lut_LC_16_6_3 { usb_to_bluejay_if_inst.i4_2_lut }
ble_pack usb_to_bluejay_if_inst.i7_4_lut_LC_16_6_4 { usb_to_bluejay_if_inst.i7_4_lut }
ble_pack usb_to_bluejay_if_inst.i104_3_lut_4_lut_LC_16_6_5 { usb_to_bluejay_if_inst.i104_3_lut_4_lut }
ble_pack usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_18_LC_16_6_6 { usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_18 }
ble_pack pc_tx.r_SM_Main_i2_LC_16_6_7 { pc_tx.i3_3_lut_4_lut_4_lut, pc_tx.r_SM_Main_i2 }
clb_pack LT_16_6 { usb_to_bluejay_if_inst.i4631_2_lut_LC_16_6_0, usb_to_bluejay_if_inst.next_line_rdy_o_40_LC_16_6_1, i23_4_lut_4_lut_LC_16_6_2, usb_to_bluejay_if_inst.i4_2_lut_LC_16_6_3, usb_to_bluejay_if_inst.i7_4_lut_LC_16_6_4, usb_to_bluejay_if_inst.i104_3_lut_4_lut_LC_16_6_5, usb_to_bluejay_if_inst.i2_3_lut_4_lut_adj_18_LC_16_6_6, pc_tx.r_SM_Main_i2_LC_16_6_7 }
set_location LT_16_6 16 6
ble_pack bluejay_data_inst.h_counter__i3_LC_16_7_0 { bluejay_data_inst.mux_560_i4_3_lut_4_lut, bluejay_data_inst.h_counter__i3 }
ble_pack bluejay_data_inst.h_counter__i5_LC_16_7_1 { bluejay_data_inst.mux_560_i6_3_lut_4_lut, bluejay_data_inst.h_counter__i5 }
ble_pack i1_3_lut_adj_70_LC_16_7_3 { i1_3_lut_adj_70 }
clb_pack LT_16_7 { bluejay_data_inst.h_counter__i3_LC_16_7_0, bluejay_data_inst.h_counter__i5_LC_16_7_1, i1_3_lut_adj_70_LC_16_7_3 }
set_location LT_16_7 16 7
ble_pack bluejay_data_inst.i6_4_lut_LC_16_8_0 { bluejay_data_inst.i6_4_lut }
ble_pack bluejay_data_inst.i7_4_lut_LC_16_8_1 { bluejay_data_inst.i7_4_lut }
ble_pack bluejay_data_inst.get_next_word_cmd_82_LC_16_8_2 { bluejay_data_inst.i2_4_lut, bluejay_data_inst.get_next_word_cmd_82 }
ble_pack bluejay_data_inst.i2_2_lut_LC_16_8_3 { bluejay_data_inst.i2_2_lut }
ble_pack bluejay_data_inst.i1_2_lut_LC_16_8_4 { bluejay_data_inst.i1_2_lut }
ble_pack bluejay_data_inst.i3371_4_lut_LC_16_8_5 { bluejay_data_inst.i3371_4_lut }
ble_pack bluejay_data_inst.i3374_4_lut_LC_16_8_6 { bluejay_data_inst.i3374_4_lut }
clb_pack LT_16_8 { bluejay_data_inst.i6_4_lut_LC_16_8_0, bluejay_data_inst.i7_4_lut_LC_16_8_1, bluejay_data_inst.get_next_word_cmd_82_LC_16_8_2, bluejay_data_inst.i2_2_lut_LC_16_8_3, bluejay_data_inst.i1_2_lut_LC_16_8_4, bluejay_data_inst.i3371_4_lut_LC_16_8_5, bluejay_data_inst.i3374_4_lut_LC_16_8_6 }
set_location LT_16_8 16 8
ble_pack bluejay_data_inst.mux_506_i6_3_lut_LC_16_9_0 { bluejay_data_inst.mux_506_i6_3_lut }
ble_pack bluejay_data_inst.mux_694_i6_3_lut_LC_16_9_1 { bluejay_data_inst.mux_694_i6_3_lut }
ble_pack bluejay_data_inst.i3384_4_lut_LC_16_9_2 { bluejay_data_inst.i3384_4_lut }
ble_pack bluejay_data_inst.i3401_4_lut_LC_16_9_3 { bluejay_data_inst.i3401_4_lut }
ble_pack bluejay_data_inst.i2_3_lut_adj_51_LC_16_9_4 { bluejay_data_inst.i2_3_lut_adj_51 }
ble_pack bluejay_data_inst.i1_2_lut_adj_35_LC_16_9_6 { bluejay_data_inst.i1_2_lut_adj_35 }
ble_pack bluejay_data_inst.i3370_3_lut_LC_16_9_7 { bluejay_data_inst.i3370_3_lut }
clb_pack LT_16_9 { bluejay_data_inst.mux_506_i6_3_lut_LC_16_9_0, bluejay_data_inst.mux_694_i6_3_lut_LC_16_9_1, bluejay_data_inst.i3384_4_lut_LC_16_9_2, bluejay_data_inst.i3401_4_lut_LC_16_9_3, bluejay_data_inst.i2_3_lut_adj_51_LC_16_9_4, bluejay_data_inst.i1_2_lut_adj_35_LC_16_9_6, bluejay_data_inst.i3370_3_lut_LC_16_9_7 }
set_location LT_16_9 16 9
ble_pack bluejay_data_inst.state_timeout_counter_i3_LC_16_10_0 { bluejay_data_inst.i1_2_lut_3_lut, bluejay_data_inst.state_timeout_counter_i3 }
clb_pack LT_16_10 { bluejay_data_inst.state_timeout_counter_i3_LC_16_10_0 }
set_location LT_16_10 16 10
ble_pack bluejay_data_inst.i32_4_lut_LC_16_11_0 { bluejay_data_inst.i32_4_lut }
ble_pack bluejay_data_inst.valid_o_79_LC_16_11_1 { bluejay_data_inst.i4667_4_lut, bluejay_data_inst.valid_o_79 }
ble_pack bluejay_data_inst.i32_4_lut_adj_48_LC_16_11_2 { bluejay_data_inst.i32_4_lut_adj_48 }
ble_pack bluejay_data_inst.data_output_active_cmd_84_LC_16_11_3 { bluejay_data_inst.i4669_4_lut, bluejay_data_inst.data_output_active_cmd_84 }
ble_pack bluejay_data_inst.i3387_4_lut_LC_16_11_7 { bluejay_data_inst.i3387_4_lut }
clb_pack LT_16_11 { bluejay_data_inst.i32_4_lut_LC_16_11_0, bluejay_data_inst.valid_o_79_LC_16_11_1, bluejay_data_inst.i32_4_lut_adj_48_LC_16_11_2, bluejay_data_inst.data_output_active_cmd_84_LC_16_11_3, bluejay_data_inst.i3387_4_lut_LC_16_11_7 }
set_location LT_16_11 16 11
ble_pack bluejay_data_inst.state_timeout_counter_i1_LC_16_12_0 { bluejay_data_inst.i1_2_lut_3_lut_adj_47, bluejay_data_inst.state_timeout_counter_i1 }
clb_pack LT_16_12 { bluejay_data_inst.state_timeout_counter_i1_LC_16_12_0 }
set_location LT_16_12 16 12
ble_pack bluejay_data_inst.i2672_2_lut_LC_16_14_5 { bluejay_data_inst.i2672_2_lut }
clb_pack LT_16_14 { bluejay_data_inst.i2672_2_lut_LC_16_14_5 }
set_location LT_16_14 16 14
ble_pack CONSTANT_ONE_LUT4_LC_17_5_0 { CONSTANT_ONE_LUT4 }
clb_pack LT_17_5 { CONSTANT_ONE_LUT4_LC_17_5_0 }
set_location LT_17_5 17 5
ble_pack bluejay_data_inst.i2710_2_lut_LC_17_6_5 { bluejay_data_inst.i2710_2_lut }
ble_pack pc_tx.i1_1_lut_LC_17_6_6 { pc_tx.i1_1_lut }
clb_pack LT_17_6 { bluejay_data_inst.i2710_2_lut_LC_17_6_5, pc_tx.i1_1_lut_LC_17_6_6 }
set_location LT_17_6 17 6
ble_pack bluejay_data_inst.h_counter__i0_LC_17_7_0 { bluejay_data_inst.sub_117_add_2_2_lut, bluejay_data_inst.h_counter__i0, bluejay_data_inst.sub_117_add_2_2 }
ble_pack bluejay_data_inst.h_counter__i1_LC_17_7_1 { bluejay_data_inst.sub_117_add_2_3_lut, bluejay_data_inst.h_counter__i1, bluejay_data_inst.sub_117_add_2_3 }
ble_pack bluejay_data_inst.h_counter__i2_LC_17_7_2 { bluejay_data_inst.sub_117_add_2_4_lut, bluejay_data_inst.h_counter__i2, bluejay_data_inst.sub_117_add_2_4 }
ble_pack bluejay_data_inst.sub_117_add_2_5_lut_LC_17_7_3 { bluejay_data_inst.sub_117_add_2_5_lut, bluejay_data_inst.sub_117_add_2_5 }
ble_pack bluejay_data_inst.h_counter__i4_LC_17_7_4 { bluejay_data_inst.sub_117_add_2_6_lut, bluejay_data_inst.h_counter__i4, bluejay_data_inst.sub_117_add_2_6 }
ble_pack bluejay_data_inst.sub_117_add_2_7_lut_LC_17_7_5 { bluejay_data_inst.sub_117_add_2_7_lut, bluejay_data_inst.sub_117_add_2_7 }
ble_pack bluejay_data_inst.h_counter__i6_LC_17_7_6 { bluejay_data_inst.sub_117_add_2_8_lut, bluejay_data_inst.h_counter__i6, bluejay_data_inst.sub_117_add_2_8 }
ble_pack bluejay_data_inst.h_counter__i7_LC_17_7_7 { bluejay_data_inst.sub_117_add_2_9_lut, bluejay_data_inst.h_counter__i7 }
clb_pack LT_17_7 { bluejay_data_inst.h_counter__i0_LC_17_7_0, bluejay_data_inst.h_counter__i1_LC_17_7_1, bluejay_data_inst.h_counter__i2_LC_17_7_2, bluejay_data_inst.sub_117_add_2_5_lut_LC_17_7_3, bluejay_data_inst.h_counter__i4_LC_17_7_4, bluejay_data_inst.sub_117_add_2_7_lut_LC_17_7_5, bluejay_data_inst.h_counter__i6_LC_17_7_6, bluejay_data_inst.h_counter__i7_LC_17_7_7 }
set_location LT_17_7 17 7
ble_pack bluejay_data_inst.sub_119_add_2_2_lut_LC_17_8_0 { bluejay_data_inst.sub_119_add_2_2_lut, bluejay_data_inst.sub_119_add_2_2 }
ble_pack bluejay_data_inst.sub_119_add_2_3_lut_LC_17_8_1 { bluejay_data_inst.sub_119_add_2_3_lut, bluejay_data_inst.sub_119_add_2_3 }
ble_pack bluejay_data_inst.sub_119_add_2_4_lut_LC_17_8_2 { bluejay_data_inst.sub_119_add_2_4_lut, bluejay_data_inst.sub_119_add_2_4 }
ble_pack bluejay_data_inst.sub_119_add_2_5_lut_LC_17_8_3 { bluejay_data_inst.sub_119_add_2_5_lut, bluejay_data_inst.sub_119_add_2_5 }
ble_pack bluejay_data_inst.sub_119_add_2_6_lut_LC_17_8_4 { bluejay_data_inst.sub_119_add_2_6_lut, bluejay_data_inst.sub_119_add_2_6 }
ble_pack bluejay_data_inst.sub_119_add_2_7_lut_LC_17_8_5 { bluejay_data_inst.sub_119_add_2_7_lut, bluejay_data_inst.sub_119_add_2_7 }
ble_pack bluejay_data_inst.sub_119_add_2_8_lut_LC_17_8_6 { bluejay_data_inst.sub_119_add_2_8_lut, bluejay_data_inst.sub_119_add_2_8 }
ble_pack bluejay_data_inst.sub_119_add_2_9_lut_LC_17_8_7 { bluejay_data_inst.sub_119_add_2_9_lut }
clb_pack LT_17_8 { bluejay_data_inst.sub_119_add_2_2_lut_LC_17_8_0, bluejay_data_inst.sub_119_add_2_3_lut_LC_17_8_1, bluejay_data_inst.sub_119_add_2_4_lut_LC_17_8_2, bluejay_data_inst.sub_119_add_2_5_lut_LC_17_8_3, bluejay_data_inst.sub_119_add_2_6_lut_LC_17_8_4, bluejay_data_inst.sub_119_add_2_7_lut_LC_17_8_5, bluejay_data_inst.sub_119_add_2_8_lut_LC_17_8_6, bluejay_data_inst.sub_119_add_2_9_lut_LC_17_8_7 }
set_location LT_17_8 17 8
ble_pack bluejay_data_inst.mux_694_i5_3_lut_LC_17_9_0 { bluejay_data_inst.mux_694_i5_3_lut }
ble_pack bluejay_data_inst.i3395_4_lut_LC_17_9_1 { bluejay_data_inst.i3395_4_lut }
ble_pack bluejay_data_inst.i1_4_lut_LC_17_9_2 { bluejay_data_inst.i1_4_lut }
ble_pack bluejay_data_inst.i2_2_lut_adj_52_LC_17_9_3 { bluejay_data_inst.i2_2_lut_adj_52 }
ble_pack bluejay_data_inst.i7_4_lut_adj_54_LC_17_9_4 { bluejay_data_inst.i7_4_lut_adj_54 }
ble_pack bluejay_data_inst.mux_506_i5_3_lut_LC_17_9_5 { bluejay_data_inst.mux_506_i5_3_lut }
ble_pack bluejay_data_inst.state_timeout_counter_i4_LC_17_9_6 { bluejay_data_inst.i1_2_lut_3_lut_adj_61, bluejay_data_inst.state_timeout_counter_i4 }
ble_pack bluejay_data_inst.i6_4_lut_adj_53_LC_17_9_7 { bluejay_data_inst.i6_4_lut_adj_53 }
clb_pack LT_17_9 { bluejay_data_inst.mux_694_i5_3_lut_LC_17_9_0, bluejay_data_inst.i3395_4_lut_LC_17_9_1, bluejay_data_inst.i1_4_lut_LC_17_9_2, bluejay_data_inst.i2_2_lut_adj_52_LC_17_9_3, bluejay_data_inst.i7_4_lut_adj_54_LC_17_9_4, bluejay_data_inst.mux_506_i5_3_lut_LC_17_9_5, bluejay_data_inst.state_timeout_counter_i4_LC_17_9_6, bluejay_data_inst.i6_4_lut_adj_53_LC_17_9_7 }
set_location LT_17_9 17 9
ble_pack bluejay_data_inst.mux_694_i8_3_lut_LC_17_10_0 { bluejay_data_inst.mux_694_i8_3_lut }
ble_pack bluejay_data_inst.i21_4_lut_adj_31_LC_17_10_1 { bluejay_data_inst.i21_4_lut_adj_31 }
ble_pack bluejay_data_inst.i1_4_lut_adj_32_LC_17_10_2 { bluejay_data_inst.i1_4_lut_adj_32 }
ble_pack bluejay_data_inst.state_timeout_counter_i7_LC_17_10_3 { bluejay_data_inst.i1_2_lut_3_lut_adj_56, bluejay_data_inst.state_timeout_counter_i7 }
ble_pack bluejay_data_inst.i2_2_lut_3_lut_adj_50_LC_17_10_4 { bluejay_data_inst.i2_2_lut_3_lut_adj_50 }
ble_pack bluejay_data_inst.i2713_2_lut_LC_17_10_5 { bluejay_data_inst.i2713_2_lut }
ble_pack usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_22_LC_17_10_6 { usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_22 }
ble_pack bluejay_data_inst.mux_532_i1_3_lut_3_lut_LC_17_10_7 { bluejay_data_inst.mux_532_i1_3_lut_3_lut }
clb_pack LT_17_10 { bluejay_data_inst.mux_694_i8_3_lut_LC_17_10_0, bluejay_data_inst.i21_4_lut_adj_31_LC_17_10_1, bluejay_data_inst.i1_4_lut_adj_32_LC_17_10_2, bluejay_data_inst.state_timeout_counter_i7_LC_17_10_3, bluejay_data_inst.i2_2_lut_3_lut_adj_50_LC_17_10_4, bluejay_data_inst.i2713_2_lut_LC_17_10_5, usb_to_bluejay_if_inst.i1_2_lut_3_lut_adj_22_LC_17_10_6, bluejay_data_inst.mux_532_i1_3_lut_3_lut_LC_17_10_7 }
set_location LT_17_10 17 10
ble_pack bluejay_data_inst.state_timeout_counter_i5_LC_17_11_6 { bluejay_data_inst.i1_2_lut_3_lut_adj_60, bluejay_data_inst.state_timeout_counter_i5 }
clb_pack LT_17_11 { bluejay_data_inst.state_timeout_counter_i5_LC_17_11_6 }
set_location LT_17_11 17 11
ble_pack bluejay_data_inst.i2732_2_lut_LC_17_13_4 { bluejay_data_inst.i2732_2_lut }
clb_pack LT_17_13 { bluejay_data_inst.i2732_2_lut_LC_17_13_4 }
set_location LT_17_13 17 13
ble_pack bluejay_data_inst.state_timeout_counter_i6_LC_18_8_0 { bluejay_data_inst.i1_2_lut_3_lut_adj_57, bluejay_data_inst.state_timeout_counter_i6 }
clb_pack LT_18_8 { bluejay_data_inst.state_timeout_counter_i6_LC_18_8_0 }
set_location LT_18_8 18 8
ble_pack bluejay_data_inst.mux_694_i7_3_lut_LC_18_9_0 { bluejay_data_inst.mux_694_i7_3_lut }
ble_pack bluejay_data_inst.i21_4_lut_LC_18_9_1 { bluejay_data_inst.i21_4_lut }
ble_pack bluejay_data_inst.i1_4_lut_adj_30_LC_18_9_2 { bluejay_data_inst.i1_4_lut_adj_30 }
ble_pack bluejay_data_inst.mux_694_i1_3_lut_LC_18_9_3 { bluejay_data_inst.mux_694_i1_3_lut }
ble_pack bluejay_data_inst.i21_4_lut_adj_36_LC_18_9_4 { bluejay_data_inst.i21_4_lut_adj_36 }
ble_pack bluejay_data_inst.i1_4_lut_adj_62_LC_18_9_5 { bluejay_data_inst.i1_4_lut_adj_62 }
ble_pack bluejay_data_inst.i3381_4_lut_LC_18_9_7 { bluejay_data_inst.i3381_4_lut }
clb_pack LT_18_9 { bluejay_data_inst.mux_694_i7_3_lut_LC_18_9_0, bluejay_data_inst.i21_4_lut_LC_18_9_1, bluejay_data_inst.i1_4_lut_adj_30_LC_18_9_2, bluejay_data_inst.mux_694_i1_3_lut_LC_18_9_3, bluejay_data_inst.i21_4_lut_adj_36_LC_18_9_4, bluejay_data_inst.i1_4_lut_adj_62_LC_18_9_5, bluejay_data_inst.i3381_4_lut_LC_18_9_7 }
set_location LT_18_9 18 9
ble_pack bluejay_data_inst.state_timeout_counter_i2_LC_18_10_0 { bluejay_data_inst.i1_2_lut_3_lut_adj_46, bluejay_data_inst.state_timeout_counter_i2 }
clb_pack LT_18_10 { bluejay_data_inst.state_timeout_counter_i2_LC_18_10_0 }
set_location LT_18_10 18 10
ble_pack bluejay_data_inst.state_timeout_counter_i0_LC_18_13_0 { bluejay_data_inst.i1_2_lut_3_lut_adj_59, bluejay_data_inst.state_timeout_counter_i0 }
clb_pack LT_18_13 { bluejay_data_inst.state_timeout_counter_i0_LC_18_13_0 }
set_location LT_18_13 18 13
ble_pack bluejay_data_inst.i2729_2_lut_LC_18_14_5 { bluejay_data_inst.i2729_2_lut }
clb_pack LT_18_14 { bluejay_data_inst.i2729_2_lut_LC_18_14_5 }
set_location LT_18_14 18 14
ble_pack bluejay_data_inst.i2717_2_lut_LC_18_15_6 { bluejay_data_inst.i2717_2_lut }
clb_pack LT_18_15 { bluejay_data_inst.i2717_2_lut_LC_18_15_6 }
set_location LT_18_15 18 15
ble_pack bluejay_data_inst.i2734_2_lut_LC_18_16_1 { bluejay_data_inst.i2734_2_lut }
clb_pack LT_18_16 { bluejay_data_inst.i2734_2_lut_LC_18_16_1 }
set_location LT_18_16 18 16
ble_pack usb_to_bluejay_if_inst.i3309_1_lut_2_lut_LC_19_6_3 { usb_to_bluejay_if_inst.i3309_1_lut_2_lut }
clb_pack LT_19_6 { usb_to_bluejay_if_inst.i3309_1_lut_2_lut_LC_19_6_3 }
set_location LT_19_6 19 6
ble_pack bluejay_data_inst.update_o_80_LC_19_9_3 { bluejay_data_inst.i2_3_lut, bluejay_data_inst.update_o_80 }
clb_pack LT_19_9 { bluejay_data_inst.update_o_80_LC_19_9_3 }
set_location LT_19_9 19 9
ble_pack pc_rx.r_Rx_Data_50_LC_20_4_4 { pc_rx.r_Rx_Data_50_THRU_LUT4_0, pc_rx.r_Rx_Data_50 }
clb_pack LT_20_4 { pc_rx.r_Rx_Data_50_LC_20_4_4 }
set_location LT_20_4 20 4
ble_pack led_counter_695_867__i0_LC_23_5_0 { led_counter_695_867_add_4_2_lut, led_counter_695_867__i0, led_counter_695_867_add_4_2 }
ble_pack led_counter_695_867__i1_LC_23_5_1 { led_counter_695_867_add_4_3_lut, led_counter_695_867__i1, led_counter_695_867_add_4_3 }
ble_pack led_counter_695_867__i2_LC_23_5_2 { led_counter_695_867_add_4_4_lut, led_counter_695_867__i2, led_counter_695_867_add_4_4 }
ble_pack led_counter_695_867__i3_LC_23_5_3 { led_counter_695_867_add_4_5_lut, led_counter_695_867__i3, led_counter_695_867_add_4_5 }
ble_pack led_counter_695_867__i4_LC_23_5_4 { led_counter_695_867_add_4_6_lut, led_counter_695_867__i4, led_counter_695_867_add_4_6 }
ble_pack led_counter_695_867__i5_LC_23_5_5 { led_counter_695_867_add_4_7_lut, led_counter_695_867__i5, led_counter_695_867_add_4_7 }
ble_pack led_counter_695_867__i6_LC_23_5_6 { led_counter_695_867_add_4_8_lut, led_counter_695_867__i6, led_counter_695_867_add_4_8 }
ble_pack led_counter_695_867__i7_LC_23_5_7 { led_counter_695_867_add_4_9_lut, led_counter_695_867__i7, led_counter_695_867_add_4_9 }
clb_pack LT_23_5 { led_counter_695_867__i0_LC_23_5_0, led_counter_695_867__i1_LC_23_5_1, led_counter_695_867__i2_LC_23_5_2, led_counter_695_867__i3_LC_23_5_3, led_counter_695_867__i4_LC_23_5_4, led_counter_695_867__i5_LC_23_5_5, led_counter_695_867__i6_LC_23_5_6, led_counter_695_867__i7_LC_23_5_7 }
set_location LT_23_5 23 5
ble_pack led_counter_695_867__i8_LC_23_6_0 { led_counter_695_867_add_4_10_lut, led_counter_695_867__i8, led_counter_695_867_add_4_10 }
ble_pack led_counter_695_867__i9_LC_23_6_1 { led_counter_695_867_add_4_11_lut, led_counter_695_867__i9, led_counter_695_867_add_4_11 }
ble_pack led_counter_695_867__i10_LC_23_6_2 { led_counter_695_867_add_4_12_lut, led_counter_695_867__i10, led_counter_695_867_add_4_12 }
ble_pack led_counter_695_867__i11_LC_23_6_3 { led_counter_695_867_add_4_13_lut, led_counter_695_867__i11, led_counter_695_867_add_4_13 }
ble_pack led_counter_695_867__i12_LC_23_6_4 { led_counter_695_867_add_4_14_lut, led_counter_695_867__i12, led_counter_695_867_add_4_14 }
ble_pack led_counter_695_867__i13_LC_23_6_5 { led_counter_695_867_add_4_15_lut, led_counter_695_867__i13, led_counter_695_867_add_4_15 }
ble_pack led_counter_695_867__i14_LC_23_6_6 { led_counter_695_867_add_4_16_lut, led_counter_695_867__i14, led_counter_695_867_add_4_16 }
ble_pack led_counter_695_867__i15_LC_23_6_7 { led_counter_695_867_add_4_17_lut, led_counter_695_867__i15, led_counter_695_867_add_4_17 }
clb_pack LT_23_6 { led_counter_695_867__i8_LC_23_6_0, led_counter_695_867__i9_LC_23_6_1, led_counter_695_867__i10_LC_23_6_2, led_counter_695_867__i11_LC_23_6_3, led_counter_695_867__i12_LC_23_6_4, led_counter_695_867__i13_LC_23_6_5, led_counter_695_867__i14_LC_23_6_6, led_counter_695_867__i15_LC_23_6_7 }
set_location LT_23_6 23 6
ble_pack led_counter_695_867__i16_LC_23_7_0 { led_counter_695_867_add_4_18_lut, led_counter_695_867__i16, led_counter_695_867_add_4_18 }
ble_pack led_counter_695_867__i17_LC_23_7_1 { led_counter_695_867_add_4_19_lut, led_counter_695_867__i17, led_counter_695_867_add_4_19 }
ble_pack led_counter_695_867__i18_LC_23_7_2 { led_counter_695_867_add_4_20_lut, led_counter_695_867__i18, led_counter_695_867_add_4_20 }
ble_pack led_counter_695_867__i19_LC_23_7_3 { led_counter_695_867_add_4_21_lut, led_counter_695_867__i19, led_counter_695_867_add_4_21 }
ble_pack led_counter_695_867__i20_LC_23_7_4 { led_counter_695_867_add_4_22_lut, led_counter_695_867__i20, led_counter_695_867_add_4_22 }
ble_pack led_counter_695_867__i21_LC_23_7_5 { led_counter_695_867_add_4_23_lut, led_counter_695_867__i21, led_counter_695_867_add_4_23 }
ble_pack led_counter_695_867__i22_LC_23_7_6 { led_counter_695_867_add_4_24_lut, led_counter_695_867__i22, led_counter_695_867_add_4_24 }
ble_pack led_counter_695_867__i23_LC_23_7_7 { led_counter_695_867_add_4_25_lut, led_counter_695_867__i23, led_counter_695_867_add_4_25 }
clb_pack LT_23_7 { led_counter_695_867__i16_LC_23_7_0, led_counter_695_867__i17_LC_23_7_1, led_counter_695_867__i18_LC_23_7_2, led_counter_695_867__i19_LC_23_7_3, led_counter_695_867__i20_LC_23_7_4, led_counter_695_867__i21_LC_23_7_5, led_counter_695_867__i22_LC_23_7_6, led_counter_695_867__i23_LC_23_7_7 }
set_location LT_23_7 23 7
ble_pack led_counter_695_867__i24_LC_23_8_0 { led_counter_695_867_add_4_26_lut, led_counter_695_867__i24 }
ble_pack usb_to_bluejay_if_inst.fifo_empty_i_I_0_1_lut_LC_23_8_4 { usb_to_bluejay_if_inst.fifo_empty_i_I_0_1_lut }
clb_pack LT_23_8 { led_counter_695_867__i24_LC_23_8_0, usb_to_bluejay_if_inst.fifo_empty_i_I_0_1_lut_LC_23_8_4 }
set_location LT_23_8 23 8
ble_pack GB_BUFFER_SLM_CLK_c_THRU_LUT4_0_LC_23_12_2 { GB_BUFFER_SLM_CLK_c_THRU_LUT4_0 }
clb_pack LT_23_12 { GB_BUFFER_SLM_CLK_c_THRU_LUT4_0_LC_23_12_2 }
set_location LT_23_12 23 12
ble_pack pc_rx.r_Rx_Data_R_49_LC_24_4_4 { pc_rx.r_Rx_Data_R_49_THRU_LUT4_0, pc_rx.r_Rx_Data_R_49 }
clb_pack LT_24_4 { pc_rx.r_Rx_Data_R_49_LC_24_4_4 }
set_location LT_24_4 24 4
set_io SOUT 139
set_io SCK 144
set_io FIFO_D31 16
set_io FIFO_D20 29
set_io FIFO_D13 39
set_io FIFO_D1 61
set_io FIFO_CLK 21
set_io DATA15 105
set_io DATA4 119
set_io DATA23 120
set_io RST 78
set_io FIFO_D4 55
set_io FIFO_D14 38
set_io UART_TX 79
set_io DATA10 96
set_io DATA28 130
set_io DATA19 114
set_io SDAT 143
set_io FT_SIWU 7
set_io DATA0 138
set_io FT_WR 4
set_io FIFO_D27 20
set_io FIFO_D10 43
set_io FIFO_D0 62
set_io DEBUG_0 83
set_io FIFO_D9 44
set_io DATA14 102
set_io UPDATE 88
set_io RESET 142
set_io FIFO_D21 28
set_io FIFO_D12 41
set_io DEBUG_6 82
set_io DATA5 116
set_io DATA24 121
set_io SEN 141
set_io FIFO_D7 47
set_io FIFO_D15 37
set_io ICE_CREST 10
set_io FIFO_D23 25
set_io DATA3 122
set_io DATA22 118
set_io DATA13 101
set_io INVERT 91
set_io FT_RD 3
set_io FIFO_D5 49
set_io FIFO_D24 24
set_io FIFO_D17 33
set_io DSR 74
set_io DEBUG_3 87
set_io DATA29 135
set_io DATA18 112
set_io ICE_CLK 52
set_io DATA20 115
set_io DATA11 97
set_io DATA1 134
set_io VALID 94
set_io SYNC 90
set_io FIFO_D3 56
set_io FIFO_D26 22
set_io FIFO_D11 42
set_io DEBUG_1 84
set_io DATA8 104
set_io DATA31 137
set_io DATA27 129
set_io CTS 76
set_io FIFO_D8 45
set_io FIFO_D18 32
set_io DEBUG_8 63
set_io DCD 73
set_io DATA17 110
set_io SLM_CLK 95
set_io DATA6 113
set_io DATA25 124
set_io ICE_CDONE 15
set_io FIFO_D6 48
set_io FIFO_D29 18
set_io UART_RX 80
set_io FIFO_D22 26
set_io DEBUG_5 81
set_io DATA12 98
set_io DTR 75
set_io DATA21 117
set_io DATA2 128
set_io FIFO_D25 23
set_io FIFO_D2 60
set_io FIFO_D16 34
set_io DEBUG_2 85
set_io DATA9 99
set_io DATA30 136
set_io FR_RXF 8
set_io FIFO_D19 31
set_io DEBUG_9 64
set_io DATA16 106
set_io FT_OE 2
set_io DATA7 107
set_io DATA26 125
set_io FIFO_D30 17
set_io FIFO_D28 19
