set_location IN_MUX_bfv_10_19_0_ 10 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_8_0_ 15 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_9_0_ 15 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_12_0_ 19 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_19_13_0_ 19 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_6_0_ 24 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_7_0_ 24 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_8_0_ 24 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_9_0_ 24 9 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 8 6 5 #SB_LUT4
set_location GB_BUFFER_SLM_CLK_c_THRU_LUT4_0 24 12 6 #SB_LUT4
set_location GB_BUFFER_pll_clk_unbuf_THRU_LUT4_0 7 10 7 #SB_LUT4
set_location uart_rx_complete_prev_215_THRU_LUT4_0 17 8 6 #SB_LUT4
set_location spi_busy_prev_210_THRU_LUT4_0 14 18 2 #SB_LUT4
set_location spi0.start_transfer_prev_74_THRU_LUT4_0 14 11 0 #SB_LUT4
set_location spi0.mux_514_i3_3_lut_4_lut_spi0.state_reg_i2_REP_LUT4_0 14 16 7 #SB_LUT4
set_location spi0.mux_514_i2_4_lut_spi0.state_reg_i1_REP_LUT4_0 14 16 1 #SB_LUT4
set_location spi0.mux_514_i1_3_lut_4_lut_spi0.state_reg_i0_REP_LUT4_0 15 17 7 #SB_LUT4
set_location spi0.CS_81_THRU_LUT4_0 13 19 2 #SB_LUT4
set_location pc_rx.r_Rx_Data_R_49_THRU_LUT4_0 23 4 6 #SB_LUT4
set_location pc_rx.r_Rx_Data_50_THRU_LUT4_0 20 7 4 #SB_LUT4
set_location i3_4_lut_reset_all_r_207_REP_LUT4_0 11 18 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i1 11 15 5 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i7 12 13 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i2 13 14 1 #SB_DFF
set_location spi0.tx_shift_reg_i15 15 14 0 #SB_DFFNSS
set_location spi0.tx_shift_reg_i5 15 16 2 #SB_DFFN
set_location spi0.CS_w_79 14 19 2 #SB_DFFSS
set_location tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86 11 16 3 #SB_DFF
set_location spi0.Rx_Lower_Byte_i7 16 16 0 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_7 19 12 5 #SB_CARRY
set_location led_counter_583_790_add_4_25_lut 24 8 7 #SB_LUT4
set_location led_counter_583_790_add_4_5_lut 24 6 3 #SB_LUT4
set_location uart_rx_complete_rising_edge_214 17 8 1 #SB_DFF
set_location i1662_4_lut 17 10 4 #SB_LUT4
set_location spi0.i1_2_lut 12 19 2 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_2_lut 19 12 0 #SB_LUT4
set_location spi0.spi_clk_counter_589__i1 10 19 1 #SB_DFFSR
set_location i1731_3_lut 12 14 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3295 12 15 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i8 13 13 1 #SB_DFFE
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i3 13 18 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i781_3_lut 12 15 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1689_3_lut_4_lut 13 14 2 #SB_LUT4
set_location spi0.i3261_2_lut 14 19 2 #SB_LUT4
set_location pc_tx.i3275_4_lut 14 9 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i7_2_lut_3_lut_4_lut 15 13 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i149_150 13 16 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut 15 13 4 #SB_LUT4
set_location tx_data_byte_r_i0_i7 17 14 2 #SB_DFF
set_location spi0.Rx_Lower_Byte_i2 16 16 2 #SB_DFF
set_location i3_4_lut 11 18 0 #SB_LUT4
set_location led_counter_583_790_add_4_23 24 8 5 #SB_CARRY
set_location pc_tx.r_Clock_Count_588_add_4_10_lut 15 9 0 #SB_LUT4
set_location tx_addr_byte_r_i0_i3 17 15 4 #SB_DFF
set_location i1734_3_lut 13 11 7 #SB_LUT4
set_location led_counter_583_790_add_4_10_lut 24 7 0 #SB_LUT4
set_location i1_3_lut_4_lut_adj_33 13 15 6 #SB_LUT4
set_location i1722_3_lut 12 13 4 #SB_LUT4
set_location spi0.t_FSM_i3 14 17 7 #SB_DFFR
set_location i1604_4_lut 13 18 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i759_3_lut 16 14 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i134_135 16 14 0 #SB_DFF
set_location pc_rx.r_Clock_Count_586__i2 19 12 2 #SB_DFFESR
set_location led_counter_583_790_add_4_23_lut 24 8 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i0 14 14 4 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i1693_3_lut_4_lut 14 13 0 #SB_LUT4
set_location spi0.rx__5_i9 16 16 7 #SB_DFF
set_location spi0.i1995_2_lut_4_lut 15 17 0 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_10 19 13 0 #SB_CARRY
set_location i1_4_lut_adj_34 16 14 4 #SB_LUT4
set_location i1739_4_lut 17 10 7 #SB_LUT4
set_location tx_data_byte_r_i0_i2 18 15 3 #SB_DFF
set_location spi0.i2002_2_lut_4_lut 14 17 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i137_138 13 16 1 #SB_DFF
set_location led_counter_583_790_add_4_20 24 8 2 #SB_CARRY
set_location i1733_3_lut 12 15 6 #SB_LUT4
set_location pc_rx.i1_2_lut_adj_14 19 11 5 #SB_LUT4
set_location led_counter_583_790__i7 24 6 7 #SB_DFF
set_location tx_addr_byte_r_i0_i4 17 14 5 #SB_DFF
set_location spi0.i3270_3_lut 11 19 6 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_9_lut 15 8 7 #SB_LUT4
set_location pc_tx.i2058_4_lut 14 9 6 #SB_LUT4
set_location pc_tx.r_Bit_Index_i1 16 11 4 #SB_DFFESR
set_location pc_rx.r_Rx_Byte_i2 18 10 4 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_4_lut 19 12 2 #SB_LUT4
set_location i1655_4_lut 12 15 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i230_231 15 13 3 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i7 15 8 7 #SB_DFFESR
set_location pc_tx.i3222_3_lut 13 14 6 #SB_LUT4
set_location spi0.t_FSM_i6 14 16 3 #SB_DFFR
set_location tx_fifo.lscc_fifo_inst.i140_141 12 13 6 #SB_DFF
set_location pc_rx.r_Clock_Count_586__i7 19 12 7 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut 14 13 7 #SB_LUT4
set_location reset_clk_counter_i3_584__i1 11 18 4 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_9 15 8 7 #SB_CARRY
set_location led_counter_583_790_add_4_15_lut 24 7 5 #SB_LUT4
set_location i1_2_lut_adj_26 16 17 3 #SB_LUT4
set_location tx_data_byte_r_i0_i1 15 13 0 #SB_DFF
set_location spi0.t_FSM_i11 15 18 6 #SB_DFFR
set_location tx_fifo.lscc_fifo_inst.i1_4_lut 16 14 3 #SB_LUT4
set_location led_counter_583_790_add_4_8_lut 24 6 6 #SB_LUT4
set_location led_counter_583_790_add_4_25 24 8 7 #SB_CARRY
set_location i1_4_lut 13 15 0 #SB_LUT4
set_location i1716_3_lut 16 13 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i2 16 14 7 #SB_DFF
set_location led_counter_583_790__i2 24 6 2 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i344_345 12 13 4 #SB_DFF
set_location pc_rx.r_Rx_Byte_i7 17 10 6 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i4 15 8 4 #SB_DFFESR
set_location i1669_3_lut 15 13 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i1 13 13 5 #SB_DFFE
set_location spi0.t_FSM_i5 15 17 2 #SB_DFFR
set_location i1713_4_lut 15 16 7 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_3_lut 19 12 1 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i4 19 12 4 #SB_DFFESR
set_location led_counter_583_790_add_4_2 24 6 0 #SB_CARRY
set_location pc_tx.r_Clock_Count_588_add_4_4 15 8 2 #SB_CARRY
set_location led_counter_583_790_add_4_14 24 7 4 #SB_CARRY
set_location i1_2_lut_adj_23 11 18 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i152_153 11 14 0 #SB_DFF
set_location spi0.t_FSM_i12 15 18 5 #SB_DFFR
set_location spi0.spi_clk_counter_589__i2 10 19 2 #SB_DFFSS
set_location pc_rx.i2_2_lut 19 9 1 #SB_LUT4
set_location i1708_4_lut 15 15 2 #SB_LUT4
set_location i1659_2_lut 14 18 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3691_bdd_4_lut 12 16 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1599_3_lut_4_lut 12 13 5 #SB_LUT4
set_location spi0.i531_4_lut_4_lut 14 16 0 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_5_lut 15 8 3 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_8 19 12 6 #SB_CARRY
set_location led_counter_583_790__i20 24 8 4 #SB_DFF
set_location i3183_4_lut 16 14 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i0 12 12 1 #SB_DFF
set_location pc_tx.i3250_4_lut_4_lut 13 11 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i1 16 13 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i338_339 11 14 5 #SB_DFF
set_location spi0.state_reg_2__I_0_101_i5_2_lut_3_lut_3_lut 14 15 5 #SB_LUT4
set_location spi0.i1988_2_lut_4_lut 15 18 2 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_9_lut 19 12 7 #SB_LUT4
set_location led_counter_583_790_add_4_6_lut 24 6 4 #SB_LUT4
set_location led_counter_583_790__i1 24 6 1 #SB_DFF
set_location i1694_3_lut 16 16 0 #SB_LUT4
set_location spi0.spi_clk_counter_589_add_4_2_lut 10 19 0 #SB_LUT4
set_location pc_tx.r_SM_Main_2__I_0_55_i3_3_lut 15 11 5 #SB_LUT4
set_location led_counter_583_790_add_4_9_lut 24 6 7 #SB_LUT4
set_location led_counter_583_790_add_4_19 24 8 1 #SB_CARRY
set_location even_byte_flag_221 9 8 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i251_252 14 13 0 #SB_DFF
set_location pc_rx.r_Rx_Byte_i4 17 10 5 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.n3709_bdd_4_lut 13 13 4 #SB_LUT4
set_location tx_data_byte_r_i0_i6 17 15 6 #SB_DFF
set_location spi0.mux_507_i1_4_lut 14 17 4 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i1 16 17 0 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i1 15 8 1 #SB_DFFESR
set_location pc_rx.r_Clock_Count_586_add_4_5 19 12 3 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i4 13 13 4 #SB_DFFE
set_location pc_tx.r_Tx_Data_i0 14 12 6 #SB_DFF
set_location i1_2_lut_adj_31 16 16 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.empty_r_85 13 15 7 #SB_DFF
set_location pc_tx.i1_1_lut 14 9 4 #SB_LUT4
set_location led_counter_583_790_add_4_7 24 6 5 #SB_CARRY
set_location i1_4_lut_adj_25 14 11 2 #SB_LUT4
set_location i1721_3_lut 12 14 2 #SB_LUT4
set_location i1695_3_lut 16 16 6 #SB_LUT4
set_location spi0.spi_clk_counter_589_add_4_3_lut 10 19 1 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_3 15 8 1 #SB_CARRY
set_location led_counter_583_790_add_4_2_lut 24 6 0 #SB_LUT4
set_location i1_2_lut_3_lut 12 15 1 #SB_LUT4
set_location i1664_3_lut 17 15 1 #SB_LUT4
set_location tx_addr_byte_r_i0_i0 18 15 5 #SB_DFF
set_location spi0.rx__5_i2 16 17 3 #SB_DFF
set_location led_counter_583_790_add_4_13 24 7 3 #SB_CARRY
set_location led_counter_583_790__i15 24 7 7 #SB_DFF
set_location i1750_4_lut_4_lut 13 14 1 #SB_LUT4
set_location i1673_3_lut_4_lut 12 14 7 #SB_LUT4
set_location spi0.spi_clk_counter_589_add_4_4_lut 10 19 2 #SB_LUT4
set_location led_counter_583_790__i23 24 8 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1622_3_lut_4_lut 15 13 5 #SB_LUT4
set_location spi0.t_FSM_i2 14 17 1 #SB_DFFR
set_location spi0.spi_clk_counter_589_add_4_7_lut 10 19 5 #SB_LUT4
set_location spi0.i1_2_lut_3_lut_adj_16 15 17 4 #SB_LUT4
set_location pc_tx.i2_2_lut_3_lut 15 11 0 #SB_LUT4
set_location pc_rx.equal_259_i4_2_lut 16 10 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i146_147 10 15 6 #SB_DFF
set_location pc_rx.r_Clock_Count_586__i3 19 12 3 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.i248_249 12 13 7 #SB_DFF
set_location spi0.tx_shift_reg_i8 15 15 2 #SB_DFFN
set_location i3_4_lut_4_lut 13 11 0 #SB_LUT4
set_location i1600_3_lut 17 11 2 #SB_LUT4
set_location spi0.rx__5_i8 16 16 5 #SB_DFF
set_location led_counter_583_790__i18 24 8 2 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i335_336 13 15 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1598_3_lut_4_lut 14 13 6 #SB_LUT4
set_location tx_data_byte_r_i0_i5 17 14 3 #SB_DFF
set_location i1611_4_lut 11 15 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i7 11 13 7 #SB_DFFE
set_location pc_tx.r_Tx_Data_i5 13 14 0 #SB_DFF
set_location led_counter_583_790_add_4_21 24 8 3 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.n3673_bdd_4_lut 10 14 0 #SB_LUT4
set_location spi0.i2000_2_lut_4_lut 14 17 7 #SB_LUT4
set_location pc_rx.i2006_2_lut 16 10 7 #SB_LUT4
set_location led_counter_583_790_add_4_4 24 6 2 #SB_CARRY
set_location pc_tx.r_Clock_Count_588_add_4_11_lut 15 9 1 #SB_LUT4
set_location pc_rx.i3196_4_lut 19 11 3 #SB_LUT4
set_location pc_rx.i13_3_lut_4_lut 16 9 6 #SB_LUT4
set_location led_counter_583_790__i6 24 6 6 #SB_DFF
set_location i1735_3_lut 13 11 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1617_3_lut_4_lut 13 14 7 #SB_LUT4
set_location tx_addr_byte_r_i0_i5 17 14 6 #SB_DFF
set_location spi0.tx_shift_reg_i2 15 16 4 #SB_DFFN
set_location spi0.rx__5_i5 16 17 5 #SB_DFF
set_location pc_rx.i1_2_lut_4_lut_adj_13 19 11 0 #SB_LUT4
set_location i1_2_lut_adj_29 16 17 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i242_243 13 14 3 #SB_DFF
set_location spi0.spi_clk_counter_589__i4 10 19 4 #SB_DFFSR
set_location spi0.i1989_2_lut_4_lut 15 18 3 #SB_LUT4
set_location pc_tx.r_Bit_Index_i0 15 11 2 #SB_DFF
set_location pc_rx.r_Rx_Byte_i3 17 10 4 #SB_DFF
set_location led_counter_583_790__i16 24 8 0 #SB_DFF
set_location i3258_2_lut 11 15 6 #SB_LUT4
set_location i1616_3_lut 12 13 6 #SB_LUT4
set_location i1614_4_lut_4_lut 13 11 4 #SB_LUT4
set_location i1612_3_lut 10 15 6 #SB_LUT4
set_location pc_tx.r_Clock_Count_588__i8 15 9 0 #SB_DFFESR
set_location pc_rx.r_Clock_Count_586_add_4_2 19 12 0 #SB_CARRY
set_location pc_rx.r_Clock_Count_586_add_4_11_lut 19 13 1 #SB_LUT4
set_location pc_rx.i3181_2_lut_3_lut 19 10 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i774_rep_1_2_lut 13 15 5 #SB_LUT4
set_location spi0.t_FSM_i1 14 17 0 #SB_DFFR
set_location spi0.spi_clk_counter_589_add_4_3 10 19 1 #SB_CARRY
set_location i1637_2_lut 12 8 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i53_54 12 15 5 #SB_DFF
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i3_3_lut 17 9 1 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i0 19 12 0 #SB_DFFESR
set_location i520_4_lut 14 17 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3685_bdd_4_lut 13 13 5 #SB_LUT4
set_location reset_clk_counter_i3_584__i0 11 18 5 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_8 15 8 6 #SB_CARRY
set_location pc_rx.i708_2_lut 14 10 1 #SB_LUT4
set_location pc_rx.equal_260_i4_2_lut 16 10 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i2 12 15 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i326_327 16 13 5 #SB_DFF
set_location spi0.state_reg_i1 14 16 1 #SB_DFFR
set_location pc_rx.r_SM_Main_i2 16 9 7 #SB_DFF
set_location i1_2_lut_adj_27 16 17 6 #SB_LUT4
set_location i1742_4_lut_4_lut 11 15 5 #SB_LUT4
set_location i1710_4_lut 15 15 5 #SB_LUT4
set_location tx_data_byte_r_i0_i0 17 11 2 #SB_DFF
set_location spi_busy_prev_210 14 18 2 #SB_DFF
set_location pc_tx.r_SM_Main_i2 13 11 0 #SB_DFF
set_location i1727_3_lut 17 14 1 #SB_LUT4
set_location i1035_2_lut_3_lut_4_lut 14 14 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3315 14 13 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3697_bdd_4_lut 11 13 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1692_3_lut_4_lut 12 13 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.full_r_84 16 14 4 #SB_DFF
set_location spi0.i2001_2_lut_4_lut 14 17 1 #SB_LUT4
set_location pc_tx.r_Tx_Data_i6 12 14 4 #SB_DFF
set_location led_counter_583_790__i24 24 9 0 #SB_DFF
set_location i1707_4_lut 15 15 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i4 11 15 2 #SB_DFF
set_location pc_rx.i1_2_lut_adj_12 16 10 4 #SB_LUT4
set_location led_counter_583_790_add_4_9 24 6 7 #SB_CARRY
set_location spi0.tx_shift_reg_i12 16 15 3 #SB_DFFN
set_location spi0.spi_clk_counter_589_add_4_6_lut 10 19 4 #SB_LUT4
set_location spi0.i521_2_lut 14 17 3 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_8_lut 15 8 6 #SB_LUT4
set_location led_counter_583_790_add_4_18_lut 24 8 0 #SB_LUT4
set_location led_counter_583_790__i5 24 6 5 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut 11 15 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3300 16 13 4 #SB_LUT4
set_location tx_addr_byte_r_i0_i6 17 15 1 #SB_DFF
set_location spi0.tx_shift_reg_i7 15 15 4 #SB_DFFN
set_location spi0.spi_clk_counter_589_add_4_5_lut 10 19 3 #SB_LUT4
set_location led_counter_583_790_add_4_21_lut 24 8 3 #SB_LUT4
set_location i1_2_lut_3_lut_4_lut_adj_30 11 18 1 #SB_LUT4
set_location i1671_4_lut 17 10 2 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i0 17 10 7 #SB_DFF
set_location led_counter_583_790__i13 24 7 5 #SB_DFF
set_location i1665_3_lut 17 14 6 #SB_LUT4
set_location i1613_3_lut 14 12 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1749_1_lut 10 20 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1643_4_lut_4_lut_4_lut 16 13 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1605_3_lut_4_lut 12 15 5 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i5 16 16 1 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i5 15 8 5 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.n3715_bdd_4_lut 13 13 1 #SB_LUT4
set_location spi0.t_FSM_i4 15 17 3 #SB_DFFR
set_location spi0.spi_clk_counter_589_add_4_6 10 19 4 #SB_CARRY
set_location spi0.i1_2_lut_3_lut 17 16 0 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_4_lut 15 8 2 #SB_LUT4
set_location led_counter_583_790_add_4_24_lut 24 8 6 #SB_LUT4
set_location spi0.i1_2_lut_adj_19 15 14 0 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_10 15 9 0 #SB_CARRY
set_location pc_tx.i3_4_lut 14 8 2 #SB_LUT4
set_location pc_tx.i1147_4_lut 13 12 0 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i5 19 12 5 #SB_DFFESR
set_location led_counter_583_790_add_4_3_lut 24 6 1 #SB_LUT4
set_location led_counter_583_790_add_4_3 24 6 1 #SB_CARRY
set_location reset_clk_counter_i3_584__i3 11 18 3 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_7 15 8 5 #SB_CARRY
set_location pc_rx.i4_4_lut 19 10 2 #SB_LUT4
set_location i1023_2_lut 9 8 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i347_348 15 13 2 #SB_DFF
set_location spi0.i1_4_lut 14 17 6 #SB_LUT4
set_location spi0.i1959_2_lut_4_lut 15 18 0 #SB_LUT4
set_location pc_tx.i1148_3_lut 13 12 1 #SB_LUT4
set_location pc_rx.r_SM_Main_i1 17 9 5 #SB_DFFSR
set_location pc_rx.i2093_3_lut_4_lut 15 10 5 #SB_LUT4
set_location led_counter_583_790_add_4_17 24 7 7 #SB_CARRY
set_location i1_2_lut_adj_20 16 17 7 #SB_LUT4
set_location i1679_3_lut 15 10 1 #SB_LUT4
set_location i1650_4_lut 12 12 1 #SB_LUT4
set_location spi0.t_FSM_i13 15 18 4 #SB_DFFR
set_location spi0.spi_clk_counter_589__i3 10 19 3 #SB_DFFSR
set_location pc_tx.r_Tx_Active_46 13 11 4 #SB_DFF
set_location i1_4_lut_4_lut 16 14 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3310 12 13 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1688_3_lut_4_lut 14 13 1 #SB_LUT4
set_location pc_rx.equal_262_i4_2_lut 16 10 2 #SB_LUT4
set_location led_counter_583_790_add_4_7_lut 24 6 5 #SB_LUT4
set_location i1625_3_lut 16 17 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i1 11 17 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i56_57 12 13 5 #SB_DFF
set_location spi0.i2_3_lut 13 16 2 #SB_LUT4
set_location pc_tx.i3225_3_lut 14 12 3 #SB_LUT4
set_location pc_rx.i1_2_lut_adj_11 16 10 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i0 14 14 3 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i143_144 14 12 5 #SB_DFF
set_location spi0.tx_shift_reg_i11 16 15 5 #SB_DFFN
set_location led_counter_583_790__i0 24 6 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3305 14 15 6 #SB_LUT4
set_location spi0.tx_shift_reg_i4 15 16 3 #SB_DFFN
set_location led_counter_583_790_add_4_26_lut 24 9 0 #SB_LUT4
set_location led_counter_583_790_add_4_22_lut 24 8 4 #SB_LUT4
set_location led_counter_583_790_add_4_18 24 8 0 #SB_CARRY
set_location i1668_3_lut 18 15 2 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i5 17 10 2 #SB_DFF
set_location led_counter_583_790_add_4_20_lut 24 8 2 #SB_LUT4
set_location i1715_4_lut 15 16 0 #SB_LUT4
set_location i1701_4_lut 16 15 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i236_237 14 13 1 #SB_DFF
set_location spi0.Rx_Lower_Byte_i0 16 17 2 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i2 15 8 2 #SB_DFFESR
set_location pc_rx.r_Clock_Count_586_add_4_4 19 12 2 #SB_CARRY
set_location led_counter_583_790_add_4_12_lut 24 7 2 #SB_LUT4
set_location i2859_2_lut 11 18 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i3 13 13 3 #SB_DFFE
set_location start_tx_213 12 14 7 #SB_DFF
set_location spi0.spi_clk_counter_589_add_4_5 10 19 3 #SB_CARRY
set_location pc_tx.r_Tx_Data_i1 12 12 2 #SB_DFF
set_location pc_tx.i737_2_lut_3_lut 16 11 3 #SB_LUT4
set_location pc_rx.i1_4_lut 19 10 4 #SB_LUT4
set_location pc_rx.i1_3_lut 19 11 6 #SB_LUT4
set_location i1631_4_lut_4_lut 11 16 2 #SB_LUT4
set_location i1632_3_lut 18 15 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3320 13 14 4 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_3_lut 15 8 1 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_2 15 8 0 #SB_CARRY
set_location tx_addr_byte_r_i0_i1 15 13 7 #SB_DFF
set_location spi0.rx__5_i1 16 18 2 #SB_DFF
set_location led_counter_583_790_add_4_12 24 7 2 #SB_CARRY
set_location i1717_3_lut 14 15 0 #SB_LUT4
set_location spi0.t_FSM_i14 15 18 3 #SB_DFFR
set_location spi0.spi_clk_counter_589__i0 10 19 0 #SB_DFFSR
set_location spi0.mux_514_i1_3_lut_4_lut 14 17 5 #SB_LUT4
set_location i1718_3_lut 14 15 2 #SB_LUT4
set_location i1698_3_lut 16 16 4 #SB_LUT4
set_location i1696_3_lut 16 16 1 #SB_LUT4
set_location spi0.i4_4_lut 11 19 5 #SB_LUT4
set_location pc_tx.i1271_2_lut_3_lut 13 10 3 #SB_LUT4
set_location led_counter_583_790__i22 24 8 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i332_333 14 15 2 #SB_DFF
set_location i1729_3_lut 18 15 3 #SB_LUT4
set_location spi0.i1999_2_lut_4_lut 15 17 3 #SB_LUT4
set_location pc_rx.i1_2_lut_4_lut 16 9 7 #SB_LUT4
set_location i1_4_lut_adj_28 13 15 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut 16 13 0 #SB_LUT4
set_location spi0.tx_shift_reg_i9 15 15 1 #SB_DFFN
set_location pc_rx.r_Bit_Index_i2 14 10 5 #SB_DFFESR
set_location i1720_3_lut 11 14 5 #SB_LUT4
set_location i1714_4_lut 15 16 4 #SB_LUT4
set_location pc_rx.r_Rx_DV_52 16 8 6 #SB_DFF
set_location pc_rx.i1_3_lut_4_lut 15 10 6 #SB_LUT4
set_location led_counter_583_790__i19 24 8 3 #SB_DFF
set_location i1736_3_lut 12 12 2 #SB_LUT4
set_location tx_data_byte_r_i0_i4 17 14 1 #SB_DFF
set_location spi0.Rx_Lower_Byte_i3 16 16 4 #SB_DFF
set_location i1705_4_lut 16 15 5 #SB_LUT4
set_location i1676_3_lut 15 11 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i6 12 16 4 #SB_DFFE
set_location spi0.i1990_2_lut_4_lut 15 18 4 #SB_LUT4
set_location pc_tx.r_Tx_Data_i2 13 11 1 #SB_DFF
set_location led_counter_583_790_add_4_22 24 8 4 #SB_CARRY
set_location fifo_read_cmd_212 11 15 6 #SB_DFF
set_location pc_rx.i2074_4_lut 19 11 1 #SB_LUT4
set_location led_counter_583_790_add_4_5 24 6 3 #SB_CARRY
set_location i1712_4_lut 15 16 3 #SB_LUT4
set_location tx_addr_byte_r_i0_i2 18 15 2 #SB_DFF
set_location spi0.tx_shift_reg_i3 15 16 7 #SB_DFFN
set_location spi0.state_reg_2__I_0_108_i5_3_lut_3_lut 16 16 3 #SB_LUT4
set_location spi0.rx__5_i4 16 17 4 #SB_DFF
set_location spi0.i1997_2_lut_4_lut 14 16 3 #SB_LUT4
set_location led_counter_583_790_add_4_11 24 7 1 #SB_CARRY
set_location i1_2_lut 16 17 5 #SB_LUT4
set_location spi0.spi_clk_counter_589__i5 10 19 5 #SB_DFFSS
set_location pc_tx.i1_4_lut 14 8 3 #SB_LUT4
set_location led_counter_583_790__i17 24 8 1 #SB_DFF
set_location i1635_4_lut 12 13 3 #SB_LUT4
set_location spi0.i1994_2_lut_4_lut 15 18 1 #SB_LUT4
set_location spi0.i1993_2_lut_4_lut 15 18 7 #SB_LUT4
set_location pc_tx.r_Clock_Count_588__i9 15 9 1 #SB_DFFESR
set_location i1_2_lut_3_lut_adj_32 11 18 4 #SB_LUT4
set_location i1726_3_lut 17 14 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut 16 13 3 #SB_LUT4
set_location spi0.t_FSM_i0 15 18 0 #SB_DFFS
set_location spi0.spi_clk_counter_589_add_4_2 10 19 0 #SB_CARRY
set_location i1646_4_lut_4_lut 16 14 7 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i1 19 12 1 #SB_DFFESR
set_location led_counter_583_790_add_4_14_lut 24 7 4 #SB_LUT4
set_location i1711_4_lut 15 16 2 #SB_LUT4
set_location i1620_4_lut 13 15 3 #SB_LUT4
set_location spi0.mux_514_i2_4_lut 14 18 7 #SB_LUT4
set_location pc_tx.r_Bit_Index_1__bdd_4_lut 15 11 3 #SB_LUT4
set_location pc_rx.r_Bit_Index_i1 14 10 1 #SB_DFFESR
set_location i1661_4_lut 18 10 4 #SB_LUT4
set_location spi0.state_reg_i2 14 16 7 #SB_DFFR
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_1_i3_4_lut 17 9 5 #SB_LUT4
set_location pc_rx.i13_4_lut 16 8 6 #SB_LUT4
set_location i1_2_lut_adj_24 16 16 5 #SB_LUT4
set_location i1652_4_lut 17 10 3 #SB_LUT4
set_location tx_data_byte_r_i0_i3 17 13 4 #SB_DFF
set_location pc_tx.r_SM_Main_i1 13 10 3 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i44_45 15 13 5 #SB_DFF
set_location pc_tx.r_Tx_Data_i7 14 13 2 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i5 13 15 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i341_342 12 14 2 #SB_DFF
set_location pc_rx.i1_2_lut 18 9 0 #SB_LUT4
set_location i1699_3_lut 16 16 2 #SB_LUT4
set_location debug_check_218 12 8 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1686_3_lut_4_lut 15 13 3 #SB_LUT4
set_location led_counter_583_790__i4 24 6 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i59_60 14 13 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1626_3_lut_4_lut 15 13 6 #SB_LUT4
set_location tx_addr_byte_r_i0_i7 17 14 7 #SB_DFF
set_location spi0.tx_shift_reg_i0 17 16 0 #SB_DFFNSR
set_location spi0.rx__5_i7 16 18 5 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_6_lut 19 12 4 #SB_LUT4
set_location i1730_3_lut 14 13 2 #SB_LUT4
set_location i1615_3_lut 14 12 6 #SB_LUT4
set_location pc_tx.r_Bit_Index_i2 16 11 3 #SB_DFFESR
set_location pc_rx.r_Rx_Byte_i1 17 10 3 #SB_DFF
set_location led_counter_583_790__i10 24 7 2 #SB_DFF
set_location spi0.Rx_Lower_Byte_i4 16 17 1 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i6 15 8 6 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.i47_48 13 14 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1691_3_lut_4_lut 14 15 4 #SB_LUT4
set_location spi0.t_FSM_i7 15 17 1 #SB_DFFR
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut 18 9 7 #SB_LUT4
set_location i1737_3_lut 15 13 0 #SB_LUT4
set_location spi0.i1_2_lut_adj_18 15 16 6 #SB_LUT4
set_location spi0.CS_81 13 19 2 #SB_DFFS
set_location pc_rx.r_Clock_Count_586_add_4_10_lut 19 13 0 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i6 19 12 6 #SB_DFFESR
set_location led_counter_583_790__i9 24 7 1 #SB_DFF
set_location i1700_3_lut 16 17 0 #SB_LUT4
set_location spi0.start_transfer_edge_73 14 11 2 #SB_DFF
set_location spi0.mux_514_i3_3_lut_4_lut 14 16 5 #SB_LUT4
set_location spi0.i1627_2_lut_3_lut 16 19 1 #SB_LUT4
set_location reset_clk_counter_i3_584__i2 11 18 1 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_6 15 8 4 #SB_CARRY
set_location i1623_3_lut 16 14 0 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_7_lut 15 8 5 #SB_LUT4
set_location pc_rx.r_SM_Main_i0 17 9 1 #SB_DFFSR
set_location led_counter_583_790_add_4_16 24 7 6 #SB_CARRY
set_location led_counter_583_790_add_4_13_lut 24 7 3 #SB_LUT4
set_location i1_2_lut_adj_21 16 18 2 #SB_LUT4
set_location spi0.t_FSM_i10 15 18 7 #SB_DFFR
set_location pc_rx.r_Clock_Count_586_add_4_7_lut 19 12 5 #SB_LUT4
set_location i1_3_lut 13 15 1 #SB_LUT4
set_location i1732_3_lut 13 14 0 #SB_LUT4
set_location i1706_4_lut 16 15 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1690_3_lut_4_lut 13 14 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i8_2_lut_3_lut_4_lut 14 13 3 #SB_LUT4
set_location led_counter_583_790_add_4_24 24 8 6 #SB_CARRY
set_location i1_3_lut_4_lut 11 18 3 #SB_LUT4
set_location i1724_3_lut 17 14 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3290 11 14 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i6 11 16 2 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1_2_lut 16 14 1 #SB_LUT4
set_location spi0.t_FSM_i9 15 18 1 #SB_DFFR
set_location pc_tx.i730_2_lut 16 11 4 #SB_LUT4
set_location pc_rx.i1_2_lut_adj_10 17 8 1 #SB_LUT4
set_location uart_rx_complete_prev_215 17 8 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1034_2_lut_3_lut_4_lut 14 14 4 #SB_LUT4
set_location spi0.tx_shift_reg_i10 16 15 1 #SB_DFFN
set_location pc_rx.r_Clock_Count_586__i8 19 13 0 #SB_DFFESR
set_location led_counter_583_790__i3 24 6 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.n3679_bdd_4_lut 12 16 4 #SB_LUT4
set_location pc_rx.i1_3_lut_4_lut_adj_15 15 10 0 #SB_LUT4
set_location i1672_4_lut 18 10 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1608_3_lut_4_lut 12 14 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_2_lut 15 8 0 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i6 18 10 6 #SB_DFF
set_location led_counter_583_790_add_4_17_lut 24 7 7 #SB_LUT4
set_location i3194_4_lut 13 15 2 #SB_LUT4
set_location spi0.i1_1_lut 14 18 5 #SB_LUT4
set_location spi0.i1996_2_lut_4_lut 15 17 1 #SB_LUT4
set_location pc_tx.r_Clock_Count_588__i3 15 8 3 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i2 12 16 1 #SB_DFFE
set_location spi0.spi_clk_counter_589_add_4_4 10 19 2 #SB_CARRY
set_location pc_tx.i2_3_lut_4_lut 13 11 6 #SB_LUT4
set_location reset_all_r_207 11 18 6 #SB_DFF
set_location led_counter_583_790_add_4_4_lut 24 6 2 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_5 15 8 3 #SB_CARRY
set_location spi0.mux_507_i3_3_lut_3_lut 14 16 6 #SB_LUT4
set_location led_counter_583_790_add_4_15 24 7 5 #SB_CARRY
set_location i1_2_lut_adj_22 16 18 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1624_3_lut_4_lut 13 16 0 #SB_LUT4
set_location spi0.t_FSM_i15 15 18 2 #SB_DFFR
set_location pc_tx.n3667_bdd_4_lut 15 11 4 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_9 19 12 7 #SB_CARRY
set_location led_counter_583_790__i21 24 8 5 #SB_DFF
set_location i1719_3_lut 13 15 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i38_39 15 13 6 #SB_DFF
set_location spi0.i1991_2_lut_4_lut 15 18 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_588__i0 15 8 0 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i5 10 14 0 #SB_DFFE
set_location tx_fifo.lscc_fifo_inst.i233_234 14 15 3 #SB_DFF
set_location spi0.busy_86 16 19 1 #SB_DFF
set_location pc_tx.r_Tx_Data_i3 13 11 7 #SB_DFF
set_location led_counter_583_790_add_4_6 24 6 4 #SB_CARRY
set_location i1704_4_lut 16 15 3 #SB_LUT4
set_location i1607_3_lut 13 16 4 #SB_LUT4
set_location spi0.rx__5_i3 16 17 6 #SB_DFF
set_location spi0.i19_3_lut 15 16 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_6_lut 15 8 4 #SB_LUT4
set_location led_counter_583_790_add_4_10 24 7 0 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.i1687_3_lut_4_lut 14 15 3 #SB_LUT4
set_location led_counter_583_790__i14 24 7 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i155_156 14 12 0 #SB_DFF
set_location spi0.i1_2_lut_3_lut_adj_17 15 16 1 #SB_LUT4
set_location i1663_3_lut 17 14 7 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location i1667_3_lut 17 15 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i329_330 14 15 0 #SB_DFF
set_location pc_rx.r_Bit_Index_i0 15 10 1 #SB_DFF
set_location pc_tx.i1_3_lut_4_lut 14 11 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i239_240 13 14 2 #SB_DFF
set_location spi0.i2_2_lut_3_lut 14 15 1 #SB_LUT4
set_location pc_tx.r_SM_Main_i0 13 12 1 #SB_DFFSR
set_location i1703_4_lut 16 15 0 #SB_LUT4
set_location pc_tx.r_Tx_Data_i4 12 15 6 #SB_DFF
set_location i1709_4_lut 15 15 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i41_42 13 16 0 #SB_DFF
set_location spi0.tx_shift_reg_i14 16 15 7 #SB_DFFN
set_location pc_rx.r_Rx_Data_R_49 23 4 6 #SB_DFF
set_location pc_rx.r_Rx_Data_50 20 7 4 #SB_DFF
set_location spi0.tx_shift_reg_i1 15 16 0 #SB_DFFN
set_location spi0.rx__5_i6 16 17 7 #SB_DFF
set_location pc_tx.i3223_3_lut 14 12 7 #SB_LUT4
set_location led_counter_583_790_add_4_16_lut 24 7 6 #SB_LUT4
set_location led_counter_583_790_add_4_11_lut 24 7 1 #SB_LUT4
set_location i1728_3_lut 17 13 4 #SB_LUT4
set_location i1670_4_lut 17 10 5 #SB_LUT4
set_location led_counter_583_790__i11 24 7 3 #SB_DFF
set_location i1723_3_lut 15 13 2 #SB_LUT4
set_location i1697_3_lut 16 17 1 #SB_LUT4
set_location i1660_2_lut 14 13 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i50_51 12 14 5 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_3 19 12 1 #SB_CARRY
set_location pc_rx.i2086_4_lut 19 11 2 #SB_LUT4
set_location pc_rx.i715_2_lut_3_lut 14 10 5 #SB_LUT4
set_location led_counter_583_790__i8 24 7 0 #SB_DFF
set_location spi0.i3240_4_lut 14 18 6 #SB_LUT4
set_location spi0.state_reg_i0 15 17 7 #SB_DFFR
set_location pc_rx.r_Clock_Count_586_add_4_5_lut 19 12 3 #SB_LUT4
set_location pc_rx.i2_3_lut_4_lut 16 10 5 #SB_LUT4
set_location i1725_3_lut 17 15 6 #SB_LUT4
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut 15 10 7 #SB_LUT4
set_location i1685_4_lut_4_lut 11 17 4 #SB_LUT4
set_location pc_tx.i1569_3_lut 15 11 1 #SB_LUT4
set_location i1621_3_lut 13 16 1 #SB_LUT4
set_location i1601_3_lut 14 12 0 #SB_LUT4
set_location spi0.t_FSM_i8 15 17 0 #SB_DFFR
set_location pc_rx.r_Clock_Count_586_add_4_8_lut 19 12 6 #SB_LUT4
set_location led_counter_583_790_add_4_8 24 6 6 #SB_CARRY
set_location led_counter_583_790_add_4_19_lut 24 8 1 #SB_LUT4
set_location spi0.tx_shift_reg_i13 16 15 0 #SB_DFFN
set_location spi0.start_transfer_prev_74 14 11 0 #SB_DFF
set_location pc_rx.r_Clock_Count_586__i9 19 13 1 #SB_DFFESR
set_location i1738_4_lut 17 10 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3703_bdd_4_lut 13 13 3 #SB_LUT4
set_location spi_busy_falling_edge_209 14 18 3 #SB_DFF
set_location spi0.tx_shift_reg_i6 15 15 5 #SB_DFFN
set_location spi0.spi_clk_76 12 19 2 #SB_DFF
set_location pc_rx.i3266_4_lut 19 9 2 #SB_LUT4
set_location led_counter_583_790__i12 24 7 4 #SB_DFF
set_location spi0.i1992_2_lut_4_lut 15 18 6 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i6 16 16 6 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_6 19 12 4 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.i245_246 14 15 4 #SB_DFF
set_location spi0.i1998_2_lut_4_lut 15 17 2 #SB_LUT4
set_location fifo_write_cmd_211 14 13 4 #SB_DFF
set_location pc_tx.i3226_3_lut 13 11 2 #SB_LUT4
set_location i1_2_lut_3_lut_4_lut 11 16 1 #SB_LUT4
set_location i1666_3_lut 17 14 5 #SB_LUT4
set_location i1651_2_lut_3_lut 11 16 3 #SB_LUT4
set_location i1606_3_lut 11 14 0 #SB_LUT4
set_io SOUT 139
set_io SCK 144
set_io FIFO_D31 16
set_io FIFO_D20 29
set_io FIFO_D13 39
set_io FIFO_D1 61
set_io FIFO_BE2 11
set_io DATA15 105
set_io DATA4 119
set_io DATA23 120
set_io RST 78
set_io FIFO_D4 55
set_io FIFO_D14 38
set_io UART_TX 79
set_io DATA10 96
set_io DATA28 130
set_io DATA19 114
set_io SDAT 143
set_io FT_SIWU 7
set_io DATA0 138
set_io FT_WR 4
set_io FIFO_D27 20
set_io FIFO_D10 43
set_io FIFO_D0 62
set_io FIFO_BE3 10
set_io DEBUG_0 83
set_io FIFO_D9 44
set_io DATA14 102
set_io UPDATE 88
set_io RESET 142
set_io FIFO_D21 28
set_io FIFO_D12 41
set_io FIFO_BE1 12
set_io DEBUG_6 82
set_io DATA5 116
set_io DATA24 121
set_io SEN 141
set_io FIFO_D7 47
set_io FIFO_D15 37
set_io ICE_CREST 9
set_io FIFO_D23 25
set_io DATA3 122
set_io DATA22 118
set_io DATA13 101
set_io INVERT 91
set_io FT_RD 3
set_io FIFO_D5 49
set_io FIFO_D24 24
set_io FIFO_D17 33
set_io DSR 74
set_io DEBUG_3 87
set_io DATA29 135
set_io DATA18 112
set_io ICE_SYSCLK 93
set_io ICE_CLK 52
set_io DATA20 115
set_io DATA11 97
set_io DATA1 134
set_io VALID 94
set_io SYNC 90
set_io FIFO_D3 56
set_io FIFO_D26 22
set_io FIFO_D11 42
set_io DEBUG_1 84
set_io DATA8 104
set_io DATA31 137
set_io DATA27 129
set_io CTS 76
set_io FIFO_D8 45
set_io FIFO_D18 32
set_io DEBUG_8 63
set_io DCD 73
set_io DATA17 110
set_io SLM_CLK 95
set_io DATA6 113
set_io DATA25 124
set_io ICE_CDONE 21
set_io FIFO_D6 48
set_io FIFO_D29 18
set_io UART_RX 80
set_io FIFO_D22 26
set_io FIFO_BE0 15
set_io DEBUG_5 81
set_io DATA12 98
set_io DTR 75
set_io DATA21 117
set_io DATA2 128
set_io FIFO_D25 23
set_io FIFO_D2 60
set_io FIFO_D16 34
set_io DEBUG_2 85
set_io DATA9 99
set_io DATA30 136
set_io FR_RXF 8
set_io FIFO_D19 31
set_io DEBUG_9 64
set_io DATA16 106
set_io FT_OE 2
set_io DATA7 107
set_io DATA26 125
set_io FIFO_D30 17
set_io FIFO_D28 19
