set_location IN_MUX_bfv_12_16_0_ 12 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_18_10_0_ 18 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_18_11_0_ 18 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_11_0_ 17 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_12_0_ 17 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_7_0_ 24 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_8_0_ 24 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_9_0_ 24 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_10_0_ 24 10 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 14 7 #SB_LUT4
set_location GB_BUFFER_SLM_CLK_c_THRU_LUT4_0 24 12 5 #SB_LUT4
set_location GB_BUFFER_pll_clk_unbuf_THRU_LUT4_0 7 1 1 #SB_LUT4
set_location uart_rx_complete_prev_215_THRU_LUT4_0 20 15 7 #SB_LUT4
set_location spi_busy_prev_210_THRU_LUT4_0 16 14 4 #SB_LUT4
set_location spi0.start_transfer_prev_74_THRU_LUT4_0 18 14 0 #SB_LUT4
set_location spi0.mux_514_i3_4_lut_4_lut_spi0.state_reg_i2_REP_LUT4_0 15 16 6 #SB_LUT4
set_location spi0.mux_514_i2_4_lut_4_lut_spi0.state_reg_i1_REP_LUT4_0 15 15 1 #SB_LUT4
set_location spi0.mux_514_i1_3_lut_spi0.state_reg_i0_REP_LUT4_0 15 16 4 #SB_LUT4
set_location spi0.CS_81_THRU_LUT4_0 13 15 0 #SB_LUT4
set_location pc_rx.r_Rx_Data_R_49_THRU_LUT4_0 20 10 1 #SB_LUT4
set_location pc_rx.r_Rx_Data_50_THRU_LUT4_0 20 11 4 #SB_LUT4
set_location i3_4_lut_reset_all_r_207_REP_LUT4_0 9 18 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i2 16 12 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT_data_buff_r__i1 11 14 3 #SB_DFF
set_location spi0.tx_shift_reg_i5 17 16 2 #SB_DFFN
set_location spi0.CS_w_79 14 15 6 #SB_DFFSS
set_location i1727_4_lut 17 16 4 #SB_LUT4
set_location i1693_4_lut 18 14 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_fifo_en_prev_r_86 9 17 7 #SB_DFF
set_location spi0.Rx_Lower_Byte_i7 15 18 0 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_7 17 11 5 #SB_CARRY
set_location led_counter_583_790_add_4_25_lut 24 9 7 #SB_LUT4
set_location spi0.i2164_2_lut_4_lut 14 17 4 #SB_LUT4
set_location led_counter_583_790_add_4_5_lut 24 7 3 #SB_LUT4
set_location i1680_4_lut 11 12 5 #SB_LUT4
set_location uart_rx_complete_rising_edge_214 20 15 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1661_4_lut_4_lut 11 15 4 #SB_LUT4
set_location spi0.i1_2_lut 12 15 4 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_2_lut 17 11 0 #SB_LUT4
set_location i1728_4_lut 17 16 2 #SB_LUT4
set_location spi0.spi_clk_counter_589__i1 12 16 1 #SB_DFFSR
set_location i1639_3_lut 15 18 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3528_bdd_4_lut 13 14 0 #SB_LUT4
set_location i1731_4_lut 17 17 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i8 12 12 5 #SB_DFFE
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i3 11 13 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i781_3_lut 15 13 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1625_3_lut_4_lut 13 12 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1739_3_lut_4_lut 12 13 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i149_150 12 13 3 #SB_DFF
set_location i1_4_lut_adj_31 18 14 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r_1__I_0_i1_2_lut 17 16 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i4_2_lut_3_lut 15 13 6 #SB_LUT4
set_location tx_data_byte_r_i0_i7 10 16 5 #SB_DFF
set_location spi0.Rx_Lower_Byte_i2 15 18 5 #SB_DFF
set_location i3_4_lut 9 18 2 #SB_LUT4
set_location led_counter_583_790_add_4_23 24 9 5 #SB_CARRY
set_location pc_tx.r_Clock_Count_588_add_4_10_lut 18 11 0 #SB_LUT4
set_location tx_addr_byte_r_i0_i3 15 17 0 #SB_DFF
set_location i1760_4_lut_4_lut 16 12 3 #SB_LUT4
set_location led_counter_583_790_add_4_10_lut 24 8 0 #SB_LUT4
set_location spi0.i2160_2_lut_4_lut 14 16 1 #SB_LUT4
set_location i1722_4_lut 16 17 7 #SB_LUT4
set_location spi0.t_FSM_i3 16 15 5 #SB_DFFR
set_location i1724_4_lut 16 17 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i759_3_lut 13 13 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i134_135 15 13 1 #SB_DFF
set_location pc_rx.r_Clock_Count_586__i2 17 11 2 #SB_DFFESR
set_location led_counter_583_790_add_4_23_lut 24 9 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i0 15 14 1 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i1737_3_lut_4_lut 14 14 5 #SB_LUT4
set_location spi0.rx__5_i9 16 18 5 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_10 17 12 0 #SB_CARRY
set_location i1751_4_lut 11 11 6 #SB_LUT4
set_location tx_data_byte_r_i0_i2 12 17 6 #SB_DFF
set_location i3028_4_lut 15 13 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i137_138 13 13 3 #SB_DFF
set_location pc_tx.i3074_3_lut 15 11 0 #SB_LUT4
set_location led_counter_583_790_add_4_20 24 9 2 #SB_CARRY
set_location pc_rx.i1_2_lut_adj_14 20 15 1 #SB_LUT4
set_location i1726_4_lut 16 17 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3161 12 13 4 #SB_LUT4
set_location led_counter_583_790__i7 24 7 7 #SB_DFF
set_location i1714_3_lut 16 16 1 #SB_LUT4
set_location tx_addr_byte_r_i0_i4 17 14 4 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_9_lut 18 10 7 #SB_LUT4
set_location pc_tx.r_Bit_Index_i1 16 10 6 #SB_DFFESR
set_location pc_rx.r_Rx_Byte_i2 17 14 3 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_4_lut 17 11 2 #SB_LUT4
set_location i1655_4_lut 12 11 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i230_231 16 14 7 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i7 18 10 7 #SB_DFFESR
set_location spi0.t_FSM_i6 16 15 2 #SB_DFFR
set_location tx_fifo.lscc_fifo_inst.i140_141 14 14 4 #SB_DFF
set_location pc_tx.i3069_3_lut 13 11 7 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i7 17 11 7 #SB_DFFESR
set_location i1720_4_lut 17 17 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut 13 14 4 #SB_LUT4
set_location reset_clk_counter_i3_584__i1 9 18 3 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_9 18 10 7 #SB_CARRY
set_location led_counter_583_790_add_4_15_lut 24 8 5 #SB_LUT4
set_location i1_2_lut_adj_26 16 18 7 #SB_LUT4
set_location tx_data_byte_r_i0_i1 15 12 6 #SB_DFF
set_location spi0.t_FSM_i11 14 16 0 #SB_DFFR
set_location pc_rx.i2256_4_lut 18 12 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1_4_lut 15 13 4 #SB_LUT4
set_location pc_tx.i3068_3_lut 13 10 1 #SB_LUT4
set_location led_counter_583_790_add_4_8_lut 24 7 6 #SB_LUT4
set_location led_counter_583_790_add_4_25 24 9 7 #SB_CARRY
set_location i1_4_lut 11 15 5 #SB_LUT4
set_location pc_rx.i3119_4_lut 18 13 1 #SB_LUT4
set_location i1716_3_lut 15 18 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i2 13 13 1 #SB_DFF
set_location led_counter_583_790__i2 24 7 2 #SB_DFF
set_location pc_rx.i1_2_lut_4_lut_adj_17 17 10 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i344_345 12 13 6 #SB_DFF
set_location pc_rx.r_Rx_Byte_i7 11 12 5 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i4 18 10 4 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i1 16 13 7 #SB_DFFE
set_location spi0.t_FSM_i5 16 15 1 #SB_DFFR
set_location pc_rx.r_Clock_Count_586_add_4_3_lut 17 11 1 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i4 17 11 4 #SB_DFFESR
set_location led_counter_583_790_add_4_2 24 7 0 #SB_CARRY
set_location i1_4_lut_adj_20 11 16 7 #SB_LUT4
set_location spi0.i2159_2_lut_4_lut 14 16 3 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_4 18 10 2 #SB_CARRY
set_location i2690_2_lut 9 18 5 #SB_LUT4
set_location led_counter_583_790_add_4_14 24 8 4 #SB_CARRY
set_location i1_2_lut_adj_23 15 18 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3176 16 14 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1704_3_lut_4_lut 12 14 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i152_153 13 13 2 #SB_DFF
set_location spi0.t_FSM_i12 14 16 1 #SB_DFFR
set_location spi0.spi_clk_counter_589__i2 12 16 2 #SB_DFFSS
set_location pc_rx.i2_2_lut 18 13 5 #SB_LUT4
set_location pc_rx.equal_263_i4_2_lut 11 13 3 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_5_lut 18 10 3 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_8 17 11 6 #SB_CARRY
set_location led_counter_583_790__i20 24 9 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i0 15 12 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1736_3_lut_4_lut 12 15 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1664_4_lut_4_lut 15 13 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i1 11 15 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i338_339 14 14 5 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_9_lut 17 11 7 #SB_LUT4
set_location led_counter_583_790_add_4_6_lut 24 7 4 #SB_LUT4
set_location led_counter_583_790__i1 24 7 1 #SB_DFF
set_location spi0.spi_clk_counter_589_add_4_2_lut 12 16 0 #SB_LUT4
set_location pc_tx.r_SM_Main_2__I_0_55_i3_3_lut 19 8 6 #SB_LUT4
set_location pc_tx.i1579_3_lut 16 9 0 #SB_LUT4
set_location led_counter_583_790_add_4_9_lut 24 7 7 #SB_LUT4
set_location led_counter_583_790_add_4_19 24 9 1 #SB_CARRY
set_location i1701_3_lut 11 17 5 #SB_LUT4
set_location even_byte_flag_221 20 14 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i251_252 15 12 0 #SB_DFF
set_location spi0.mux_514_i2_4_lut_4_lut 16 16 5 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i4 13 13 7 #SB_DFF
set_location pc_rx.i2175_2_lut 11 14 7 #SB_LUT4
set_location i1682_3_lut 13 16 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1707_3_lut_4_lut 14 14 0 #SB_LUT4
set_location tx_data_byte_r_i0_i6 13 16 2 #SB_DFF
set_location spi0.i2130_2_lut_4_lut 14 16 7 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i1 13 17 0 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i1 18 10 1 #SB_DFFESR
set_location pc_rx.r_Clock_Count_586_add_4_5 17 11 3 #SB_CARRY
set_location pc_rx.i3026_2_lut_3_lut 18 13 3 #SB_LUT4
set_location i1747_3_lut 13 12 6 #SB_LUT4
set_location i1723_4_lut 16 17 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i4 10 15 7 #SB_DFFE
set_location tx_fifo.lscc_fifo_inst.i1638_3_lut_4_lut 14 14 6 #SB_LUT4
set_location pc_tx.r_Tx_Data_i0 15 10 2 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.empty_r_85 11 16 7 #SB_DFF
set_location spi0.i2170_2_lut_4_lut 15 15 4 #SB_LUT4
set_location pc_tx.i1_1_lut 18 9 2 #SB_LUT4
set_location led_counter_583_790_add_4_7 24 7 5 #SB_CARRY
set_location i1_4_lut_adj_25 14 13 3 #SB_LUT4
set_location i1712_3_lut 17 18 0 #SB_LUT4
set_location spi0.spi_clk_counter_589_add_4_3_lut 12 16 1 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_3 18 10 1 #SB_CARRY
set_location led_counter_583_790_add_4_2_lut 24 7 0 #SB_LUT4
set_location i3111_2_lut 10 16 3 #SB_LUT4
set_location i1_2_lut_3_lut 9 18 3 #SB_LUT4
set_location i1745_3_lut 13 12 1 #SB_LUT4
set_location i1743_3_lut 12 11 7 #SB_LUT4
set_location i1649_4_lut 14 11 3 #SB_LUT4
set_location tx_addr_byte_r_i0_i0 11 16 2 #SB_DFF
set_location spi0.rx__5_i2 15 18 2 #SB_DFF
set_location led_counter_583_790_add_4_13 24 8 3 #SB_CARRY
set_location i1669_2_lut_3_lut 9 17 7 #SB_LUT4
set_location led_counter_583_790__i15 24 8 7 #SB_DFF
set_location spi0.spi_clk_counter_589_add_4_4_lut 12 16 2 #SB_LUT4
set_location spi0.i2158_2_lut_4_lut 14 16 5 #SB_LUT4
set_location led_counter_583_790__i23 24 9 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1705_3_lut_4_lut 14 13 6 #SB_LUT4
set_location spi0.t_FSM_i2 15 15 4 #SB_DFFR
set_location spi0.spi_clk_counter_589_add_4_7_lut 12 16 5 #SB_LUT4
set_location spi0.i2165_2_lut_4_lut 15 16 2 #SB_LUT4
set_location pc_tx.i2_2_lut_3_lut 16 11 7 #SB_LUT4
set_location pc_rx.equal_259_i4_2_lut 13 13 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i146_147 14 14 3 #SB_DFF
set_location pc_rx.r_Clock_Count_586__i3 17 11 3 #SB_DFFESR
set_location i1_2_lut_4_lut 11 16 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i248_249 15 13 7 #SB_DFF
set_location spi0.tx_shift_reg_i8 16 17 0 #SB_DFFN
set_location i3_4_lut_4_lut 18 9 1 #SB_LUT4
set_location i1702_3_lut 15 17 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i1 11 15 4 #SB_DFF
set_location spi0.rx__5_i8 16 18 0 #SB_DFF
set_location led_counter_583_790__i18 24 9 2 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i335_336 12 15 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1647_3_lut_4_lut 16 14 0 #SB_LUT4
set_location tx_data_byte_r_i0_i5 13 11 3 #SB_DFF
set_location i1711_3_lut 15 18 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i7 12 12 3 #SB_DFFE
set_location pc_tx.r_Tx_Data_i5 13 12 1 #SB_DFF
set_location led_counter_583_790_add_4_21 24 9 3 #SB_CARRY
set_location led_counter_583_790_add_4_4 24 7 2 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3166 15 12 3 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_11_lut 18 11 1 #SB_LUT4
set_location pc_rx.i2_2_lut_adj_12 17 14 5 #SB_LUT4
set_location pc_rx.i13_3_lut_4_lut 19 15 1 #SB_LUT4
set_location led_counter_583_790__i6 24 7 6 #SB_DFF
set_location i1725_4_lut 16 17 0 #SB_LUT4
set_location i1681_3_lut 10 16 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1617_3_lut_4_lut 12 14 0 #SB_LUT4
set_location tx_addr_byte_r_i0_i5 13 16 6 #SB_DFF
set_location spi0.tx_shift_reg_i2 17 17 6 #SB_DFFN
set_location spi0.rx__5_i5 16 18 7 #SB_DFF
set_location pc_rx.i1_2_lut_4_lut_adj_13 17 14 6 #SB_LUT4
set_location i1_2_lut_adj_29 16 18 0 #SB_LUT4
set_location i1741_3_lut 15 17 3 #SB_LUT4
set_location i1684_3_lut 13 16 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i242_243 14 14 0 #SB_DFF
set_location spi0.spi_clk_counter_589__i4 12 16 4 #SB_DFFSR
set_location pc_tx.r_Bit_Index_i0 16 9 1 #SB_DFF
set_location pc_rx.r_Rx_Byte_i3 16 14 6 #SB_DFF
set_location led_counter_583_790__i16 24 9 0 #SB_DFF
set_location i1718_4_lut 17 17 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1759_1_lut 7 19 0 #SB_LUT4
set_location pc_tx.r_Clock_Count_588__i8 18 11 0 #SB_DFFESR
set_location pc_rx.r_Clock_Count_586_add_4_2 17 11 0 #SB_CARRY
set_location pc_rx.r_Clock_Count_586_add_4_11_lut 17 12 1 #SB_LUT4
set_location i1674_2_lut 16 14 3 #SB_LUT4
set_location spi0.t_FSM_i1 15 15 3 #SB_DFFR
set_location spi0.spi_clk_counter_589_add_4_3 12 16 1 #SB_CARRY
set_location spi0.i3100_3_lut 15 15 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i53_54 13 12 7 #SB_DFF
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i3_3_lut 19 14 0 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i0 17 11 0 #SB_DFFESR
set_location reset_clk_counter_i3_584__i0 9 18 1 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_8 18 10 6 #SB_CARRY
set_location pc_rx.i708_2_lut 17 13 1 #SB_LUT4
set_location pc_rx.equal_260_i4_2_lut 17 14 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r__i2 15 13 5 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i326_327 14 14 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1735_3_lut_4_lut 14 13 1 #SB_LUT4
set_location spi0.state_reg_i1 15 15 1 #SB_DFFR
set_location pc_rx.r_SM_Main_i2 19 15 7 #SB_DFF
set_location i1_2_lut_adj_27 16 16 4 #SB_LUT4
set_location i1746_3_lut 12 9 1 #SB_LUT4
set_location i1713_3_lut 16 16 7 #SB_LUT4
set_location tx_data_byte_r_i0_i0 11 14 4 #SB_DFF
set_location spi_busy_prev_210 16 14 4 #SB_DFF
set_location pc_tx.r_SM_Main_i2 18 9 1 #SB_DFF
set_location i1690_3_lut 16 9 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1706_3_lut_4_lut 12 15 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.full_r_84 14 13 3 #SB_DFF
set_location spi0.i2169_2_lut_4_lut 16 15 5 #SB_LUT4
set_location pc_tx.r_Tx_Data_i6 12 11 5 #SB_DFF
set_location led_counter_583_790__i24 24 10 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.n3558_bdd_4_lut 12 12 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i4 12 15 1 #SB_DFF
set_location led_counter_583_790_add_4_9 24 7 7 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.n3534_bdd_4_lut 13 14 7 #SB_LUT4
set_location spi0.tx_shift_reg_i12 17 17 0 #SB_DFFN
set_location spi0.spi_clk_counter_589_add_4_6_lut 12 16 4 #SB_LUT4
set_location spi0.i2161_2_lut_4_lut 14 16 0 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_8_lut 18 10 6 #SB_LUT4
set_location led_counter_583_790_add_4_18_lut 24 9 0 #SB_LUT4
set_location led_counter_583_790__i5 24 7 5 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.rd_en_i_I_0_2_lut 11 16 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1635_3_lut_4_lut 14 14 4 #SB_LUT4
set_location tx_addr_byte_r_i0_i6 11 16 0 #SB_DFF
set_location spi0.tx_shift_reg_i7 16 17 3 #SB_DFFN
set_location spi0.spi_clk_counter_589_add_4_5_lut 12 16 3 #SB_LUT4
set_location spi0.mux_514_i3_4_lut_4_lut 15 16 0 #SB_LUT4
set_location led_counter_583_790_add_4_21_lut 24 9 3 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i0 11 11 6 #SB_DFF
set_location led_counter_583_790__i13 24 8 5 #SB_DFF
set_location i1613_3_lut 11 14 4 #SB_LUT4
set_location spi0.i3099_2_lut_3_lut 15 16 5 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i5 16 16 7 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i5 18 10 5 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.i1042_2_lut_3_lut_4_lut 15 14 1 #SB_LUT4
set_location spi0.t_FSM_i4 16 15 4 #SB_DFFR
set_location spi0.spi_clk_counter_589_add_4_6 12 16 4 #SB_CARRY
set_location spi0.i1_2_lut_3_lut 15 17 2 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_4_lut 18 10 2 #SB_LUT4
set_location pc_tx.i3075_3_lut 16 12 6 #SB_LUT4
set_location pc_tx.i1164_3_lut 17 9 2 #SB_LUT4
set_location led_counter_583_790_add_4_24_lut 24 9 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1628_3_lut_4_lut 12 15 2 #SB_LUT4
set_location spi0.i2168_2_lut_4_lut 16 15 4 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_10 18 11 0 #SB_CARRY
set_location pc_tx.i3_4_lut 18 9 5 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i5 17 11 5 #SB_DFFESR
set_location led_counter_583_790_add_4_3_lut 24 7 1 #SB_LUT4
set_location led_counter_583_790_add_4_3 24 7 1 #SB_CARRY
set_location i1633_4_lut_4_lut 18 9 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1734_3_lut_4_lut 12 14 3 #SB_LUT4
set_location spi0.mux_514_i1_3_lut 15 15 7 #SB_LUT4
set_location reset_clk_counter_i3_584__i3 9 18 6 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_7 18 10 5 #SB_CARRY
set_location pc_rx.i4_4_lut 17 10 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i347_348 15 12 7 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1703_3_lut_4_lut 16 14 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1621_3_lut_4_lut 13 13 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1609_3_lut_4_lut 12 13 1 #SB_LUT4
set_location spi0.i1_4_lut 15 16 1 #SB_LUT4
set_location spi0.i1104_2_lut_4_lut 15 16 3 #SB_LUT4
set_location pc_rx.r_SM_Main_i1 19 14 1 #SB_DFFSR
set_location led_counter_583_790_add_4_17 24 8 7 #SB_CARRY
set_location i1650_4_lut 17 14 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3171 13 12 4 #SB_LUT4
set_location spi0.t_FSM_i13 14 16 3 #SB_DFFR
set_location spi0.spi_clk_counter_589__i3 12 16 3 #SB_DFFSR
set_location pc_tx.r_Tx_Active_46 18 9 4 #SB_DFF
set_location i1_4_lut_4_lut 14 13 7 #SB_LUT4
set_location i1685_3_lut 11 17 7 #SB_LUT4
set_location i1676_4_lut 13 12 2 #SB_LUT4
set_location spi0.i2163_2_lut_4_lut 14 16 2 #SB_LUT4
set_location pc_rx.i2252_4_lut 17 10 6 #SB_LUT4
set_location led_counter_583_790_add_4_7_lut 24 7 5 #SB_LUT4
set_location i531_4_lut 15 15 0 #SB_LUT4
set_location i1721_4_lut 17 17 0 #SB_LUT4
set_location i1634_3_lut 15 10 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i56_57 12 13 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1740_3_lut_4_lut 15 12 7 #SB_LUT4
set_location spi0.i2_3_lut 18 15 4 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_addr_r__i0 15 14 0 #SB_DFFSR
set_location tx_fifo.lscc_fifo_inst.i143_144 12 15 6 #SB_DFF
set_location spi0.tx_shift_reg_i11 16 17 7 #SB_DFFN
set_location led_counter_583_790__i0 24 7 0 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1637_3_lut_4_lut 13 13 3 #SB_LUT4
set_location spi0.tx_shift_reg_i4 17 16 1 #SB_DFFN
set_location led_counter_583_790_add_4_26_lut 24 10 0 #SB_LUT4
set_location led_counter_583_790_add_4_22_lut 24 9 4 #SB_LUT4
set_location led_counter_583_790_add_4_18 24 9 0 #SB_CARRY
set_location pc_rx.r_Rx_Byte_i5 14 13 4 #SB_DFF
set_location led_counter_583_790_add_4_20_lut 24 9 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3156 12 15 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i236_237 14 13 6 #SB_DFF
set_location spi0.Rx_Lower_Byte_i0 15 18 3 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i2 18 10 2 #SB_DFFESR
set_location pc_rx.r_Clock_Count_586_add_4_4 17 11 2 #SB_CARRY
set_location led_counter_583_790_add_4_12_lut 24 8 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i3 13 14 7 #SB_DFFE
set_location start_tx_213 16 14 5 #SB_DFF
set_location spi0.spi_clk_counter_589_add_4_5 12 16 3 #SB_CARRY
set_location pc_tx.r_Tx_Data_i1 13 11 0 #SB_DFF
set_location pc_tx.i737_2_lut_3_lut 16 10 7 #SB_LUT4
set_location pc_tx.i1286_2_lut_3_lut 16 8 3 #SB_LUT4
set_location pc_rx.i1_4_lut 18 13 4 #SB_LUT4
set_location pc_rx.i1_3_lut 17 10 3 #SB_LUT4
set_location i1_2_lut_adj_30 16 18 5 #SB_LUT4
set_location i1631_4_lut_4_lut 13 13 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3570_bdd_4_lut 13 14 5 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_3_lut 18 10 1 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_2 18 10 0 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.n3540_bdd_4_lut 10 15 7 #SB_LUT4
set_location tx_addr_byte_r_i0_i1 15 17 6 #SB_DFF
set_location spi0.rx__5_i1 16 18 1 #SB_DFF
set_location pc_tx.i3129_4_lut 18 9 7 #SB_LUT4
set_location led_counter_583_790_add_4_12 24 8 2 #SB_CARRY
set_location i1717_3_lut 13 17 0 #SB_LUT4
set_location spi0.t_FSM_i14 14 16 5 #SB_DFFR
set_location spi0.spi_clk_counter_589__i0 12 16 0 #SB_DFFSR
set_location i1698_3_lut 13 16 6 #SB_LUT4
set_location i1616_4_lut 12 15 1 #SB_LUT4
set_location spi0.i4_4_lut 12 17 1 #SB_LUT4
set_location led_counter_583_790__i22 24 9 6 #SB_DFF
set_location i1749_3_lut 13 11 0 #SB_LUT4
set_location i1732_4_lut 17 17 1 #SB_LUT4
set_location i1675_2_lut 14 14 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i332_333 14 13 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.EnabledDecoder_2_i3_2_lut_3_lut 14 14 2 #SB_LUT4
set_location spi0.i1_2_lut_3_lut_adj_19 14 18 0 #SB_LUT4
set_location spi0.i1641_2_lut_3_lut 16 16 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1627_3_lut_4_lut 14 14 3 #SB_LUT4
set_location pc_rx.i1_2_lut_4_lut 19 15 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.wr_en_i_I_0_2_lut 14 13 2 #SB_LUT4
set_location spi0.tx_shift_reg_i9 16 17 4 #SB_DFFN
set_location pc_rx.r_Bit_Index_i2 17 13 0 #SB_DFFESR
set_location pc_rx.r_Rx_DV_52 19 15 2 #SB_DFF
set_location pc_rx.i1_3_lut_4_lut 18 14 1 #SB_LUT4
set_location led_counter_583_790__i19 24 9 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3151 14 13 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1_2_lut_3_lut_4_lut 10 16 0 #SB_LUT4
set_location tx_data_byte_r_i0_i4 13 16 7 #SB_DFF
set_location spi0.Rx_Lower_Byte_i3 17 15 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i6 12 12 7 #SB_DFFE
set_location pc_tx.r_Tx_Data_i2 16 12 1 #SB_DFF
set_location led_counter_583_790_add_4_22 24 9 4 #SB_CARRY
set_location fifo_read_cmd_212 10 16 3 #SB_DFF
set_location pc_rx.i1_2_lut_adj_16 17 10 1 #SB_LUT4
set_location led_counter_583_790_add_4_5 24 7 3 #SB_CARRY
set_location i1645_4_lut_4_lut 12 11 6 #SB_LUT4
set_location tx_addr_byte_r_i0_i2 11 17 5 #SB_DFF
set_location spi0.tx_shift_reg_i3 17 17 7 #SB_DFFN
set_location spi0.state_reg_2__I_0_108_i5_3_lut_3_lut 15 17 5 #SB_LUT4
set_location spi0.rx__5_i4 15 18 7 #SB_DFF
set_location led_counter_583_790_add_4_11 24 8 1 #SB_CARRY
set_location i1_2_lut 16 18 1 #SB_LUT4
set_location i1665_2_lut 20 14 1 #SB_LUT4
set_location i1657_4_lut 13 13 7 #SB_LUT4
set_location spi0.spi_clk_counter_589__i5 12 16 5 #SB_DFFSS
set_location pc_tx.i1_4_lut 18 9 6 #SB_LUT4
set_location led_counter_583_790__i17 24 9 1 #SB_DFF
set_location spi0.i2171_2_lut_4_lut 15 15 3 #SB_LUT4
set_location pc_tx.r_Clock_Count_588__i9 18 11 1 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.wr_addr_p1_w_1__I_0_i2_2_lut_3_lut 15 13 3 #SB_LUT4
set_location spi0.t_FSM_i0 14 16 7 #SB_DFFS
set_location spi0.spi_clk_counter_589_add_4_2 12 16 0 #SB_CARRY
set_location i1748_3_lut 16 12 1 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i1 17 11 1 #SB_DFFESR
set_location led_counter_583_790_add_4_14_lut 24 8 4 #SB_LUT4
set_location i1744_3_lut 12 11 5 #SB_LUT4
set_location i1620_4_lut 14 12 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.rd_addr_r_0__bdd_4_lut_3146 12 14 4 #SB_LUT4
set_location pc_tx.r_Bit_Index_1__bdd_4_lut 15 11 3 #SB_LUT4
set_location pc_rx.r_Bit_Index_i1 17 13 1 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.i1632_3_lut_4_lut 12 15 6 #SB_LUT4
set_location spi0.state_reg_i2 15 16 6 #SB_DFFR
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_1_i3_4_lut 19 14 1 #SB_LUT4
set_location pc_rx.i13_4_lut 19 15 2 #SB_LUT4
set_location i1_2_lut_adj_24 15 18 7 #SB_LUT4
set_location i1652_4_lut 16 14 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1708_3_lut_4_lut 14 13 0 #SB_LUT4
set_location tx_data_byte_r_i0_i3 15 17 3 #SB_DFF
set_location pc_tx.r_SM_Main_i1 16 8 3 #SB_DFFSR
set_location pc_tx.n3522_bdd_4_lut 15 11 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i44_45 14 14 6 #SB_DFF
set_location pc_tx.r_Tx_Data_i7 12 11 7 #SB_DFF
set_location i1031_2_lut 20 14 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i5 14 12 3 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i341_342 13 12 5 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1733_3_lut_4_lut 14 14 1 #SB_LUT4
set_location pc_rx.i1_2_lut 19 13 2 #SB_LUT4
set_location i1699_3_lut 17 14 4 #SB_LUT4
set_location i1679_4_lut 15 12 1 #SB_LUT4
set_location debug_check_218 20 14 1 #SB_DFF
set_location spi0.tx_shift_reg_i15 17 17 5 #SB_DFFN
set_location led_counter_583_790__i4 24 7 4 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i59_60 14 12 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1626_3_lut_4_lut 12 13 3 #SB_LUT4
set_location tx_addr_byte_r_i0_i7 11 17 7 #SB_DFF
set_location spi0.tx_shift_reg_i0 14 18 0 #SB_DFFNSR
set_location spi0.rx__5_i7 16 16 3 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_6_lut 17 11 4 #SB_LUT4
set_location pc_rx.i3043_4_lut 17 10 2 #SB_LUT4
set_location pc_rx.i1_2_lut_4_lut_adj_11 17 14 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1624_4_lut_4_lut_4_lut 11 15 0 #SB_LUT4
set_location pc_tx.r_Bit_Index_i2 16 10 7 #SB_DFFESR
set_location pc_rx.r_Rx_Byte_i1 14 11 3 #SB_DFF
set_location led_counter_583_790__i10 24 8 2 #SB_DFF
set_location spi0.Rx_Lower_Byte_i4 16 16 1 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i6 18 10 6 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.i47_48 13 13 4 #SB_DFF
set_location spi0.t_FSM_i7 15 16 2 #SB_DFFR
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut 19 13 0 #SB_LUT4
set_location i1683_3_lut 13 11 3 #SB_LUT4
set_location i1648_3_lut 11 16 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1710_3_lut_4_lut 15 12 0 #SB_LUT4
set_location spi0.CS_81 13 15 0 #SB_DFFS
set_location pc_rx.r_Clock_Count_586_add_4_10_lut 17 12 0 #SB_LUT4
set_location pc_rx.r_Clock_Count_586__i6 17 11 6 #SB_DFFESR
set_location led_counter_583_790__i9 24 8 1 #SB_DFF
set_location i1730_4_lut 17 17 7 #SB_LUT4
set_location i1715_3_lut 17 15 4 #SB_LUT4
set_location i1700_3_lut 15 17 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3552_bdd_4_lut 12 12 5 #SB_LUT4
set_location spi0.start_transfer_edge_73 18 14 6 #SB_DFF
set_location spi0.i2166_2_lut_4_lut 16 15 2 #SB_LUT4
set_location reset_clk_counter_i3_584__i2 9 18 0 #SB_DFF
set_location pc_tx.r_Clock_Count_588_add_4_6 18 10 4 #SB_CARRY
set_location pc_tx.r_Clock_Count_588_add_4_7_lut 18 10 5 #SB_LUT4
set_location pc_rx.r_SM_Main_i0 19 14 0 #SB_DFFSR
set_location led_counter_583_790_add_4_16 24 8 6 #SB_CARRY
set_location led_counter_583_790_add_4_13_lut 24 8 3 #SB_LUT4
set_location i1_2_lut_adj_21 9 18 1 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i774_2_lut 11 15 3 #SB_LUT4
set_location spi0.t_FSM_i10 14 16 6 #SB_DFFR
set_location spi0.i2167_2_lut_4_lut 16 15 1 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_7_lut 17 11 5 #SB_LUT4
set_location i1_3_lut 11 16 3 #SB_LUT4
set_location spi0.state_reg_2__I_0_101_i5_2_lut_3_lut 16 15 6 #SB_LUT4
set_location led_counter_583_790_add_4_24 24 9 6 #SB_CARRY
set_location i1_3_lut_4_lut 9 18 6 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i6 12 11 6 #SB_DFF
set_location spi0.t_FSM_i9 14 16 2 #SB_DFFR
set_location pc_tx.i730_2_lut 16 10 6 #SB_LUT4
set_location pc_rx.i1_2_lut_adj_10 18 14 4 #SB_LUT4
set_location uart_rx_complete_prev_215 20 15 7 #SB_DFF
set_location spi0.tx_shift_reg_i10 16 17 2 #SB_DFFN
set_location pc_rx.r_Clock_Count_586__i8 17 12 0 #SB_DFFESR
set_location led_counter_583_790__i3 24 7 3 #SB_DFF
set_location pc_rx.i1_3_lut_4_lut_adj_15 18 14 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1608_3_lut_4_lut 14 12 6 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_2_lut 18 10 0 #SB_LUT4
set_location pc_rx.r_Rx_Byte_i6 13 12 2 #SB_DFF
set_location led_counter_583_790_add_4_17_lut 24 8 7 #SB_LUT4
set_location i1658_4_lut 14 13 4 #SB_LUT4
set_location spi0.i1_1_lut 15 17 1 #SB_LUT4
set_location pc_tx.r_Clock_Count_588__i3 18 10 3 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i2 13 14 0 #SB_DFFE
set_location spi0.spi_clk_counter_589_add_4_4 12 16 2 #SB_CARRY
set_location pc_tx.i2_3_lut_4_lut 16 9 3 #SB_LUT4
set_location i3041_4_lut 11 13 0 #SB_LUT4
set_location reset_all_r_207 9 18 4 #SB_DFF
set_location led_counter_583_790_add_4_4_lut 24 7 2 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_5 18 10 3 #SB_CARRY
set_location spi0.i2162_2_lut_4_lut 14 16 6 #SB_LUT4
set_location led_counter_583_790_add_4_15 24 8 5 #SB_CARRY
set_location i1_2_lut_adj_22 15 18 2 #SB_LUT4
set_location spi0.t_FSM_i15 14 16 4 #SB_DFFR
set_location tx_fifo.lscc_fifo_inst.n3546_bdd_4_lut 12 12 3 #SB_LUT4
set_location pc_rx.r_Clock_Count_586_add_4_9 17 11 7 #SB_CARRY
set_location led_counter_583_790__i21 24 9 5 #SB_DFF
set_location spi0.i1_2_lut_3_lut_adj_18 16 16 6 #SB_LUT4
set_location spi0.i28_4_lut 15 15 6 #SB_LUT4
set_location i1612_4_lut 11 13 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i38_39 16 14 0 #SB_DFF
set_location pc_tx.r_Clock_Count_588__i0 18 10 0 #SB_DFFESR
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_raw_r__i5 13 14 5 #SB_DFFE
set_location tx_fifo.lscc_fifo_inst.i233_234 12 14 5 #SB_DFF
set_location spi0.busy_86 16 16 0 #SB_DFF
set_location pc_tx.r_Tx_Data_i3 13 12 6 #SB_DFF
set_location spi0.i29_3_lut 15 15 2 #SB_LUT4
set_location led_counter_583_790_add_4_6 24 7 4 #SB_CARRY
set_location i1719_4_lut 17 17 3 #SB_LUT4
set_location spi0.rx__5_i3 15 18 4 #SB_DFF
set_location spi0.i19_3_lut 16 16 2 #SB_LUT4
set_location pc_tx.r_Clock_Count_588_add_4_6_lut 18 10 4 #SB_LUT4
set_location led_counter_583_790_add_4_10 24 8 0 #SB_CARRY
set_location led_counter_583_790__i14 24 8 6 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i1738_3_lut_4_lut 13 12 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i155_156 12 14 0 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location tx_fifo.lscc_fifo_inst.i1636_3_lut_4_lut 13 13 4 #SB_LUT4
set_location pc_tx.i2231_4_lut 18 9 0 #SB_LUT4
set_location i1687_3_lut_4_lut 16 14 5 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i329_330 12 14 3 #SB_DFF
set_location pc_rx.r_Bit_Index_i0 18 14 5 #SB_DFF
set_location pc_tx.i1_3_lut_4_lut 16 9 2 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i239_240 12 15 3 #SB_DFF
set_location pc_tx.r_SM_Main_i0 17 9 2 #SB_DFFSR
set_location i1742_3_lut 12 17 6 #SB_LUT4
set_location pc_tx.r_Tx_Data_i4 12 9 1 #SB_DFF
set_location tx_fifo.lscc_fifo_inst.i41_42 13 13 5 #SB_DFF
set_location pc_tx.i3103_4_lut_4_lut 18 9 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1642_3_lut_4_lut 15 13 1 #SB_LUT4
set_location spi0.tx_shift_reg_i14 17 17 3 #SB_DFFN
set_location pc_rx.r_Rx_Data_R_49 20 10 1 #SB_DFF
set_location pc_rx.r_Rx_Data_50 20 11 4 #SB_DFF
set_location spi0.tx_shift_reg_i1 17 17 1 #SB_DFFN
set_location spi0.rx__5_i6 16 16 4 #SB_DFF
set_location led_counter_583_790_add_4_16_lut 24 8 6 #SB_LUT4
set_location led_counter_583_790_add_4_11_lut 24 8 1 #SB_LUT4
set_location i1_2_lut_adj_28 16 16 3 #SB_LUT4
set_location led_counter_583_790__i11 24 8 3 #SB_DFF
set_location i1697_3_lut 11 16 0 #SB_LUT4
set_location i1043_2_lut_3_lut_4_lut 15 14 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i50_51 12 15 2 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_3 17 11 1 #SB_CARRY
set_location spi0.i3114_2_lut 14 15 6 #SB_LUT4
set_location pc_rx.i715_2_lut_3_lut 17 13 0 #SB_LUT4
set_location led_counter_583_790__i8 24 8 0 #SB_DFF
set_location spi0.state_reg_i0 15 16 4 #SB_DFFR
set_location pc_rx.r_Clock_Count_586_add_4_5_lut 17 11 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1709_3_lut_4_lut 15 13 7 #SB_LUT4
set_location pc_tx.i1163_4_lut 16 9 5 #SB_LUT4
set_location pc_rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut 18 14 3 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.n3564_bdd_4_lut 16 13 7 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.mem_LUT.data_buff_r__i7 12 11 4 #SB_DFF
set_location spi0.t_FSM_i8 14 17 4 #SB_DFFR
set_location pc_rx.r_Clock_Count_586_add_4_8_lut 17 11 6 #SB_LUT4
set_location pc_rx.i3133_3_lut_4_lut 18 13 7 #SB_LUT4
set_location led_counter_583_790_add_4_8 24 7 6 #SB_CARRY
set_location led_counter_583_790_add_4_19_lut 24 9 1 #SB_LUT4
set_location i1750_3_lut 15 12 6 #SB_LUT4
set_location spi0.tx_shift_reg_i13 17 17 2 #SB_DFFN
set_location spi0.start_transfer_prev_74 18 14 0 #SB_DFF
set_location pc_rx.r_Clock_Count_586__i9 17 12 1 #SB_DFFESR
set_location i1729_4_lut 17 16 1 #SB_LUT4
set_location spi_busy_falling_edge_209 16 14 3 #SB_DFF
set_location spi0.tx_shift_reg_i6 17 16 4 #SB_DFFN
set_location spi0.spi_clk_76 12 15 4 #SB_DFF
set_location spi0.i3125_3_lut 12 17 2 #SB_LUT4
set_location led_counter_583_790__i12 24 8 4 #SB_DFF
set_location i1757_4_lut_4_lut 11 14 3 #SB_LUT4
set_location spi0.i2157_2_lut_4_lut 14 16 4 #SB_LUT4
set_location spi0.Rx_Lower_Byte_i6 17 18 0 #SB_DFF
set_location pc_rx.r_Clock_Count_586_add_4_6 17 11 4 #SB_CARRY
set_location tx_fifo.lscc_fifo_inst.i245_246 14 13 0 #SB_DFF
set_location fifo_write_cmd_211 14 14 7 #SB_DFF
set_location i1_2_lut_3_lut_4_lut 9 18 0 #SB_LUT4
set_location tx_fifo.lscc_fifo_inst.i1640_3_lut_4_lut 13 13 5 #SB_LUT4
set_io SOUT 139
set_io SCK 144
set_io FIFO_D31 16
set_io FIFO_D20 29
set_io FIFO_D13 39
set_io FIFO_D1 61
set_io FIFO_CLK 21
set_io FIFO_BE2 11
set_io DATA15 105
set_io DATA4 119
set_io DATA23 120
set_io RST 78
set_io FIFO_D4 55
set_io FIFO_D14 38
set_io UART_TX 79
set_io DATA10 96
set_io DATA28 130
set_io DATA19 114
set_io SDAT 143
set_io FT_SIWU 7
set_io DATA0 138
set_io FT_WR 4
set_io FIFO_D27 20
set_io FIFO_D10 43
set_io FIFO_D0 62
set_io FIFO_BE3 10
set_io DEBUG_0 83
set_io FIFO_D9 44
set_io DATA14 102
set_io UPDATE 88
set_io RESET 142
set_io FIFO_D21 28
set_io FIFO_D12 41
set_io FIFO_BE1 12
set_io DEBUG_6 82
set_io DATA5 116
set_io DATA24 121
set_io SEN 141
set_io FIFO_D7 47
set_io FIFO_D15 37
set_io ICE_CREST 71
set_io FIFO_D23 25
set_io DATA3 122
set_io DATA22 118
set_io DATA13 101
set_io INVERT 91
set_io FT_RD 3
set_io FIFO_D5 49
set_io FIFO_D24 24
set_io FIFO_D17 33
set_io DSR 74
set_io DEBUG_3 87
set_io DATA29 135
set_io DATA18 112
set_io ICE_SYSCLK 93
set_io ICE_CLK 52
set_io DATA20 115
set_io DATA11 97
set_io DATA1 134
set_io VALID 94
set_io SYNC 90
set_io FIFO_D3 56
set_io FIFO_D26 22
set_io FIFO_D11 42
set_io DEBUG_1 84
set_io DATA8 104
set_io DATA31 137
set_io DATA27 129
set_io CTS 76
set_io FIFO_D8 45
set_io FIFO_D18 32
set_io DEBUG_8 63
set_io DCD 73
set_io DATA17 110
set_io SLM_CLK 95
set_io DATA6 113
set_io DATA25 124
set_io ICE_CDONE 1
set_io FIFO_D6 48
set_io FIFO_D29 18
set_io UART_RX 80
set_io FIFO_D22 26
set_io FIFO_BE0 15
set_io DEBUG_5 81
set_io DATA12 98
set_io DTR 75
set_io DATA21 117
set_io DATA2 128
set_io FIFO_D25 23
set_io FIFO_D2 60
set_io FIFO_D16 34
set_io DEBUG_2 85
set_io DATA9 99
set_io DATA30 136
set_io FT_TXE 9
set_io FR_RXF 8
set_io FIFO_D19 31
set_io DEBUG_9 64
set_io DATA16 106
set_io FT_OE 2
set_io DATA7 107
set_io DATA26 125
set_io FIFO_D30 17
set_io FIFO_D28 19
